{% assign bg = 'banner-bg.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.banner{
    background: var(--color-secondary) url('{{ bg }}') center no-repeat;
    background-size: cover;
    color: white;
  }
  #shopify-section-{{section.id}}.banner .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  #shopify-section-{{section.id}}.banner .btn{
    margin-top: 16px;
  }
{% endstyle %}

  <div class="container">
    <h2 class="text-center">
      Looking for the <br>
      <span>
        Member Portal?
      </span>
    </h2>
    <p class="text-center">
      Access your membership for exclusive benefits!
    </p>
    <a href="{{  section.settings.cta_url }}" class="btn">
      {{  section.settings.cta_title }}
    </a>
  </div>

{% schema %}
  {
    "tag": "section",
    "class": "banner",
    "settings": [
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA button url"
      },
      {
        "type": "text",
        "id": "cta_title",
        "label": "CTA button title"
      }
    ]
  }
{% endschema %}