{% comment %} for about us {% endcomment %}

{% assign bringing-display = 'healthcare_hero-img.png' | asset_url | append: '?v=' | append: 'timestamp' %}


{% style %}

    #shopify-section-{{section.id}} .healthcare_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 24px;
    }
    
    #shopify-section-{{section.id}} .healthcare_content-text.bringing_content-text{
        max-width: 650px;
        width: 100%;
    }
    
    #shopify-section-{{section.id}} .healthcare_content-img{
        max-width: 650px;
        width: 100%;
    }
    #shopify-section-{{section.id}} .healthcare_content-img > img{
        max-width: 650px;
        width: 100%;
        object-fit: cover;
    }
    #shopify-section-{{section.id}} .bringing_text-dsc > span{
        font-weight: 500;
        font-family: "General Sans Semibold"
    }

    #shopify-section-{{section.id}} .bringing_content-text > h1{
        color: #232323;
        font-family: "General Sans Reguler";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; /* 67.857% */
        letter-spacing: -0.4px;
    }
    #shopify-section-{{section.id}} .bringing_content-text > span{
        color: #232323;
        font-family: "Cormorant Garamond";
        font-size: 64px;
        font-style: italic;
        font-weight: 700;
        line-height: 38px; /* 59.375% */
        letter-spacing: -0.4px;
    }

@media (max-width: 768px) {
    #shopify-section-{{section.id}} .healthcare_content {
        flex-direction: column;
        text-align: start;
    }
    #shopify-section-{{section.id}}.hero-healthcare {
        padding-top: 40px;
    }
    
    #shopify-section-{{section.id}} .bringing_content-text {
        margin-top: 40px;
    }

    #shopify-section-{{section.id}} .bringing_content-text > h1 {
        font-size: 36px;
        line-height: 120%;
        text-align: center;
    }

    #shopify-section-{{section.id}} .bringing_content-text > span {
        font-size: 40px;
        line-height: 120%;
        text-align: start;
    }
}

    

    {% endstyle %}
    
    <div class="container">
        <div class="healthcare_content">
            <div class="healthcare_content-img">
                {% if section.settings.section_image != blank %}
                    {{ section.settings.section_image | image_url: width: 650 | image_tag }}
                {% else %}
                    <img src={{bringing-display}} alt="" class="image-display">
                {% endif %}
            </div>
            <div class="healthcare_content-text bringing_content-text">
                <h1 class="m-btm m-32">
                    {% if section.settings.section_title %}
                        {{ section.settings.section_title }}
                    {% else %}
                        Bringing Innovative Science <br>
                        <span>
                            Directly to your Door
                        </span>
                    {% endif %}
                </h1>
                <p class="bringing_text-dsc">
                    {% if section.settings.section_desc != blank %}
                        {{ section.settings.section_desc }}
                    {% else %}
                        <span>Memory Air®</span> is dedicated to revolutionizing brain and memory care based directly on high-quality, consistent science that is causal, not just correlative.<br><br>
                        That means we have very, very high confidence in the science. By marrying simple, easy-to-use design with this powerful science, we are committed to bringing customers real results in a space overrun with claims that just can’t be backed up.<br><br>
                        With <span>Memory Air®</span>, you can trust that you will feel better and experience real results.
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    
    
    {% schema %}
        {
            "tag": "section",
            "class": "hero-healthcare",
            "settings": [
                {
                    "type": "textarea",
                    "id": "section_title",
                    "label": "Section title",
                    "info": "Wrap italic font with <span>",
                },
                {
                    "type": "textarea",
                    "id": "section_desc",
                    "label": "Section description",
                },
                {
                    "type": "image_picker",
                    "id": "section_image",
                    "label": "Section image",
                },
            ],
            "presets": [
                {
                "name": "About us product section",
                },
            ]
        }
    {% endschema %}