{% comment %} for about us {% endcomment %}

{% assign bringing-display = 'healthcare_hero-img.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign three_asset = 'Air_Purifier2.glb' | asset_url | append: '?v=' | append: 'timestamp' %}
{% comment %} {% assign three_asset = 'Air_02.gltf' | asset_url | append: '?v=' | append: 'timestamp' %} {% endcomment %}


{% style %}

    #shopify-section-{{section.id}} .healthcare_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 24px;git 
    }
    
    #shopify-section-{{section.id}} .healthcare_content-text.bringing_content-text{
        max-width: 650px;
        width: 100%;
    }
    
    #shopify-section-{{section.id}} .healthcare_content-img{
        max-width: 650px;
        width: 100%;
    }
    #shopify-section-{{section.id}} .healthcare_content-img > img{
        max-width: 650px;
        width: 100%;
        object-fit: cover;
    }
    #shopify-section-{{section.id}} .bringing_text-dsc > span{
        font-weight: 500;
        font-family: "General Sans Semibold"
    }

    #shopify-section-{{section.id}} .bringing_content-text > h2{
        color: #232323;
        font-family: "General Sans Reguler";
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; /* 67.857% */
        letter-spacing: -0.4px;
    }
    #shopify-section-{{section.id}} .bringing_content-text > span{
        color: #232323;
        font-family: "Cormorant Garamond";
        font-size: 64px;
        font-style: italic;
        font-weight: 700;
        line-height: 38px; /* 59.375% */
        letter-spacing: -0.4px;
    }

@media (max-width: 768px) {
    #shopify-section-{{section.id}} .healthcare_content {
        flex-direction: column;
        text-align: start;
    }
    #shopify-section-{{section.id}}.hero-healthcare {
        padding-top: 40px;
    }
    
    #shopify-section-{{section.id}} .bringing_content-text {
        margin-top: 40px;
    }

    #shopify-section-{{section.id}} .bringing_content-text > h1 {
        font-size: 36px;
        line-height: 120%;
        text-align: center;
    }

    #shopify-section-{{section.id}} .bringing_content-text > span {
        font-size: 40px;
        line-height: 120%;
        text-align: start;
    }
}

    

    {% endstyle %}
    
    <div class="container">
        <div class="healthcare_content">
            <div class="healthcare_content-img">
                <div id="threejs-container" style="width: 100%; height: 500px;"></div>
                <button id="rotate-btn" class="btn is-black">Rotate</button>
                {% comment %} {% if section.settings.section_image != blank %}
                    <img src="{{ section.settings.section_image | img_url: 'medium' }}" alt="" class="image-display">
                {% else %}
                    <img src="{{ bringing-display }}" alt="" class="image-display">
                {% endif %} {% endcomment %}
            </div>
            <div class="healthcare_content-text bringing_content-text">
                <h2 class="m-btm m-32">
                    {% if section.settings.section_title != blank %}
                        {{ section.settings.section_title }}
                    {% else %}
                        Bringing Innovative Science <br>
                        <span>
                            Directly to your Door
                        </span>
                    {% endif %}
                </h2>
                <p class="bringing_text-dsc">
                    {% if section.settings.section_desc != blank %}
                        {{ section.settings.section_desc }}
                    {% else %}
                        <span>Memory Air®</span> is dedicated to revolutionizing brain and memory care based directly on high-quality, consistent science that is causal, not just correlative.<br><br>
                        That means we have very, very high confidence in the science. By marrying simple, easy-to-use design with this powerful science, we are committed to bringing customers real results in a space overrun with claims that just can’t be backed up.<br><br>
                        With <span>Memory Air®</span>, you can trust that you will feel better and experience real results.
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <script>
        let model, renderer, camera, scene;
        let lights = [];

        function fitCameraToObject(camera, object, offset = 0.9) {
            const box = new THREE.Box3().setFromObject(object);
            const size = box.getSize(new THREE.Vector3());
            const center = box.getCenter(new THREE.Vector3());
        
            // Posisikan kamera agar model pas dalam frame
            const maxSize = Math.max(size.x, size.y, size.z);
            const fov = camera.fov * (Math.PI / 180);
            let distance = Math.abs(maxSize / Math.sin(fov / 2));
        
            camera.position.set(center.x, center.y, center.z + distance * offset);
            camera.lookAt(center);
        }

        document.addEventListener("DOMContentLoaded", function () {
        
            const container = document.getElementById("threejs-container");
            
            if (!container) {
                return;
            }
            
            scene = new THREE.Scene();
            scene.background = new THREE.Color(0xaaaaaa);
            {% comment %}             
            const camera = new THREE.PerspectiveCamera(75, container.clientWidth / container.clientHeight, 0.1, 1000); {% endcomment %}

            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setSize(container.clientWidth, container.clientHeight);
            container.appendChild(renderer.domElement);

        
            {% comment %} const light = new THREE.AmbientLight(0xffffff, 1);
            scene.add(light); {% endcomment %}
            {% comment %} camera.position.set(0, 0, 1.324);  {% endcomment %}
        
        
        
            const loader = new THREE.GLTFLoader();
            loader.load("{{ three_asset }}", function (gltf) {

                model = gltf.scene;
                model.scale.set(1, 1, 1);
                scene.add(model);

                fitCameraToObject(camera, model)

                const glbCamera = gltf.cameras[0]; 
                if (glbCamera) {
                    camera = glbCamera;
                }

                
                model.traverse((object) => {
                    if (object.isLight) {
                        object.intensity = 0.1;
                        lights.push(object);
                    }
                });

                
                {% comment %} renderer.render(scene, camera); {% endcomment %}
                
                function animate() {
                    requestAnimationFrame(animate);
                    if(model){
                        model.children[0].rotation.y += 0.01;
                    }
                    renderer.render(scene, camera);
                }

                animate();

                $('#rotate-btn').click(()=>{
                    if(model){
                        model.children[0].rotation.y += 0.5;
                    }
                    renderer.render(scene, camera);
                })

            }, undefined, function (error) {
                console.error("Gagal memuat model:", error);
            });

        });
        
    </script>
    
    
    {% schema %}
        {
            "tag": "section",
            "class": "hero-healthcare",
            "settings": [
                {
                    "type": "textarea",
                    "id": "section_title",
                    "label": "Section title",
                    "info": "Wrap italic font with <span>",
                },
                {
                    "type": "textarea",
                    "id": "section_desc",
                    "label": "Section description",
                },
                {
                    "type": "image_picker",
                    "id": "section_image",
                    "label": "Section image",
                },
            ],
            "presets": [
                {
                "name": "About us product section",
                },
            ]
        }
    {% endschema %}