{% comment %} for detail article{% endcomment %}


{% style %}
    #shopify-section-{{section.id}}{
        padding-block: 0px;
    }
    #shopify-section-{{section.id}}.section_article-detail {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        }

    #shopify-section-{{section.id}} .detail-article_wraper {
        /* display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 1284px; */
        display: flex;
        gap: 42px;
        margin-inline: auto;
    }
    @media only screen and (max-width: 990px) {
        #shopify-section-{{section.id}} .detail-article_wraper {
            /* grid-template-columns: 1fr;
            gap: 32px; */
            flex-direction: column;
        }
    }
    #shopify-section-{{section.id}} .detail-article-left{
        flex-shrink: 0;
    }
    #shopify-section-{{section.id}} .detail-article-right{
        max-width: 70%;
        margin: auto;
    }
    @media only screen and (max-width: 990px) {
        #shopify-section-{{section.id}} .detail-article-right{
            max-width: 100%;
        }
    }

    #shopify-section-{{section.id}} .detail-box{
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #F4EDE4;
        background: #FFF;
        box-shadow: -2px 2px 10px 0px rgba(204, 204, 204, 0.05), 2px 2px 20px 0px rgba(204, 204, 204, 0.05);
        max-width: 300px;
    }
    @media only screen and (max-width: 990px) {
        #shopify-section-{{section.id}} .detail-box{
            max-width: 100%;
        }
    }

{% endstyle %}

    <div class="container m-btm m-54 container_article-detail">
        <div class="detail-article_wraper">
            <div class="detail-article-left">
                <div class="detail-box">
                    <span>
                        {{ article.expert }}
                    </span>
                </div>
            </div>
            <div class="detail-article-right">
                {{ article.content | html }}
            </div>
        </div>
    </div>

    {% render 'submission' %}
    

    {% schema %}
        {
            "tag": "section",
            "class": "section_article-detail"
        }
    {% endschema %}