{% comment %} for detail article{% endcomment %}


{% style %}
    #shopify-section-{{section.id}}{
        padding-block: 0px;
    }
    #shopify-section-{{section.id}}.section_article-detail {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        }

    #shopify-section-{{section.id}} .detail-article_wraper {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 1284px;
        margin-inline: auto;
    }
    @media only screen and (max-width: 990px) {
        #shopify-section-{{section.id}} .detail-article_wraper {
            grid-template-columns: 1fr;
            gap: 32px;
        }
    }

    #shopify-section-{{section.id}} .detail-box{
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #F4EDE4;
        background: #FFF;
        box-shadow: -2px 2px 10px 0px rgba(204, 204, 204, 0.05), 2px 2px 20px 0px rgba(204, 204, 204, 0.05);
        max-width: 300px;
    }
    @media only screen and (max-width: 990px) {
        #shopify-section-{{section.id}} .detail-box{
            max-width: 100%;
        }
    }

{% endstyle %}

    <div class="container m-btm m-54 container_article-detail">
        <div class="detail-article_wraper">
            <div class="detail-article-left">
                <div class="detail-box">
                    <span>“We saw a 226% improvement in enriched individuals relative to controls. This is the largest improvement in memory ever reported in healthy seniors.”</span>
                </div>
            </div>
            <div class="detail-article-right">
                {{ article.content | html }}
            </div>
        </div>
    </div>

    {% render 'submission' %}

    {% comment %} <div class="container m-top m-54 container_article-detail">

        <div class="detail-article_wraper">
            <div class="detail-article-left">
                <div></div>
            </div>
            <div class="detail-article-right">
                <div>
                    <p>
                        After olfactory enrichment at night, in fMRI scans we found a similar statistically significant change in the uncinate fasciculus of the enriched group. This highly important brain pathway has been implicated in maintaining cognitive processes (72) and it deteriorates in aging and Alzheimer’s disease (24;51).
                        <br>
                        <br>
                        <h3>Increased complexity of olfactory enrichment improves dementia symptoms.</h3> 
                        Cha, et al. (11) Exposed 34 older adults with dementia to 40 odorants twice a day for 15 days. The control group
                        consisted of 31 individuals with dementia who received no such stimulation. The olfactory-enriched group showed highly significant improvements of up to 300% over controls on 5 different standardized memory tests, and a 325% improvement in depression symptoms. These are remarkable results, and in only 15 days.
                        <br>
                        <br>
                        <h3>Olfactory enrichment at night.</h3>
                        While sniffing 40 odorants twice a day would benefit older adults, it is unlikely that they would be able to open and close 80 sniff bottles each day, as well as to load the bottles into a diffuser device. This problem would be expected to be compounded if people have memory issues or have difficulty opening and closing small bottles. 
                        <br>
                        <br>
                        People, of course, are also busy. It’s hard to remember to do all the self-care people would indeed want. Fortunately, Memory Air® is now designed to present 40 essential-oil odorants sequentially twice nightly. This totals 80 olfactory stimulations without any effort, all while people are sleeping.
                        <br>
                        <br>
                        <h3>An additional benefit: acting younger. </h3> 
                        In a study of 91 participants, Hummel, et. al 2017 found that stimulating older adults with olfactory enrichment led participants to “act” statistically younger than the control group. The enriched group engaged in activities 6 years younger compared to the control group. This was achieved in just 5 months of olfactory enrichment. It appears that olfactory enrichment puts a real bounce in your step. You literally act like a younger person. (80)
                        <br>
                        <br>
                        <h3>Potential mechanism.</h3> 
                        Sensing pleasant odors suppresses chronic inflammation. More strikingly, even the act of imagining pleasant odors suppresses the immune response, specifically circulating interleukin-2 (46;66). Six months of exposure to menthol odor improved the memory of both young mice and mice that were bred to model Alzheimer’s disease (10). This odor exposure also suppressed inflammation (IL-1b).
                        <br>
                        <br>
                        We have now identified 139 medical conditions that are accompanied by both olfactory loss and chronic inflammation (44). It may be the case that olfactory loss raises the risk of the developing these medical conditions. It seems possible that olfactory enrichment may improve symptoms of these neurological and somatic medical conditions through a similar mechanism.
                        <br>
                        <br>
                        Memory Air® has been designed based upon the science of olfactory enrichment. The device itself, however, has not been tested to replicate the results of these 20 underlying studies. It is not required to be approved by the FDA since it does not treat diseases. As does the underlying science, it has been designed to alleviate the symptoms of diseases and conditions.
                        <br>
                        <br>
                        And the underlying science is clear:
                        <br>
                        <br>
                        <h3>● Consistent Science </h3><br>
                        <h3>● High Confidence</h3> <br>
                        <h3>● Causal, Not Just Correlative</h3> <br>
                    </p>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    

    {% schema %}
        {
            "tag": "section",
            "class": "section_article-detail"
        }
    {% endschema %}