{% style %}
  #shopify-section-{{section.id}}.faq-body {
    background-color: grey;
  }
  #shopify-section-{{section.id}}.faq-body .wrapper {
    display: flex;
    padding: 142px 50px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
  }
  #shopify-section-{{section.id}}.faq-body .basic_item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 100px;
  }
  #shopify-section-{{section.id}}.faq-body h3 {
    flex: 1;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    padding-bottom: 32px;
  }
  #shopify-section-{{section.id}}.faq-body h3::after {
    content: "";
    background: linear-gradient(90deg, #3c2e25 17.72%, #f8f5f4 121.25%);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  #shopify-section-{{section.id}}.faq-body h3 span {
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
  }
  #shopify-section-{{section.id}}.faq-body .faq_wrap {
    width: 100%;
    max-width: 60%;
  }

{% endstyle %}

  <div class="container">
    <div class="wrapper">
      <div class="basic_item">
        <h3>
          General <br>
          <span>
            Information
          </span>
        </h3>
        <div class="faq_wrap">
          {% assign title = "Why isn't a diffuser enough to improve my memory?" %}
          {% render 'faq-accordion' with title %}
          {% render 'faq-accordion' with title %}
          {% render 'faq-accordion' with title %}
          {% render 'faq-accordion' with title %}
        </div>
      </div>
    </div>
  </div>


<script>
  $(document).ready(() => {
    const acc = document.querySelectorAll('.faq_item .head');
    let i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function () {
        this.classList.toggle('active');
        const panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + 'px';
        }
      });
    }
  });
</script>

{% schema %}
  {
    "tag": "section",
    "class": "faq-body"
  }
{% endschema %}