{% style %}
  #shopify-section-{{section.id}}.faq-body {
    /* background-color: grey; */
  }
  #shopify-section-{{section.id}}.faq-body .wrapper {
    display: flex;
    padding: 142px 50px;
    flex-direction: row;
    background-color: white;
    width: 100%;
    gap: 100px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.faq-body .wrapper {
      flex-direction: column;
    }
  }
  #shopify-section-{{section.id}}.faq-body .basic_item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
    padding-left: 68px;
    border-left: 0.5px solid #000;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.faq-body .basic_item {
      padding-left: unset;
      border-left: unset;
    }
  }
  #shopify-section-{{section.id}}.faq-body h3 {
    flex: 1;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    padding-bottom: 32px;
    width: fit-content;
  }
  #shopify-section-{{section.id}}.faq-body h3::after {
    content: "";
    background: linear-gradient(90deg, #3c2e25 17.72%, #f8f5f4 121.25%);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  #shopify-section-{{section.id}}.faq-body h3 span {
    font-size: 72px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
  }
  #shopify-section-{{section.id}}.faq-body .faq_wrap {
    width: 100%;
    margin: unset;
    margin-bottom: 32px;
  }
  #shopify-section-{{section.id}} .toc{
    position: sticky;
    top: 100px;
  }
  #shopify-section-{{section.id}} .toc > div{
    font-family: "General Sans Medium";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  #shopify-section-{{section.id}} .toc ul{
    list-style: decimal;
    padding-left: 12px;
  }
  #shopify-section-{{section.id}} .toc a{
    color: var(--color-primary);
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
{% endstyle %}

  <div class="container">
    <div class="wrapper">
      <div class="toc">
        <div>Table of Content</div>
        <ul>
          {% if section.blocks != blank %}
            {%-  for block in section.blocks -%}
              <li>
                <div onclick="jumpTo('{{ block.settings.faq_cat_title | upcase | remove: ' ' | join: '-' }}')">
                  {{ block.settings.faq_cat_title }}
                </div>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <div class="basic_item">
        {% if section.blocks != blank %}
          {%-  for block in section.blocks -%}
            <h3 id="{{ block.settings.faq_cat_title | upcase | remove: ' ' | join: '-' }}">
              {{ block.settings.faq_cat_title }}
            </h3>
            <div class="faq_wrap">
              {%-  for item in block.settings.faq_list -%}
                {% render 'faq-accordion' with item %}
              {%- endfor -%}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <script>
    function jumpTo(id){
      const element = getElementById(id);
      element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
    }
  </script>

{% schema %}
  {
    "tag": "section",
    "class": "faq-body",
    "blocks": [
      {
        "name": "FAQ Category",
        "type": "faq_cat",
        "settings": [
          {
            "type": "textarea",
            "id": "faq_cat_title",
            "label": "FAQ category title",
            "info": "Wrap italic font with <span>"
          },
          {
            "type": "metaobject_list",
            "id": "faq_list",
            "label": "FAQ list",
            "metaobject_type": "faq"
          },
        ]
      }
    ],
  }
{% endschema %}