{% comment %} for healthcare page {% endcomment %}


{% assign finaly-img = 'finaly-img.png' | asset_url | append: '?v=' | append: 'timestamp' %}

	
{% style %}

	#shopify-section-{{section.id}}.finaly{
		padding-block: 48px;
		background-color: #3C2E25;
	}
	#shopify-section-{{section.id}} .finaly_wraper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 80px
	}
	#shopify-section-{{section.id}} .finaly_title{
		max-width: 1050px;
		width: 100%;
		text-align: center;
		color: #fff;
	}

	#shopify-section-{{section.id}} .finaly_wraper-content {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 60px;
		max-width: 1083px;
	}
	#shopify-section-{{section.id}} .finaly_wraper-img{
		width: 80%;
	}
    @media (max-width: 480px) {
      #shopify-section-{{section.id}} .finaly_wraper-img{
  		width: 100%;
      }
    }
  
	#shopify-section-{{section.id}} .finaly_wraper-img-card{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#shopify-section-{{section.id}} .finaly-card_head{
		display: flex;
		justify-content: center;
	}

	#shopify-section-{{section.id}} .finaly-card_body{
		display: flex;
		flex-direction: column;
		padding: 24px;
		border-radius: 0px 0px 16px 16px;
		background: var(--Accent-1, #E1A277);
		box-shadow: -2px 2px 10px 0px rgba(204, 204, 204, 0.05), 2px 2px 20px 0px rgba(204, 204, 204, 0.05);
	}
	#shopify-section-{{section.id}} .finaly-card_head > img{
		width: 100%;
	}
		
	#shopify-section-{{section.id}} .finaly-card_body-title {
		color: #232323;
		font-family: "Avenir";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
	}
	#shopify-section-{{section.id}} .finaly-card_body-dsc > span {
		font-weight: 600;
		
	}
	#shopify-section-{{section.id}} .link-finaly{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: 6px;
		color: #3C2E25;
		font-family: "General Sans";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 19.2px */
	}
	
	#shopify-section-{{section.id}} .finaly_wraper-text{
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: flex-start;
		gap: 32px;
		color: #FFF;
		max-width: 600px;
		width: 100%;
	}

	#shopify-section-{{section.id}} .finaly_wraper-text > h2 {
		text-align: center;
		font-family: "General Sans";
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%; /* 41.6px */
        margin-bottom: 120px;
	}

	#shopify-section-{{section.id}} .finaly_text-number{
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: flex-start;
		gap: 24px;
	}

	#shopify-section-{{section.id}} .text-number_percent{
		color: #FFF;
		font-family: "General Sans";
		font-size: 56px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%; /* 89.6px */
        width: 35%;
	}

	#shopify-section-{{section.id}} .text-number_dsc{
		color: #FFF;
		font-family: "General Sans";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 38.4px */
        flex: 1;
	}

@media (max-width: 768px) {
    #shopify-section-{{section.id}} .finaly_wraper {
        gap: 40px;
    }

    #shopify-section-{{section.id}} .finaly_wraper-content {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    #shopify-section-{{section.id}} .finaly_wraper-text {
        gap: 40px;
        text-align: center;
        align-items: center;
    }
	#shopify-section-{{section.id}} .finaly_title,
	#shopify-section-{{section.id}} .finaly_title-span{
		font-size: 44px;
	}

    #shopify-section-{{section.id}} .finaly_wraper-text > h2 {
        font-size: 24px;
    }

    #shopify-section-{{section.id}} .finaly_text-number {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #shopify-section-{{section.id}} .text-number_percent {
        font-size: 40px;
    }

    #shopify-section-{{section.id}} .text-number_dsc {
        font-size: 18px;
    }

    #shopify-section-{{section.id}} .finaly_wraper-img-card {
        width: 100%;
    }

    #shopify-section-{{section.id}} .finaly-card_body {
        padding: 16px;
    }

    #shopify-section-{{section.id}} .finaly-card_body-title {
        font-size: 18px;
    }

    #shopify-section-{{section.id}} .link-finaly {
        justify-content: center;
    }
}


{% endstyle %}
	

	<div class="container">
			<div class="finaly_wraper">
					<h2 class="finaly_title">Finally, the Biggest Improvement in
							<span class="finaly_title-span">Human Memory Ever Discovered...</span>
					</h2>
					<div class="finaly_wraper-content">
						<div class="finaly_wraper-img">
							<div class="finaly_wraper-img-card">
								<div class="finaly-card_head">
									<img src={{finaly-img}} alt="">
								</div>
								<div class="finaly-card_body">
									<p class="finaly-card_body-title m-btm m-32">The Underlying Science Behind <br> Memory Air®: 20 Studies & 2 Literature Reviews</p>
									<ul class="finaly-card_body-dsc m-btm m-32">
										<li>
                                          <span>● Consistent Science:</span> Repeated research shows memory improvement.
                                        </li>
										<li>
                                          <span>● High Confidence:</span> Results are consistent across multiple studies.
                                        </li>
										<li>
                                          <span>● Causal, Not Correlative:</span> Proven to directly improve memory, not just associated with it.
                                        </li>
									</ul>
									<a href="/pages/press-resources" class="link-finaly">Read in detail
										<svg xmlns="http://www.w3.org/2000/svg" width="8" height="20" viewBox="0 0 8 20" fill="none">
											<path d="M2.09277 6.5L6.09277 10.5L2.09277 14.5" stroke="#3C2E25" stroke-width="1.5"/>
										</svg>
									</a>
								</div>

							</div>
						</div>
						<div class="finaly_wraper-text">
							<h2>...and Published in Peer-reviewed, Scientific Journals</h2>
							<div class="finaly_text-number">
								<span class="text-number_percent">226%</span>
								<span class="text-number_dsc">Improvement in Memory Performance in seniors aged 60-85</span>
							</div>
							<div class="finaly_text-number">
								<span class="text-number_percent">300%</span>
								<span class="text-number_dsc">Improvement in Memory Performance in Dementia/Alzheimers patients</span>
							</div>
						</div>
					</div>

			</div>
	</div>

	
	
	{% schema %}
			{
					"tag": "section",
					"class": "finaly"
			}
	{% endschema %}