{% assign logo = 'footer-logo.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  footer{
      display: flex;
      flex-direction: column;
      padding-top: 33px;
      padding-bottom: 65px;
      justify-content: center;
      align-items: center;
      background-color: var(--color-secondary);
      color: white;
  }
  footer .container{
      padding-inline: 118px;
  }
  footer .container.top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 38px;
  }
  footer .container.btm{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 13px;
      position: relative;
  }
  footer .container.btm::after{
      content: '';
      width: calc( 100% - calc( 118px * 2 ) );
      border-top: 1px solid 
      rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 0;
  }
  footer .left{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      max-width: 336px;
  }
  footer .left p{
      text-transform: capitalize;
      text-align: center;
  }
  footer .footer_logo{
      height: 168px;
      object-fit: contain;
  }
  footer form{
      width: 100%;
      display: flex;
      padding: 4px 32px;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      border-radius: 9999px;
      border: 1px solid white;
      color: white;
  }
  footer form input{
      font-family: "General Sans Regular";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      padding-right: 24px;
      color: white;
  }
  footer form svg{
      color: white;
  }
  footer .right{
      display: flex;
      flex-direction: column;
      gap: 31px;
      max-width: 460px;
  }
  footer .right a{
      color: white;

      font-family: "General Sans Regular";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: capitalize;
  }
  footer .right .menu-group{
      display: flex;
      gap: 60px;
  }
  footer .right .menu-wrap{
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
  footer .right .menu-btm{
      margin-top: 16px;
      display: flex;
      align-items: center;
      gap: 18px;
  }
  footer .right .menu-btm p{
      max-width: 236px;
  }
  footer .menu-term{
      display: flex;
      align-items: center;
      gap: 24px;
  }
  footer .menu-term a{
      color: white;
  }
  footer form input::placeholder {
      font-size: 16px;
      color: white;
  }
  footer .menu-wrap.mobile{
    display: none;
  }

@media (max-width: 990px) {
  footer .container {
      padding-inline: 24px;
  }

  footer .container.top {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      text-align: center;
  }

  footer .container.btm {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
      text-align: center;
      padding-top: 24px;
  }

  footer .container.btm::after {
      width: 100%;
  }

  footer .left {
      max-width: 100%;
      align-items: center;
      text-align: center;
  }

  footer .footer_logo {
      height: 120px;
  }

  footer form {
      flex-direction: row;
      padding: 8px 16px;
      border-radius: 54px;
      gap: 8px;
  }

  footer form input {
      font-size: 16px;
      padding: 8px;
  }
  footer form input::placeholder {
      font-size: 16px;
  }

  footer .right {
      max-width: 100%;
      align-items: flex-start;
      gap: 24px;
      text-align: start;
      width: 100%;
  }

  footer .right .menu-group {
      flex-direction: column;
      gap: 16px;
      width: 100%;
  }

  footer .right .menu-wrap {
      gap: 8px;
      padding-top: 24px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  footer .right .menu-wrap .menu-btm{
    display: none;
  }

  footer .right .menu-btm {
      flex-direction: row;
      gap: 24px;
      align-items: center;
      justify-content: center;
  }

  footer .menu-term {
    flex-direction: row;
    gap: 24px;
  }

  footer .right .menu-btm p{
    text-align: center;
  }
  footer .menu-wrap.mobile{
    display: flex;
  }
}



{% endstyle %}

  <div class="container top">
    <div class="left">
      <a href="/">
        <img src="{{ logo }}" width="316" height="168" alt="" class="footer_logo">
      </a>
      <p class="text-16">
        {% if section.settings.footer_desc != blank %}
          {{ section.settings.footer_desc }}
        {% else %}
          Join our newsletter to stay up to date on the latest in memory care
        {% endif %}
      </p>
      <form action="">
        <input type="text" placeholder="Email">
        <button type="submit">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M16.0577 18.1001L12.6623 15.8149L11.2931 16.9629L10.737 14.519L16.6667 9.32576L9.55683 13.4098L6.20801 10.9936L19.208 7.1001L16.0577 18.1001Z"
              fill="currentColor" />
          </svg>
        </button>
      </form>
    </div>
    <div class="right">
      <div class="menu-group">
        <div class="menu-wrap">
          {% if section.settings.foot_menu_column1 != blank %}
            {% for link in section.settings.foot_menu_column1.links %}
              {% assign child_list_handle = link.title | handleize %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% else %}
            <a href="/pages/science">The Science</a>
            <a href="/collections">Memory Air Device</a>
            <a href="/pages/healthcare">For Healthcare Professionals</a>
            <a href="/pages/faqs">Frequently Asked Questions</a>
            <a href="/pages/about-us">About Us</a>
          {% endif %}
          <div class="menu-btm">
            <p class="text-16">
              {{ section.settings.foot_address }}
            </p>
          </div>
        </div>
        <div class="menu-wrap">
          {% if section.settings.foot_menu_column2 != blank %}
            {% for link in section.settings.foot_menu_column2.links %}
              {% assign child_list_handle = link.title | handleize %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          {% else %}
            <a href="/pages/press-resources">Press & Resources</a>
            <a href="/pages/healthcare#contactus">Referral</a>
            <a href="/pages/support">Support</a>
            <a href="/pages/contact">Contact Us</a>
          {% endif %}
          <div class="menu-btm">
            {% if section.blocks != blank %}
              {%- for block in section.blocks -%}
                <a href="{{ block.settings.social_url }}" target="_blank">
                  {{ block.settings.social_img | image_url: width: 19 | image_tag }}
                </a>
              {%- endfor -%}
            {% else %}
              <a href="https://www.facebook.com/memoryair/" target="_blank">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.9173 10.0002C17.9173 5.63016 14.3707 2.0835 10.0007 2.0835C5.63065 2.0835 2.08398 5.63016 2.08398 10.0002C2.08398 13.8318 4.80732 17.0222 8.41732 17.7585V12.3752H6.83398V10.0002H8.41732V8.021C8.41732 6.49308 9.66023 5.25016 11.1882 5.25016H13.1673V7.62516H11.584C11.1486 7.62516 10.7923 7.98141 10.7923 8.41683V10.0002H13.1673V12.3752H10.7923V17.8772C14.7902 17.4814 17.9173 14.1089 17.9173 10.0002Z" fill="currentColor"/>
                  </svg>
              </a>
              <a href="https://www.instagram.com/memoryair/" target="_blank">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_581_21132)">
                    <path
                      d="M9.41797 2.2208C11.8227 2.2208 12.1074 2.23135 13.0531 2.27353C13.932 2.31221 14.4066 2.45986 14.723 2.58291C15.1414 2.74463 15.4438 2.9415 15.7566 3.25439C16.073 3.5708 16.2664 3.86963 16.4281 4.28799C16.5512 4.60439 16.6988 5.08252 16.7375 5.95791C16.7797 6.90713 16.7902 7.19189 16.7902 9.59307C16.7902 11.9978 16.7797 12.2825 16.7375 13.2282C16.6988 14.1071 16.5512 14.5817 16.4281 14.8981C16.2664 15.3165 16.0695 15.6188 15.7566 15.9317C15.4402 16.2481 15.1414 16.4415 14.723 16.6032C14.4066 16.7263 13.9285 16.8739 13.0531 16.9126C12.1039 16.9548 11.8191 16.9653 9.41797 16.9653C7.01328 16.9653 6.72852 16.9548 5.78281 16.9126C4.90391 16.8739 4.4293 16.7263 4.11289 16.6032C3.69453 16.4415 3.39219 16.2446 3.0793 15.9317C2.76289 15.6153 2.56953 15.3165 2.40781 14.8981C2.28477 14.5817 2.13711 14.1036 2.09844 13.2282C2.05625 12.279 2.0457 11.9942 2.0457 9.59307C2.0457 7.18838 2.05625 6.90361 2.09844 5.95791C2.13711 5.079 2.28477 4.60439 2.40781 4.28799C2.56953 3.86963 2.76641 3.56728 3.0793 3.25439C3.3957 2.93799 3.69453 2.74463 4.11289 2.58291C4.4293 2.45986 4.90742 2.31221 5.78281 2.27353C6.72852 2.23135 7.01328 2.2208 9.41797 2.2208ZM9.41797 0.600098C6.97461 0.600098 6.66875 0.610645 5.70898 0.652832C4.75273 0.69502 4.09531 0.849707 3.52578 1.07119C2.93164 1.30322 2.42891 1.60908 1.92969 2.11182C1.42695 2.61103 1.12109 3.11377 0.889063 3.70439C0.667578 4.27744 0.512891 4.93135 0.470703 5.8876C0.428516 6.85088 0.417969 7.15674 0.417969 9.6001C0.417969 12.0435 0.428516 12.3493 0.470703 13.3091C0.512891 14.2653 0.667578 14.9228 0.889063 15.4923C1.12109 16.0864 1.42695 16.5892 1.92969 17.0884C2.42891 17.5876 2.93164 17.897 3.52227 18.1255C4.09531 18.347 4.74922 18.5017 5.70547 18.5438C6.66523 18.586 6.97109 18.5966 9.41445 18.5966C11.8578 18.5966 12.1637 18.586 13.1234 18.5438C14.0797 18.5017 14.7371 18.347 15.3066 18.1255C15.8973 17.897 16.4 17.5876 16.8992 17.0884C17.3984 16.5892 17.7078 16.0864 17.9363 15.4958C18.1578 14.9228 18.3125 14.2688 18.3547 13.3126C18.3969 12.3528 18.4074 12.047 18.4074 9.60361C18.4074 7.16025 18.3969 6.85439 18.3547 5.89463C18.3125 4.93838 18.1578 4.28096 17.9363 3.71143C17.7148 3.11377 17.409 2.61103 16.9063 2.11182C16.407 1.6126 15.9043 1.30322 15.3137 1.07471C14.7406 0.853223 14.0867 0.698535 13.1305 0.656348C12.1672 0.610645 11.8613 0.600098 9.41797 0.600098Z"
                      fill="currentColor" />
                    <path
                      d="M9.41797 4.97705C6.86563 4.97705 4.79492 7.04775 4.79492 9.6001C4.79492 12.1524 6.86563 14.2231 9.41797 14.2231C11.9703 14.2231 14.041 12.1524 14.041 9.6001C14.041 7.04775 11.9703 4.97705 9.41797 4.97705ZM9.41797 12.5989C7.76211 12.5989 6.41914 11.256 6.41914 9.6001C6.41914 7.94424 7.76211 6.60127 9.41797 6.60127C11.0738 6.60127 12.4168 7.94424 12.4168 9.6001C12.4168 11.256 11.0738 12.5989 9.41797 12.5989Z"
                      fill="currentColor" />
                    <path
                      d="M15.3031 4.79414C15.3031 5.3918 14.818 5.87344 14.2238 5.87344C13.6262 5.87344 13.1445 5.38828 13.1445 4.79414C13.1445 4.19649 13.6297 3.71484 14.2238 3.71484C14.818 3.71484 15.3031 4.2 15.3031 4.79414Z"
                      fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_581_21132">
                      <rect width="18" height="18" fill="currentColor" transform="translate(0.417969 0.600098)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
              <a href="https://www.youtube.com/channel/UCwB1L7gsyfjuQzxrbxgeq9Q" target="_blank">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.41602 7.229L13.166 9.99984L8.41602 12.7707V7.229Z" fill="currentColor"/>
                  <path d="M10 4.4585C17.125 4.4585 17.125 4.4585 17.125 10.0002C17.125 15.5418 17.125 15.5418 10 15.5418C2.875 15.5418 2.875 15.5418 2.875 10.0002C2.875 4.4585 2.875 4.4585 10 4.4585Z" stroke="currentColor" stroke-width="1.58333" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </a>
            {% endif %}
          </div>
        </div>

        <div class="menu-wrap mobile">
          <p class="text-16 text-center" style="width: 60%;margin: auto;">
            {{ section.settings.foot_address }}
          </p>
          {% if section.blocks != blank %}
            {%- for block in section.blocks -%}
              <a href="{{ block.settings.social_url }}" target="_blank">
                {{ block.settings.social_img | image_url: width: 19 | image_tag }}
              </a>
            {%- endfor -%}
          {% else %}
            <div style="
              display: flex;
              gap: 12px;
              margin: auto;
              margin-top: 12px;">
              <a href="https://www.facebook.com/memoryair/" target="_blank">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.9173 10.0002C17.9173 5.63016 14.3707 2.0835 10.0007 2.0835C5.63065 2.0835 2.08398 5.63016 2.08398 10.0002C2.08398 13.8318 4.80732 17.0222 8.41732 17.7585V12.3752H6.83398V10.0002H8.41732V8.021C8.41732 6.49308 9.66023 5.25016 11.1882 5.25016H13.1673V7.62516H11.584C11.1486 7.62516 10.7923 7.98141 10.7923 8.41683V10.0002H13.1673V12.3752H10.7923V17.8772C14.7902 17.4814 17.9173 14.1089 17.9173 10.0002Z" fill="currentColor"/>
                  </svg>
              </a>
              <a href="https://www.instagram.com/memoryair/" target="_blank">
                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_581_21132)">
                    <path
                      d="M9.41797 2.2208C11.8227 2.2208 12.1074 2.23135 13.0531 2.27353C13.932 2.31221 14.4066 2.45986 14.723 2.58291C15.1414 2.74463 15.4438 2.9415 15.7566 3.25439C16.073 3.5708 16.2664 3.86963 16.4281 4.28799C16.5512 4.60439 16.6988 5.08252 16.7375 5.95791C16.7797 6.90713 16.7902 7.19189 16.7902 9.59307C16.7902 11.9978 16.7797 12.2825 16.7375 13.2282C16.6988 14.1071 16.5512 14.5817 16.4281 14.8981C16.2664 15.3165 16.0695 15.6188 15.7566 15.9317C15.4402 16.2481 15.1414 16.4415 14.723 16.6032C14.4066 16.7263 13.9285 16.8739 13.0531 16.9126C12.1039 16.9548 11.8191 16.9653 9.41797 16.9653C7.01328 16.9653 6.72852 16.9548 5.78281 16.9126C4.90391 16.8739 4.4293 16.7263 4.11289 16.6032C3.69453 16.4415 3.39219 16.2446 3.0793 15.9317C2.76289 15.6153 2.56953 15.3165 2.40781 14.8981C2.28477 14.5817 2.13711 14.1036 2.09844 13.2282C2.05625 12.279 2.0457 11.9942 2.0457 9.59307C2.0457 7.18838 2.05625 6.90361 2.09844 5.95791C2.13711 5.079 2.28477 4.60439 2.40781 4.28799C2.56953 3.86963 2.76641 3.56728 3.0793 3.25439C3.3957 2.93799 3.69453 2.74463 4.11289 2.58291C4.4293 2.45986 4.90742 2.31221 5.78281 2.27353C6.72852 2.23135 7.01328 2.2208 9.41797 2.2208ZM9.41797 0.600098C6.97461 0.600098 6.66875 0.610645 5.70898 0.652832C4.75273 0.69502 4.09531 0.849707 3.52578 1.07119C2.93164 1.30322 2.42891 1.60908 1.92969 2.11182C1.42695 2.61103 1.12109 3.11377 0.889063 3.70439C0.667578 4.27744 0.512891 4.93135 0.470703 5.8876C0.428516 6.85088 0.417969 7.15674 0.417969 9.6001C0.417969 12.0435 0.428516 12.3493 0.470703 13.3091C0.512891 14.2653 0.667578 14.9228 0.889063 15.4923C1.12109 16.0864 1.42695 16.5892 1.92969 17.0884C2.42891 17.5876 2.93164 17.897 3.52227 18.1255C4.09531 18.347 4.74922 18.5017 5.70547 18.5438C6.66523 18.586 6.97109 18.5966 9.41445 18.5966C11.8578 18.5966 12.1637 18.586 13.1234 18.5438C14.0797 18.5017 14.7371 18.347 15.3066 18.1255C15.8973 17.897 16.4 17.5876 16.8992 17.0884C17.3984 16.5892 17.7078 16.0864 17.9363 15.4958C18.1578 14.9228 18.3125 14.2688 18.3547 13.3126C18.3969 12.3528 18.4074 12.047 18.4074 9.60361C18.4074 7.16025 18.3969 6.85439 18.3547 5.89463C18.3125 4.93838 18.1578 4.28096 17.9363 3.71143C17.7148 3.11377 17.409 2.61103 16.9063 2.11182C16.407 1.6126 15.9043 1.30322 15.3137 1.07471C14.7406 0.853223 14.0867 0.698535 13.1305 0.656348C12.1672 0.610645 11.8613 0.600098 9.41797 0.600098Z"
                      fill="currentColor" />
                    <path
                      d="M9.41797 4.97705C6.86563 4.97705 4.79492 7.04775 4.79492 9.6001C4.79492 12.1524 6.86563 14.2231 9.41797 14.2231C11.9703 14.2231 14.041 12.1524 14.041 9.6001C14.041 7.04775 11.9703 4.97705 9.41797 4.97705ZM9.41797 12.5989C7.76211 12.5989 6.41914 11.256 6.41914 9.6001C6.41914 7.94424 7.76211 6.60127 9.41797 6.60127C11.0738 6.60127 12.4168 7.94424 12.4168 9.6001C12.4168 11.256 11.0738 12.5989 9.41797 12.5989Z"
                      fill="currentColor" />
                    <path
                      d="M15.3031 4.79414C15.3031 5.3918 14.818 5.87344 14.2238 5.87344C13.6262 5.87344 13.1445 5.38828 13.1445 4.79414C13.1445 4.19649 13.6297 3.71484 14.2238 3.71484C14.818 3.71484 15.3031 4.2 15.3031 4.79414Z"
                      fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_581_21132">
                      <rect width="18" height="18" fill="currentColor" transform="translate(0.417969 0.600098)" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
              <a href="https://www.youtube.com/channel/UCwB1L7gsyfjuQzxrbxgeq9Q" target="_blank">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.41602 7.229L13.166 9.99984L8.41602 12.7707V7.229Z" fill="currentColor"/>
                  <path d="M10 4.4585C17.125 4.4585 17.125 4.4585 17.125 10.0002C17.125 15.5418 17.125 15.5418 10 15.5418C2.875 15.5418 2.875 15.5418 2.875 10.0002C2.875 4.4585 2.875 4.4585 10 4.4585Z" stroke="currentColor" stroke-width="1.58333" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container btm">
    <span class="text-16">
      © <span id="footer_year">2025</span> Science Lab 3. All rights reserved.
    </span>
    <div class="menu-term">
      {% if section.settings.foot_menu_btm != blank %}
        {% for link in section.settings.foot_menu_btm.links %}
          {% assign child_list_handle = link.title | handleize %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a href="/pages/privacy-policy">
          Privacy
        </a>
        <a href="/pages/website-terms">
          Website Terms
        </a>
      {% endif %}
    </div>
  </div>

<script>
  $(document).ready(()=>{
    try{
      const date = new window.Date.getFullYear();
      $('#footer_year').text(date)
    }catch(e){}
  })
</script>

{% schema %}
  {
    "tag": "footer",
    "class": "footer",
    "settings": [
      {
        "type": "textarea",
        "id": "footer_desc",
        "label": "Footer Description",
      },
      {
        "type": "link_list",
        "id": "foot_menu_column1",
        "label": "Footer menu column 1"
      },
      {
        "type": "link_list",
        "id": "foot_menu_column2",
        "label": "Footer menu column 2"
      },
      {
        "type": "textarea",
        "id": "foot_address",
        "label": "Footer Address",
        "default": "Science Lab 3, 6619 South Dixie Highway, #251 Miami, FL 33143"
      },
      {
        "type": "link_list",
        "id": "foot_menu_btm",
        "label": "Footer bottom menu"
      },
    ],
    "blocks": [
      {
        "name": "Social Item",
        "type": "social_item",
        "settings": [
          {
            "type": "image_picker",
            "id": "social_img",
            "label": "Social image"
          },
          {
            "type": "url",
            "id": "social_url",
            "label": "Social url"
          }
        ]
      }
    ],
  }
{% endschema %}