{% comment %} for about us {% endcomment %}

{% assign aboutus-display = 'about_img.png' | asset_url | append: '?v=' | append: 'timestamp' %}


{% style %}

    #shopify-section-{{section.id}}{
        padding-top: 200px;
        background: linear-gradient(180deg, rgba(170, 126, 113, 0.10) 0%, rgba(170, 126, 113, 0.00) 98.6%);
    }
    #shopify-section-{{section.id}} .healthcare_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    #shopify-section-{{section.id}} .healthcare_content-text{
        max-width: 640px;
        width: 100%;
    }
    
    #shopify-section-{{section.id}} .healthcare_content-img{
        max-width: 650px;
        width: 100%;
    }
    #shopify-section-{{section.id}} .healthcare_content-img > img{
        max-width: 650px;
        width: 100%;
    }

@media (max-width: 768px) {
    #shopify-section-{{section.id}} {
        padding-top: 120px;
    }

    #shopify-section-{{section.id}} .healthcare_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #shopify-section-{{section.id}} .healthcare_content-text {
        max-width: 100%;
        padding: 0 20px;
    }
    #shopify-section-{{section.id}} .healthcare_content-text > h1,
    #shopify-section-{{section.id}} .healthcare_content-text > h1 > span{
        max-width: 100%;
        font-size: 40px;
    }

    #shopify-section-{{section.id}} .healthcare_content-img {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    #shopify-section-{{section.id}} .healthcare_content-img > img {
        max-width: 90%;
        height: auto;
    }
}

    
{% endstyle %}
    
    <div class="container">
        <div class="healthcare_content">
            <div class="healthcare_content-text">
                <span>{{section.settings.section_label}}</span>
                <h1 class="m-btm m-32">
                    {% if section.settings.section_title != blank %}
                        {{ section.settings.section_title }}
                    {% else %}
                        <span>
                            Using Science to <br>
                            Help You<br>
                        </span>
                        Live Your Best Life
                    {% else %}
                </h1>
            </div>
            <div class="healthcare_content-img">
                {% if section.settings.section_image != blank %}
                    {{ section.settings.section_image | image_url: width: 650 | image_tag }}
                {% else %}
                    <img src={{aboutus-display}} alt="" class="image-display">
                {% endif %}
            </div>
        </div>
    </div>
    
    
    {% schema %}
        {
            "tag": "section",
            "class": "hero-healthcare",
            "settings": [
                {
                    "type": "text",
                    "id": "section_label",
                    "label": "Section label",
                    "default": "About Memory Air®"
                },
                {
                    "type": "textarea",
                    "id": "section_title",
                    "label": "Section title",
                    "info": "Wrap italic font with <span>"
                },
                {
                    "type": "image",
                    "id": "section_image",
                    "label": "Section image"
                },
            ],
            "presets": [
              {
                "name": "Basic header section"
              }
            ]
        }
    {% endschema %}