{% assign bg = 'hero_bg.png' | asset_url | append: '?v=' | append: 'timestamp' %}

{% assign bgn1 = 'header_1.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign bgn2 = 'header_2.png' | asset_url | append: '?v=' | append: 'timestamp' %}

{% assign bg1 = 'bg-lv-1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign bg2 = 'bg-lv-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign bg3 = 'bg-lv-3.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.hero{
    background: #375461 url('{{ bgn1 }}') no-repeat ;
    background-position: top center;
    background-size: auto 100%;
    color: white !important;
    padding-top: 233px;
    padding-bottom: 255px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #shopify-section-{{section.id}}.hero::before{
    content: '';
    width: 700px;
    height: 700px;
    position: absolute;
    top: 1%;
    display: block;
    margin-right: -232px;
    background: url('{{ bgn2 }}') no-repeat ;
    background-size: 100%;
    z-index: 2;
    animation-name: spin;
    animation-duration: 40000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
  #shopify-section-{{section.id}}.hero::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('{{ bg3 }}') no-repeat ;
    background-position: top center;
    background-size: auto 100%;
    z-index: 3;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.hero::before,
    #shopify-section-{{section.id}}.hero::after{
      display: none;
    }
  }
  #shopify-section-{{section.id}}.hero .container{
    position: relative;
    z-index: 4;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.hero{
      background-position: 60% 0% !important;
      padding-block: 150px !important;
    }
  }
  #shopify-section-{{section.id}}.hero .hero_desc {
    font-family: "General Sans Semibold";
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    max-width: 524px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.hero p{
      max-width: 50% !important;
      margin-bottom: 32px !important;
    }
    #shopify-section-{{section.id}} .btn-wrap{
      flex-direction: column;
      align-items: flex-start;
    }
    #shopify-section-{{section.id}} .btn-wrap .btn{
      min-width: 160px;
    }
  }
{% endstyle %}

<div class="container">
  <div class="hero_content">
    <h1 class="m-btm m-32">
      {% if section.settings.section_title != blank %}
        {{ section.settings.section_title }}
      {% else %}
        Prevent & Reverse <br>
        <span>
          Memory Loss...
        </span><br>
        ...While you sleep!
      {% endif %}
    </h1>
    <p class="hero_desc m-btm m-98">
      {% if section.settings.section_desc != blank %}
        {{ section.settings.section_desc }}
      {% else %}
        The Biggest Improvement in Human Memory Ever Discovered.
      {% endif %}
    </p>
    <div class="btn-wrap">
      {% if section.settings.section_product != blank %}
        <a class="btn" href="{{ section.settings.section_product.url }}">Buy Now</a>
      {% endif %}
      {% if section.settings.video_cta != blank %}
        <button class="btn is-outline" onclick="togglePop()" data-video="{{ section.settings.video_cta }}">Watch video</button>
      {% else %}
        <button class="btn is-outline" onclick="togglePop()" data-video="https://www.youtube.com/embed/z111FbvY4f4?si=jYuCYh0wYtvpLD-i">Watch video</button>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "hero",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "textarea",
        "id": "section_desc",
        "label": "Section description",
      },
      {
        "type": "product",
        "id": "section_product",
        "label": "Selected product"
      },
      {
        "type": "url",
        "id": "video_cta",
        "label": "Watch video url"
      },
    ]
  }
{% endschema %}