{% comment %} for healthcare page {% endcomment %}

{% assign science-display = 'product-vid-placeholder.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}

#shopify-section-{{section.id}}.hero-product {
	padding-bottom: unset;
	padding-top: 135px;
	background: linear-gradient(
			180deg,
			rgba(170, 126, 113, 0.1) 0%,
			rgba(170, 126, 113, 0.0) 100%
		), #fff;
}
#shopify-section-{{section.id}}.hero-product .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 79px;
}
#shopify-section-{{section.id}}.hero-product .content {
	max-width: 500px;
}
#shopify-section-{{section.id}}.hero-product .illus {
	flex: 1;
	border-radius: 16px;
}

@media only screen and (max-width: 990px) {
		#shopify-section-{{section.id}}.hero-product .illus {
			width: 100%;
			max-width: 100%;
			flex: unset;
			height: 400px;
		}
		#shopify-section-{{section.id}}.hero-product .container {
			flex-direction: column;
			gap: 40px;
		}
		#shopify-section-{{section.id}}.hero-product .content {
			max-width: 100%;
		}
	}


@media (max-width: 768px) {
	#shopify-section-{{section.id}}.hero-product {
		padding-top: 120px;
	}

	#shopify-section-{{section.id}}.hero-product .content {
		max-width: 100%;
		padding: 0 0;
	}
	#shopify-section-{{section.id}}.hero-product .content > h1{
		font-size: 40px;
	}
	#shopify-section-{{section.id}}.hero-product .content > h1 > span{
		font-size: 40px;
	}
	#shopify-section-{{section.id}}.hero-product .content > p{
		font-size: 16px;
	}

	#shopify-section-{{section.id}}.hero-product .illus {
		height: 250px;
	}
}

    {% endstyle %}
    
<div class="container">
    <div class="content">
        <h1 class="m-btm m-32">
					{% if section.settings.section_title != blank %}
						{{ section.settings.section_title }}
					{% else %}
						Improve Your <br>
						<span>Memory...</span> <br>
						While You <span>Sleep</span>
					{% endif %}
        </h1>
        <p>
					{% if section.settings.section_desc != blank %}
						{{ section.settings.section_desc }}
					{% else %}
						The revolutionary new product that improves memory while you sleep, Created by a world
						famous Neuroscientist.
					{% endif %}
        </p>
				<div class="btn-wrap m-top m-54">
					{% if section.settings.section_product != blank %}
						<a class="btn" href="{{ section.settings.section_product.url }}" class="btn is-black">Buy Now</a>
					{% endif %}
					{% if section.settings.video_cta != blank %}
						<button data-video="{{ section.settings.video_cta }}" onclick="togglePop()" class="btn is-bordered">
							Watch Video
						</button>
					{% else %}
						<button data-video="https://www.youtube.com/embed/_LpPE8kKyg8?si=ENjDsayoVX5J39yE" onclick="togglePop()" class="btn is-bordered">
							Watch Video
						</button>
					{% endif %}
				</div>
    </div>
  <img src="{{ section.settings.section_img }}" alt="" class="illus">

	{% comment %} <iframe class="illus" width="811" height="600" src="https://www.youtube.com/embed/_LpPE8kKyg8?si=ENjDsayoVX5J39yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> {% endcomment %}
</div>
    
    
{% schema %}
	{
		"tag": "section",
		"class": "hero-product",
		"settings":[
			{
				"type": "textarea",
				"id": "section_title",
				"label": "Section title",
				"info": "Wrap italic font with <span>"
			},
			{
				"type": "textarea",
				"id": "section_desc",
				"label": "Section description",
			},
			{
				"type": "product",
				"id": "section_product",
				"label": "Selected product"
			},
			{
				"type": "url",
				"id": "video_cta",
				"label": "Watch video url"
			},
			{
				"type": "image_picker",
				"id": "section_img",
				"label": "Section image"
			},
		]
	}
{% endschema %}