{% comment %} for healthcare page {% endcomment %}

{% assign science_display = 'new_product-intro.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}


#shopify-section-{{section.id}}.introduce .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#shopify-section-{{section.id}}.introduce p {
	text-align: center;
	font-family: "General Sans";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 820px;
	margin-top: 28px;
	margin-bottom: 32px;
}
#shopify-section-{{section.id}} .img-wrap {
	width: 100%;
	margin-bottom: 32px;
	cursor: pointer;
}
#shopify-section-{{section.id}} .img-wrap img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 64px;
}

@media (max-width: 768px) {
    #shopify-section-{{section.id}}.introduce p {
        font-size: 16px;
        line-height: 140%;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 24px;
        padding: 0 16px;
    }
    #shopify-section-{{section.id}}.introduce .container > h2,
    #shopify-section-{{section.id}}.introduce .container > h2 > span {
        font-size: 32px;
        margin-bottom: 24px;
    } 

    #shopify-section-{{section.id}} .img-wrap img {
        height: auto;
        max-height: 450px;
        border-radius: 24px;
    }
}


    
    {% endstyle %}
    
    <div class="container">
        <h2 class="text-center">
            Introducing Memory Air® <br>
            <span>
            the All-in-One Olfactory Enrichment Device
            </span>
        </h2>
        <p>
            Memory Air® brings this science-backed olfactory enrichment approach to your home in an easy-to-use device that works while you sleep.
        </p>
        <div class="img-wrap m-top m-54" id="introduce-slider">
            <img src="{{ science_display }}" alt="">
            <img src="{{ science_display }}" alt="">
            <img src="{{ science_display }}" alt="">
            <img src="{{ science_display }}" alt="">
        </div>
        <div class="btn-wrap m-top m-32">
            {% if section.settings.explore_cta != blank %}
                <a class="btn is-black" href="{{ section.settings.explore_cta }}">Explore Our Product</a>
            {% endif %}
            {% if section.settings.section_product != blank %}
                <a class="btn is-outline-black" href="{{ section.settings.section_product.url }}">Buy Now</a>
        {% endif %}
        </div>
    </div>
    <script>
    $(document).ready(() => {

        $("#introduce-slider").slick({
            arrows: false,
            dots: false,
            fade: true,
        });

        $("#introduce-slider").click(() => {
            $("#introduce-slider").slick("slickNext");
        });


    });
    </script>
    
    {% schema %}
        {
            "tag": "section",
            "class": "introduce",
            "settings": [
                {
                    "type": "product",
                    "id": "section_product",
                    "label": "Selected product"
                },
                {
                    "type": "url",
                    "id": "explore_cta",
                    "label": "Explore CTA url"
                },
            ]
        }
    {% endschema %}