{% comment %} for healthcare page {% endcomment %}

{% style %}
  #shopify-section-{{section.id}}.introduce .container {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }
  #shopify-section-{{section.id}}.introduce p {
  	text-align: center;
  	font-family: "General Sans";
  	font-size: 24px;
  	font-style: normal;
  	font-weight: 400;
  	line-height: 150%;
  	max-width: 820px;
  	margin-top: 28px;
  	margin-bottom: 32px;
  }
  #shopify-section-{{section.id}} .img-wrap {
  	width: 100%;
  	margin-bottom: 32px;
  	cursor: pointer;
  }
  #shopify-section-{{section.id}} .img-wrap img {
  	width: 100%;
  	height: auto;
  	object-fit: cover;
  	border-radius: 64px;
  }
  #shopify-section-{{section.id}} .img-wrap img.desktop {
    display: block;
  }
  #shopify-section-{{section.id}} .img-wrap img.mobile {
    display: none;
  }

  @media (max-width: 768px) {
      #shopify-section-{{section.id}}.introduce p {
          font-size: 16px;
          line-height: 140%;
          max-width: 100%;
          margin-top: 20px;
          margin-bottom: 24px;
          padding: 0 16px;
      }
      #shopify-section-{{section.id}}.introduce .container > h2,
      #shopify-section-{{section.id}}.introduce .container > h2 > span {
          font-size: 32px;
          margin-bottom: 24px;
      }

      #shopify-section-{{section.id}} .img-wrap img {
          height: auto;
          max-height: 450px;
          border-radius: 24px;
      }
      #shopify-section-{{section.id}} .img-wrap img.desktop {
        display: none;
      }
      #shopify-section-{{section.id}} .img-wrap img.mobile {
        display: block;
      }
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center">
    {% if section.settings.section_title != blank %}
      {{ section.settings.section_title }}
    {% else %}
      Introducing Memory Air<sup>™</sup> <br>
      <span> the All-in-One Olfactory Enrichment Device </span>
    {% endif %}
  </h2>
    {% if section.settings.section_desc != blank %}
      {{ section.settings.section_desc }}
    {% else %}
      <p>
        Memory Air<sup>™</sup> brings this science-backed olfactory enrichment approach to your home in an easy-to-use device that works while you sleep.
      </p>
    {% endif %}
  <div class="img-wrap m-top m-54" id="introduce-slider">
      <img src="{{ section.settings.image.src | img_url: 'original' }}" alt="" class="desktop">
      <img src="{{ section.settings.image_mobile.src | img_url: 'original' }}" alt="" class="mobile">
  </div>
  <div class="btn-wrap m-top m-32">
    {% if section.settings.left_cta_url != blank %}
      <a class="btn is-black" href="{{ section.settings.left_cta_url }}">{{ section.settings.left_cta_title }}</a>
    {% endif %}
    {% if section.settings.right_cta_url != blank %}
      <a class="btn is-outline-black" href="{{ section.settings.right_cta_url }}">
        {{- section.settings.right_cta_title -}}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "class": "introduce",
  "settings": [
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Section title",
      "info": "Wrap italic font with <span>"
    },
    {
      "type": "richtext",
      "id": "section_desc",
      "label": "Section description"
    },
    {
      "type": "image_picker",
      "id": "section_image",
      "label": "Section image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Main image mobile"
    },
    {
      "type": "text",
      "id": "left_cta_title",
      "label": "Left CTA title",
      "default": "Explore Our Product"
    },
    {
      "type": "url",
      "id": "left_cta_url",
      "label": "Left CTA URL"
    },
    {
      "type": "text",
      "id": "right_cta_title",
      "label": "Right CTA title",
      "default": "Buy Now"
    },
    {
      "type": "url",
      "id": "right_cta_url",
      "label": "Right CTA URL"
    }
  ],
  "blocks": [
    {
      "type": "image_list",
      "name": "Image list",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
