<section class="compare-section">
  <div class="container">
    <div class="compare-wrapper">
        {% if section.settings.hdmac_heading != blank %}
      <div class="heading">
        <h2>
          {{ section.settings.hdmac_heading }}
         
        </h2>
      </div>
    {% endif %}
      <div class="compare-table">

        <div class="table-row table-head">
          <div class="cell feature">{{ section.settings.hdmac_col_feature }}</div>
          <div class="cell highlight">{{ section.settings.hdmac_col_1 }}</div>
          <div class="cell">{{ section.settings.hdmac_col_2 }}</div>
          <div class="cell">{{ section.settings.hdmac_col_3 }}</div>
          <div class="cell">{{ section.settings.hdmac_col_4 }}</div>
        </div>

        {% for block in section.blocks %}
          <div class="table-row">
            <div class="cell feature">{{ block.settings.hdmac_feature }}</div>

            <div class="cell highlight">
              <span class="icon">
                <img src="{{ block.settings.hdmac_col1_icon | image_url }}" alt="#">
              </span>
            </div>

            <div class="cell">
              <span class="icon">
                <img src="{{ block.settings.hdmac_col2_icon | image_url }}" alt="#">
              </span>
            </div>

            <div class="cell">
              <span class="icon">
                <img src="{{ block.settings.hdmac_col3_icon | image_url }}" alt="#">
              </span>
            </div>

            <div class="cell">
              <span class="icon">
                <img src="{{ block.settings.hdmac_col4_icon | image_url }}" alt="#">
              </span>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Memory Air Compare Table",
  "settings": [
    {
      "type": "html",
      "id": "hdmac_heading",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "hdmac_col_feature",
      "label": "Feature Column Title",
      "default": "Feature"
    },
    {
      "type": "text",
      "id": "hdmac_col_1",
      "label": "Column 1 Title",
      "default": "Memory Air"
    },
    {
      "type": "text",
      "id": "hdmac_col_2",
      "label": "Column 2 Title",
      "default": "Supplements"
    },
    {
      "type": "text",
      "id": "hdmac_col_3",
      "label": "Column 3 Title",
      "default": "Brain Games"
    },
    {
      "type": "text",
      "id": "hdmac_col_4",
      "label": "Column 4 Title",
      "default": "Drugs"
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Comparison Row",
      "settings": [
        {
          "type": "text",
          "id": "hdmac_feature",
          "label": "Feature Name",
          "default": "Major Memory Improvement"
        },
        {
          "type": "image_picker",
          "id": "hdmac_col1_icon",
          "label": "Column 1 Icon"
        },
        {
          "type": "image_picker",
          "id": "hdmac_col2_icon",
          "label": "Column 2 Icon"
        },
        {
          "type": "image_picker",
          "id": "hdmac_col3_icon",
          "label": "Column 3 Icon"
        },
        {
          "type": "image_picker",
          "id": "hdmac_col4_icon",
          "label": "Column 4 Icon"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Memory Air Compare Table",
      "blocks": [
        { "type": "row" },
        { "type": "row" },
        { "type": "row" }
      ]
    }
  ]
}
{% endschema %}
