{% assign logo = 'nav-logo.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign sample = 'product-sample1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  .nav{
      width: 100vw;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 5;
      padding-block: 30px;
      transition: all 200ms ease;
  }
  .nav::before{
      transition: all 200ms ease;
      background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
      content: '';
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  }
  .nav.scrolled.black::before{
      background: white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .nav.scrolled.white::before{
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%) !important;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0) !important;
  }
  .nav.scrolled::before{
      opacity: 1;
  }
  .nav.scrolled{
      padding-block: 12px;
  }
  .nav .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
  }
  .nav .logo{
      width: 121px;
      object-fit: contain;
  }
  .nav.black .logo,
  .nav.white .logo{
      filter: invert(1);
  }
  .nav .menu{
      display: flex;
      align-items: center;
      gap: 32px;
  }
  @media only screen and (max-width:1200px) {
    .nav .menu,
    .nav .btn {
      display: none;
    }
  }
  .nav .left{
      display: flex;
      align-items: center;
      gap: 71px;
  }
  .nav .right{
      display: flex;
      align-items: center;
      gap: 54px;
  }
  .nav .menu a{
      color: white;
      font-family: "General Sans Medium";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-transform: capitalize;
  }
  .nav .cart,
  .nav .menu-toggle{
      color: white;
      width: 20px;
      height: 20px;
  }
  .nav .menu-toggle{
    display: none;
  }
  @media only screen and (max-width:1200px) {
    .nav .menu-toggle{
      display: block;
    }
  }
  .nav.black .menu a,
  .nav.black .cart,
  .nav.black .menu-toggle,
  .nav.white .menu a,
  .nav.white .cart,
  .nav.white .menu-toggle{
      color: var(--color-secondary);
  }
  nav .cart-menu {
    width: 0vw;
    overflow: hidden;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    background: rgba(35, 35, 35, 0.7);
  }
  nav.open .cart-menu {
    width: 100vw;
  }
  nav .cart-menu .content {
    height: 100%;
    background: white;
    width: 0px;
    overflow: hidden;
    opacity: 0;
    float: right;
    padding: 23px 12px;
    padding-top: 150px;
    transition: all 200ms ease;
    transition-delay: 100ms;
  }
  nav.open .cart-menu .content {
    width: 400px;
    opacity: 1;
  }
  nav .cart-menu .content .head {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .cart-menu .content .item-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 12px;
    padding-left: 24px;
    padding-right: 9px;
    border-top: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  nav .cart-menu .content .summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 24px;
  }
  nav .cart-menu .content .item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    position: relative;
  }
  nav .cart-menu .content .item_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  nav .cart-menu .content .item_content h4 {
    color: var(--color-primary);
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-right: 24px;
  }
  nav .cart-menu .content .item_content span {
    color: var(--color-primary);
    font-family: "General Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  nav .cart-menu .content .item img {
    height: 73px;
    width: 95px;
    object-fit: cover;
    border-radius: 8px;
  }
  nav .cart-menu .content .item .close {
    position: absolute;
    top: 0;
    right: 0;
  }
  nav .cart-menu .content .head h3 {
    color: #000;
    font-family: "General Sans medium";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
  nav .cart-menu .content .item .stepper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-radius: 8px;
    border: 0.16px solid #000;
    display: flex;
    padding: 6px;
    justify-content: flex-end;
    align-items: center;
  }
  nav .cart-menu .content .item_content .stepper-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
  }
  nav .cart-menu .content .item_content .stepper-btn:hover {
    background-color: #f0f0f0;
  }
  nav .cart-menu .content .item_content .stepper input {
    width: 40px;
    text-align: center;
    font-size: 16px;
  }
  nav .cart-menu .content .summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  nav .cart-menu .content .summary .summary_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  nav .cart-menu .content .summary .summary_content .summary_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav
    .cart-menu
    .content
    .summary
    .summary_content
    .summary_item:last-child
    span {
    color: #000;
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  nav .cart-menu .content .summary .summary_content .summary_item span {
    /* width: 40%; */
    color: #000;
    font-family: "General Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  nav
    .cart-menu
    .content
    .summary
    .summary_content
    .summary_item
    span:last-child {
    text-align: right;
  }
  nav .cart-menu .content .summary .summary_content .divider {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 1);
  }
{% endstyle %}


<div class="container">
  <button class="menu-toggle">
    <svg width="339" height="12" viewBox="0 0 339 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.792969 1.5H15.793" stroke="currentColor" stroke-width="1.5"/>
      <path d="M0.792969 6H15.793" stroke="currentColor" stroke-width="1.5"/>
      <path d="M0.792969 10.5H15.793" stroke="currentColor" stroke-width="1.5"/>
    </svg>        
  </button>
  <div class="left">
    <a href="/">
      <img src="{{logo}}" height="54" width="100" class="logo">
    </a>
    <div class="menu">
      <a href="/science.html">The science</a>
      <a href="">Our Product</a>
    </div>
  </div>
  <div class="right">
    <div class="menu">
      {% comment %} {% for link in section.settings.menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %} {% endcomment %}
      
      <a href="/pages/about-us">About us</a>
      <a href="/pages/healthcare">for healthcare professsional</a>
      <a href="/pages//press-resource.html">press & Resources</a>
    </div>
    <a href="" class="btn is-black">
      Buy Now
    </a>
    <button class="cart">
      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M18.1877 5.03527C18.129 4.96506 18.0557 4.90859 17.9728 4.86985C17.8899 4.8311 17.7995 4.81103 17.708 4.81105H5.10488L4.62988 2.19933C4.60372 2.05532 4.52784 1.92506 4.41548 1.83126C4.30312 1.73746 4.16141 1.68607 4.01504 1.68605H2.08301C1.91725 1.68605 1.75828 1.75189 1.64107 1.8691C1.52386 1.98632 1.45801 2.14529 1.45801 2.31105C1.45801 2.47681 1.52386 2.63578 1.64107 2.75299C1.75828 2.8702 1.91725 2.93605 2.08301 2.93605H3.48926L5.48613 13.8962C5.54495 14.2212 5.6886 14.525 5.90254 14.7767C5.60726 15.0525 5.39414 15.4047 5.2868 15.7942C5.17947 16.1837 5.18211 16.5953 5.29444 16.9835C5.40677 17.3716 5.62439 17.721 5.92318 17.993C6.22198 18.265 6.59026 18.4489 6.98719 18.5243C7.38413 18.5998 7.7942 18.5638 8.17195 18.4204C8.5497 18.2771 8.88036 18.0319 9.12726 17.712C9.37416 17.3922 9.52766 17.0102 9.57073 16.6085C9.61381 16.2068 9.54477 15.8009 9.37129 15.436H12.9197C12.7799 15.7288 12.7075 16.0491 12.708 16.3735C12.708 16.8062 12.8363 17.2291 13.0767 17.5889C13.317 17.9486 13.6587 18.229 14.0584 18.3945C14.4581 18.5601 14.8979 18.6034 15.3223 18.519C15.7466 18.4346 16.1364 18.2263 16.4423 17.9203C16.7482 17.6144 16.9566 17.2246 17.041 16.8003C17.1254 16.376 17.0821 15.9361 16.9165 15.5364C16.7509 15.1367 16.4705 14.7951 16.1108 14.5547C15.7511 14.3143 15.3282 14.186 14.8955 14.186H7.33066C7.1843 14.186 7.04258 14.1346 6.93022 14.0408C6.81786 13.947 6.74198 13.8168 6.71582 13.6728L6.46816 12.311H15.5307C15.9698 12.311 16.3949 12.1568 16.732 11.8754C17.0691 11.594 17.2967 11.2032 17.3752 10.7712L18.3252 5.54777C18.3413 5.45748 18.3373 5.36477 18.3135 5.2762C18.2898 5.18763 18.2468 5.10537 18.1877 5.03527ZM8.33301 16.3735C8.33301 16.559 8.27802 16.7402 8.17501 16.8944C8.072 17.0486 7.92558 17.1687 7.75427 17.2397C7.58297 17.3106 7.39447 17.3292 7.21261 17.293C7.03075 17.2569 6.86371 17.1676 6.73259 17.0365C6.60148 16.9053 6.51219 16.7383 6.47602 16.5564C6.43985 16.3746 6.45841 16.1861 6.52937 16.0148C6.60033 15.8435 6.72049 15.6971 6.87466 15.594C7.02883 15.491 7.21009 15.436 7.39551 15.436C7.64415 15.436 7.8826 15.5348 8.05842 15.7106C8.23424 15.8864 8.33301 16.1249 8.33301 16.3735ZM15.833 16.3735C15.833 16.559 15.778 16.7402 15.675 16.8944C15.572 17.0486 15.4256 17.1687 15.2543 17.2397C15.083 17.3106 14.8945 17.3292 14.7126 17.293C14.5308 17.2569 14.3637 17.1676 14.2326 17.0365C14.1015 16.9053 14.0122 16.7383 13.976 16.5564C13.9398 16.3746 13.9584 16.1861 14.0294 16.0148C14.1003 15.8435 14.2205 15.6971 14.3747 15.594C14.5288 15.491 14.7101 15.436 14.8955 15.436C15.1441 15.436 15.3826 15.5348 15.5584 15.7106C15.7342 15.8864 15.833 16.1249 15.833 16.3735ZM16.1455 10.5478C16.1193 10.6922 16.0431 10.8227 15.9302 10.9166C15.8174 11.0104 15.6751 11.0616 15.5283 11.061H6.24082L5.33223 6.06105H16.9588L16.1455 10.5478Z"
          fill="currentColor" />
      </svg>
    </button>
  </div>
</div>
<div class="cart-menu">
  <div class="content">
    <div class="head">
      <h3>Cart</h3>
    </div>
    <div class="item-wrap">
      <div class="item">
        <button class="close">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.927772" y1="0.694298" x2="12.2415" y2="12.008" stroke="#232323" stroke-opacity="0.5" />
            <line x1="12.545" y1="0.894569" x2="1.23125" y2="12.2083" stroke="#232323" stroke-opacity="0.5" />
          </svg>
        </button>

        <img src="{{ sample }}" alt="">
        <div class="item_content">
          <h4>Memory Air + Subscription</h4>
          <span>
            $799 + $39/ month
          </span>
          <div class="stepper">
            <button class="stepper-btn" onclick="decreaseQty()">-</button>
            <input type="number" id="quantity" value="1" min="1">
            <button class="stepper-btn" onclick="increaseQty()">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="summary">
      <button class="btn is-black">Checkout</button>
      <div class="summary_content">
        <div class="summary_item">
          <span>
            Total:
          </span>
          <span>
            $799 + $39/month
          </span>
        </div>
        <div class="summary_item">
          <span>
            Discounts:
          </span>
          <span>
            -$20
          </span>
        </div>
        <div class="divider"></div>
        <div class="summary_item">
          <span>
            Subtotal:
          </span>
          <span>
            $838
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    const navbar = document.querySelector('header');
    
    $(".cart").click(() => {
      navbar.classList.toggle('open');
    });

    if(location.pathname !== '/'){
      navbar.classList.add('black')
    }
    window.addEventListener('scroll', () => {
      if (window.scrollY > 50) {
        if (location.pathname === '/') {
          if(window.scrollY > (document.querySelector('.hero').offsetHeight-50)){
            navbar.classList.add('white');
          }else{
            navbar.classList.remove('white');
          }
        }
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    });
  });
</script>

{% schema %}
  {
    "tag": "header",
    "class": "nav",
    "settings": [
      {
        "type": "checkbox",
        "id": "isdark",
        "label": "Dark Variant"
      },
      {
        "type": "link_list",
        "id": "menu_right",
        "default": "main-menu",
        "label": "Right navbar Menu"
      },
      {
        "type": "link_list",
        "id": "menu_left",
        "label": "Left Navbar Menu"
      }
    ]
  }
{% endschema %}