{% assign logo = 'nav-logo.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign sample = 'product-sample1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  nav{
      width: 100vw;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 5;
      padding-block: 30px;
      transition: all 200ms ease;
  }
  nav::before{
      transition: all 200ms ease;
      background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
      content: '';
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
  }
  nav.scrolled.black::before,
  nav.open::before,
  nav.scrolled.white.open::before,
  nav.scrolled.white.menu::before,
  nav.menu::before{
      background: white !important;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  }
  nav.scrolled.white::before{
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%) !important;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0) !important;
  }

  nav.scrolled::before,
  nav.open::before,
  nav.menu::before{
      opacity: 1;
  }
  nav.scrolled{
      padding-block: 12px !important;
  }
  nav.scrolled.open,
  nav.scrolled.menu {
      padding-block: 30px !important;
  }
  nav .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
  }
  @media only screen and (max-width:1200px) {
    nav .container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
  nav .logo{
      width: 121px;
      object-fit: contain;
  }
  nav.home.black .logo{
    filter: invert(0) !important;
  }
  nav.black.home.scrolled .logo,
  nav.black.home.menu .logo{
    filter: invert(1) !important;
  }
  nav.black .logo,
  nav.white .logo,
  nav.open .logo,
  nav.menu .logo,
  nav.black.home.scrolled .logo{
      filter: invert(1);
  }
  nav .menu{
      display: flex;
      align-items: center;
      gap: 32px;
  }
  @media only screen and (max-width:1200px) {
    nav .menu,
    nav .btn {
      display: none;
    }
  }
  nav .left{
      display: flex;
      align-items: center;
      gap: 71px;
  }
  @media only screen and (max-width:1200px) {
    nav .left{
      justify-content: center;
    }
  }
  nav .right{
      display: flex;
      align-items: center;
      gap: 54px;
  }
  @media only screen and (max-width:1200px) {
    nav .right{
      justify-content: flex-end;
    }
  }
  @media only screen and (max-width:450px) {
    nav .right .btn{
      font-size: 14px;
      padding: 4px 18px;
    }
  }
  nav .menu a{
      color: white;
      font-family: "General Sans Medium";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-transform: capitalize;
  }
  nav .cart,
  nav .menu-toggle{
      color: white;
      width: 20px;
      height: 20px;
  }
  nav .menu-toggle{
    display: none;
  }
  @media only screen and (max-width:1200px) {
    nav .menu-toggle{
      display: block;
    }
  }
  nav.home.black .menu a,
  nav.home.black .cart,
  nav.home.black .menu-toggle{
    color: white ;
  }
  nav.home.black.scrolled .menu a,
  nav.home.black.scrolled .cart,
  nav.home.black.scrolled .menu-toggle,
  nav.home.black.menu .menu a,
  nav.home.black.menu .cart,
  nav.home.black.menu .menu-toggle{
    color: var(--color-secondary) !important;
  }
  nav.black .menu a,
  nav.black .cart,
  nav.black .menu-toggle,
  nav.white .menu a,
  nav.white .cart,
  nav.white .menu-toggle,
  nav.open .cart,
  nav.open .menu-toggle,
  nav.open .menu a,
  nav.menu .cart,
  nav.menu .menu-toggle,
  nav.menu .menu a{
      color: var(--color-secondary);
  }
  nav .cart-menu ,
  nav .mobile-menu{
    width: 0vw;
    overflow: hidden;
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    background: rgba(35, 35, 35, 0.7);
  }
  nav .mobile-menu{
    width: 100vw;
    height: auto;
    max-height: 0;
    left: 0;
    right: unset;
    overflow: hidden;
    transition: all 200ms ease;
    transition-delay: 50ms;
  }
  nav:not(.menu) .mobile-menu{
    /* transition-delay: 100ms;
    transition: all 10ms ease;  */
  }
  nav.open .cart-menu{
    width: 100vw;
  }
  nav .cart-menu .content,
  nav .mobile-menu .content {
    height: 100%;
    background: white;
    width: 0px;
    overflow: hidden;
    opacity: 0;
    float: right;
    padding: 23px 12px;
    padding-top: 150px;
    transition: all 200ms ease;
    transition-delay: 100ms;
  }
  @media only screen and (max-width:1200px) {
    nav .cart-menu .content,
    nav .mobile-menu .content{
      padding-inline: 20px;
    }
  }
  nav .mobile-menu .content{
    width: 100%;
    opacity: 1;
    float: left;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  nav.menu .mobile-menu .content{
    width: 100%;
    opacity: 1;
  }
  nav.menu .mobile-menu .content .divider{
    width: 100%;
    height: 1px;
    background: black;
  }
  @media only screen and (max-width:1200px) {
    nav .mobile-menu .content .menu{
      display: flex !important;
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      
    }
    nav .mobile-menu .content .btn{
      display: block !important;
      text-align: center;
      margin-top: 32px;
    }
  }
  nav.open .cart-menu .content {
    width: 400px;
    opacity: 1;
  }
  @media only screen and (max-width:990px) {
    nav.open .cart-menu .content {
      width: 100%;
    }
  }
  nav .cart-menu .content .head {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  nav .cart-menu .content .head svg{
    position: absolute;
    left: 12px;
    cursor: pointer;
  }
  nav .cart-menu .content .item-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 12px;
    padding-left: 24px;
    padding-right: 9px;
    border-top: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  nav .cart-menu .content .summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 24px;
  }
  nav .cart-menu .content .item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    position: relative;
  }
  nav .cart-menu .content .item_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  nav .cart-menu .content .item_content h4 {
    color: var(--color-primary);
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-right: 24px;
  }
  nav .cart-menu .content .item_content span {
    color: var(--color-primary);
    font-family: "General Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  nav .cart-menu .content .item img {
    height: 73px;
    width: 95px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
  }
  nav .cart-menu .content .item .close {
    position: absolute;
    top: 0;
    right: 0;
  }
  nav .cart-menu .content .head h3 {
    color: #000;
    font-family: "General Sans medium";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    width: 100%;
    text-align: center;
  }
  nav .cart-menu .content .item .stepper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-radius: 8px;
    border: 0.16px solid #000;
    display: flex;
    padding: 6px;
    justify-content: flex-end;
    align-items: center;
  }
  nav .cart-menu .content .item_content .stepper-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
  }
  nav .cart-menu .content .item_content .stepper-btn:hover {
    background-color: #f0f0f0;
  }
  nav .cart-menu .content .item_content .stepper input {
    width: 40px;
    text-align: center;
    font-size: 16px;
  }
  nav .cart-menu .content .summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  nav .cart-menu .content .summary .summary_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  nav .cart-menu .content .summary .summary_content .summary_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav
    .cart-menu
    .content
    .summary
    .summary_content
    .summary_item:last-child
    span {
    color: #000;
    font-family: "General Sans Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  nav .cart-menu .content .summary .summary_content .summary_item span {
    /* width: 40%; */
    color: #000;
    font-family: "General Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  nav
    .cart-menu
    .content
    .summary
    .summary_content
    .summary_item
    span:last-child {
    text-align: right;
  }
  nav .cart-menu .content .summary .summary_content .divider {
    width: 100%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 1);
  }
  nav .cart-menu .summary .btn{
    display: none;
  }
  nav .cart-menu .summary form{
    padding: unset;
    width: 100%;
    max-width: 100%;
  }
  nav .cart-menu .summary .btn.active{
    display: block;
  }
  nav .popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
  }
  nav .popup.active{
    display: flex;
  }
  nav .popup > svg{
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
  nav .popup .content{
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
  nav .popup .content > *{
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  @media only screen and (max-width:740px) {
    nav .popup .content > *{
      height: 50% !important;
    }
  }
{% endstyle %}


<div class="container">
  <button class="menu-toggle">
    <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.792969 1.5H15.793" stroke="currentColor" stroke-width="1.5"/>
      <path d="M0.792969 6H15.793" stroke="currentColor" stroke-width="1.5"/>
      <path d="M0.792969 10.5H15.793" stroke="currentColor" stroke-width="1.5"/>
    </svg>        
  </button>
  <div class="left">
    <a href="/">
      <img src="{{logo}}" height="54" width="100" class="logo">
    </a>
    <div class="menu">
      {%  if section.settings.menu_left != blank%}
        {% for link in section.settings.menu_left.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a href="">The science</a>
        <a href="">Memory Air Device</a>
      {% endif %}
    </div>
  </div>
  <div class="right">
    <div class="menu">
      {%  if section.settings.menu_right != blank%}
        {% for link in section.settings.menu_right.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a href="">About us</a>
        <a href="">for healthcare professional</a>
        <a href="">press & Resources</a>
      {% endif %}
    </div>
    
    <a href="{{ section.settings.section_product.url }}" class="btn is-black" id="buy-btn">
      Buy Now 
    </a>
    <button class="cart" id="cart-btn">
      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M18.1877 5.03527C18.129 4.96506 18.0557 4.90859 17.9728 4.86985C17.8899 4.8311 17.7995 4.81103 17.708 4.81105H5.10488L4.62988 2.19933C4.60372 2.05532 4.52784 1.92506 4.41548 1.83126C4.30312 1.73746 4.16141 1.68607 4.01504 1.68605H2.08301C1.91725 1.68605 1.75828 1.75189 1.64107 1.8691C1.52386 1.98632 1.45801 2.14529 1.45801 2.31105C1.45801 2.47681 1.52386 2.63578 1.64107 2.75299C1.75828 2.8702 1.91725 2.93605 2.08301 2.93605H3.48926L5.48613 13.8962C5.54495 14.2212 5.6886 14.525 5.90254 14.7767C5.60726 15.0525 5.39414 15.4047 5.2868 15.7942C5.17947 16.1837 5.18211 16.5953 5.29444 16.9835C5.40677 17.3716 5.62439 17.721 5.92318 17.993C6.22198 18.265 6.59026 18.4489 6.98719 18.5243C7.38413 18.5998 7.7942 18.5638 8.17195 18.4204C8.5497 18.2771 8.88036 18.0319 9.12726 17.712C9.37416 17.3922 9.52766 17.0102 9.57073 16.6085C9.61381 16.2068 9.54477 15.8009 9.37129 15.436H12.9197C12.7799 15.7288 12.7075 16.0491 12.708 16.3735C12.708 16.8062 12.8363 17.2291 13.0767 17.5889C13.317 17.9486 13.6587 18.229 14.0584 18.3945C14.4581 18.5601 14.8979 18.6034 15.3223 18.519C15.7466 18.4346 16.1364 18.2263 16.4423 17.9203C16.7482 17.6144 16.9566 17.2246 17.041 16.8003C17.1254 16.376 17.0821 15.9361 16.9165 15.5364C16.7509 15.1367 16.4705 14.7951 16.1108 14.5547C15.7511 14.3143 15.3282 14.186 14.8955 14.186H7.33066C7.1843 14.186 7.04258 14.1346 6.93022 14.0408C6.81786 13.947 6.74198 13.8168 6.71582 13.6728L6.46816 12.311H15.5307C15.9698 12.311 16.3949 12.1568 16.732 11.8754C17.0691 11.594 17.2967 11.2032 17.3752 10.7712L18.3252 5.54777C18.3413 5.45748 18.3373 5.36477 18.3135 5.2762C18.2898 5.18763 18.2468 5.10537 18.1877 5.03527ZM8.33301 16.3735C8.33301 16.559 8.27802 16.7402 8.17501 16.8944C8.072 17.0486 7.92558 17.1687 7.75427 17.2397C7.58297 17.3106 7.39447 17.3292 7.21261 17.293C7.03075 17.2569 6.86371 17.1676 6.73259 17.0365C6.60148 16.9053 6.51219 16.7383 6.47602 16.5564C6.43985 16.3746 6.45841 16.1861 6.52937 16.0148C6.60033 15.8435 6.72049 15.6971 6.87466 15.594C7.02883 15.491 7.21009 15.436 7.39551 15.436C7.64415 15.436 7.8826 15.5348 8.05842 15.7106C8.23424 15.8864 8.33301 16.1249 8.33301 16.3735ZM15.833 16.3735C15.833 16.559 15.778 16.7402 15.675 16.8944C15.572 17.0486 15.4256 17.1687 15.2543 17.2397C15.083 17.3106 14.8945 17.3292 14.7126 17.293C14.5308 17.2569 14.3637 17.1676 14.2326 17.0365C14.1015 16.9053 14.0122 16.7383 13.976 16.5564C13.9398 16.3746 13.9584 16.1861 14.0294 16.0148C14.1003 15.8435 14.2205 15.6971 14.3747 15.594C14.5288 15.491 14.7101 15.436 14.8955 15.436C15.1441 15.436 15.3826 15.5348 15.5584 15.7106C15.7342 15.8864 15.833 16.1249 15.833 16.3735ZM16.1455 10.5478C16.1193 10.6922 16.0431 10.8227 15.9302 10.9166C15.8174 11.0104 15.6751 11.0616 15.5283 11.061H6.24082L5.33223 6.06105H16.9588L16.1455 10.5478Z"
          fill="currentColor" />
      </svg>
    </button>
  </div>
</div>

<div class="mobile-menu">
  <div class="content">
    <div class="menu">
      {%  if section.settings.menu_left != blank%}
        {% for link in section.settings.menu_left.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a href="">The science</a>
        <a href="">Our Product</a>
      {% endif %}
    </div>
    <div class="divider"></div>
    <div class="menu">
      {%  if section.settings.menu_right != blank%}
        {% for link in section.settings.menu_right.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      {% else %}
        <a href="">About us</a>
        <a href="">for healthcare professsional</a>
        <a href="">press & Resources</a>
      {% endif %}
      <a href="/cart">Cart</a>
      <a href="{{ section.settings.section_product.url }}">Buy Now </a>
    </div>
    {% comment %} <a href="{{ section.settings.section_product.url }}" class="btn is-black">
      Buy Now 
    </a> {% endcomment %}
  </div>
</div>

<div class="cart-menu dd">
  <div class="content">
    <div class="head">
      <svg id="close-cart" width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.484299 6.6552C0.0937748 7.04572 0.0937748 7.67889 0.484299 8.06941L6.84826 14.4334C7.23878 14.8239 7.87195 14.8239 8.26247 14.4334C8.653 14.0428 8.653 13.4097 8.26247 13.0192L2.60562 7.3623L8.26247 1.70545C8.653 1.31493 8.653 0.681761 8.26247 0.291237C7.87195 -0.0992875 7.23878 -0.0992875 6.84826 0.291237L0.484299 6.6552ZM16.1914 6.3623L1.19141 6.3623V8.3623L16.1914 8.3623V6.3623Z" fill="black"/>
      </svg>

      <h3>Cart</h3>
    </div>
    <div class="item-wrap" id="placer">
      -
    </div>
    <div class="summary">

      <form
        action="/cart"
        method="post"
        novalidate>
        <button 
          type="submit"
          name="checkout" 
          class="btn is-black">Checkout</button>
      </form>

      <div class="summary_content">
        <div class="summary_item">
          <span>
            Total:
          </span>
          <span id="total-price">
            -
          </span>
        </div>
        {% comment %} <div class="summary_item">
          <span>
            Discounts:
          </span>
          <span>
            -$20
          </span>
        </div> {% endcomment %}
        <div class="divider"></div>
        <div class="summary_item">
          <span>
            Subtotal:
          </span>
          <span id="sub-total">
            -
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup">
  <svg onclick="togglePop()" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M24.4003 7.61363C24.2769 7.49003 24.1304 7.39196 23.9691 7.32505C23.8078 7.25815 23.6349 7.22371 23.4603 7.22371C23.2857 7.22371 23.1128 7.25815 22.9515 7.32505C22.7902 7.39196 22.6436 7.49003 22.5203 7.61363L16.0003 14.1203L9.4803 7.6003C9.35686 7.47686 9.21031 7.37894 9.04902 7.31213C8.88774 7.24532 8.71487 7.21094 8.5403 7.21094C8.36572 7.21094 8.19286 7.24532 8.03157 7.31213C7.87029 7.37894 7.72374 7.47686 7.6003 7.6003C7.47686 7.72374 7.37894 7.87029 7.31213 8.03157C7.24532 8.19286 7.21094 8.36572 7.21094 8.5403C7.21094 8.71487 7.24532 8.88774 7.31213 9.04902C7.37894 9.21031 7.47686 9.35686 7.6003 9.4803L14.1203 16.0003L7.6003 22.5203C7.47686 22.6437 7.37894 22.7903 7.31213 22.9516C7.24532 23.1129 7.21094 23.2857 7.21094 23.4603C7.21094 23.6349 7.24532 23.8077 7.31213 23.969C7.37894 24.1303 7.47686 24.2769 7.6003 24.4003C7.72374 24.5237 7.87029 24.6217 8.03157 24.6885C8.19286 24.7553 8.36572 24.7897 8.5403 24.7897C8.71487 24.7897 8.88774 24.7553 9.04902 24.6885C9.21031 24.6217 9.35686 24.5237 9.4803 24.4003L16.0003 17.8803L22.5203 24.4003C22.6437 24.5237 22.7903 24.6217 22.9516 24.6885C23.1129 24.7553 23.2857 24.7897 23.4603 24.7897C23.6349 24.7897 23.8077 24.7553 23.969 24.6885C24.1303 24.6217 24.2769 24.5237 24.4003 24.4003C24.5237 24.2769 24.6217 24.1303 24.6885 23.969C24.7553 23.8077 24.7897 23.6349 24.7897 23.4603C24.7897 23.2857 24.7553 23.1129 24.6885 22.9516C24.6217 22.7903 24.5237 22.6437 24.4003 22.5203L17.8803 16.0003L24.4003 9.4803C24.907 8.97363 24.907 8.1203 24.4003 7.61363Z" fill="white"/>
    </svg>    
  <div class="content">
    <iframe id="popup-video" width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>


<script>
  let formatter,cartData;
  let updater = null;
  let curr = '{{ shop.money_format }}'.split('{')[0];
  let sym = '{{ cart.currency.iso_code }}';

  $(document).ready(function(){
    const navbar = document.querySelector('nav');
    load();
    
    $(".cart").click(() => {
      navbar.classList.remove('menu');
      let menu = $('nav .mobile-menu');
      menu[0].style.maxHeight = null;
      navbar.classList.toggle('open');
      load()
    });

    $("#close-cart").click(() => {
      navbar.classList.remove('menu');
      let menu = $('nav .mobile-menu');
      menu[0].style.maxHeight = null;
      navbar.classList.remove('open');
    });

    $(".menu-toggle").click(() => {
      navbar.classList.remove('open');
      navbar.classList.toggle('menu');
      let menu = $('nav .mobile-menu');
      if (menu[0].style.maxHeight) {
        menu[0].style.maxHeight = null;
      } else {
        menu[0].style.maxHeight = menu[0].scrollHeight + "px";
      }
    });

    window.addEventListener('scroll', () => {
      if (window.scrollY > 50) {
        {% comment %} if (location.pathname === '/') {
          if(window.scrollY > (document.querySelector('.hero').offsetHeight-50)){
            navbar.classList.add('white');
          }else{
            navbar.classList.remove('white');
          }
        } {% endcomment %}
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    });
  });

  function togglePop(){
    let vid = document.querySelector('nav #popup-video');
    const popup = document.querySelector('nav .popup');
    const elem = event.currentTarget
    vid.setAttribute('src', '')
    setTimeout(()=>{
      if(elem.getAttribute('data-video')){
        vid.setAttribute('src', elem.getAttribute('data-video'))
      }
      popup.classList.toggle('active')
    },100)
  }

  function tmplt(item) {
    return `<div class="item">
        <button class="close" onclick="clearCart()">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.927772" y1="0.694298" x2="12.2415" y2="12.008" stroke="#232323" stroke-opacity="0.5" />
            <line x1="12.545" y1="0.894569" x2="1.23125" y2="12.2083" stroke="#232323" stroke-opacity="0.5" />
          </svg>
        </button>

        <img src="${item.image}" alt="">
        <div class="item_content">
          <h4>${item.variant_title && item.variant_title != 'null' ? item.variant_title : item.title}</h4>
          <span>
            ${item.newPrice}
          </span>
        </div>
      </div>`
  }

  const formatCost = (cost) => {
    let formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: sym,
    })

    if (sym === 'SGD') {
      formatter = new Intl.NumberFormat('en-US', {
        style: 'decimal',
      })
      return 'S$' + formatter.format(cost)
    }

    return formatter.format(cost)
  }

  function stepperUp(s, id) {
    var q_elem
    if (s) {
      q_elem = $(event.currentTarget).prev()[0]
  
      q_elem.value = parseInt(q_elem.value) + 1
    } else {
      q_elem = $(event.currentTarget).next()[0]
  
      if ((parseInt(q_elem.value) - 1) >= 1) {
        q_elem.value = parseInt(q_elem.value) - 1
      }
    } 
    updateThis(id)
  }

  const focusMe = (id) => {
    document.querySelector('#' + id).classList.toggle('focus')
  }

  const load = () => {
    try {
      $('#placer').html('');

      if (updater && typeof updater.abort === 'function') {
        updater.abort();
      }
  
      updater = jQuery.ajax({
        type: 'GET',
        url: window.Shopify.routes.root + "cart.js",
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          let dataResult;

          try {
            dataResult = typeof data === 'string' ? JSON.parse(data) : data;
          } catch (e) {
            console.error('Failed to parse JSON:', e);
            return;
          }
          
          let dd = dataResult.items;
          cartData = dataResult;
          updater = null;
          
          $('#total-price').html(formatCost(parseFloat(cartData.total_price / 100)));
          $('#sub-total').html(formatCost(parseFloat(cartData.items_subtotal_price / 100)));
          
          if (dd.length > 0) {
            if(window.innerWidth < 1200){
              $('#cart-btn').show()
              $('#buy-btn').hide()
            }
            $('nav .cart-menu .summary .btn').addClass('active');
            dd.forEach((s) => {
              s.newPrice = formatCost(parseInt(s.price / 100));
              $('#placer').append(tmplt(s));
            });
          } else {
            if(window.innerWidth < 1200){
              $('#cart-btn').hide()
              $('#buy-btn').show()
            }
            $('nav .cart-menu .summary .btn').removeClass('active');
            $('#placer').append(`<div>No data</div>`);
          }

          try{
            let countP = document.querySelectorAll('.cart-menu .item-wrap .item')
          
            if(countP.length > 0){
                document.querySelector('#AddToCart').setAttribute('disabled', true);
                document.querySelector('#AddToCart').innerText = "You already have items in cart!";
            }
          }catch(e){}
        },
        error: function(xhr, status, error) {
          return false;
        }
      });
    
      
    } catch (e) {
      console.error("Load function error:", e);
    }
  };
  
  const updateThis = (id, q) => {
    try {
      if (updater && typeof updater.abort === 'function') {
        updater.abort();
      }
      
      updater = jQuery.ajax({
        type: 'POST',
        url: window.Shopify.routes.root + 'cart/change.js',
        data: {
          "id": id,
          "quantity": q ? 0 : $('#updates_' + id).val()
        },
        success: function(data) {
          load();
        },
        error: function(xhr, status, error) {
          console.error("Error updating cart:", status, error);
        }
      });
    } catch (e) {
      console.error("Update function error:", e);
    }
  };

  const clearCart = () => {
    try {
      if (updater && typeof updater.abort === 'function') {
        updater.abort();
      }

  
      updater = jQuery.ajax({
        type: 'POST',
        url: window.Shopify.routes.root + 'cart/clear.js',
        dataType: 'json',
        success: function(data) {
          window.location.reload();
        },
        error: function(xhr, status, error) {
          console.error("Error updating cart:", status, error);
        }
      });
    } catch (e) {
      console.error("Update function error:", e);
    }
  };
  
  const addThis = (data, callback) => {
    try {
      if (updater && typeof updater.abort === 'function') {
        updater.abort();
      }
      
      updater = jQuery.ajax({
        type: 'POST',
        url: window.Shopify.routes.root + 'cart/add.js',
        data: JSON.stringify({
          'items': data
         }),
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          callback(true);
        },
        error: function(xhr, status, error) {
          callback(false);
        }
      });
    } catch (e) {
      console.error("Add function error:", e);
      callback(false);
    }
  };
  
</script>

{% schema %}
  {
    "tag": "div",
    "settings": [
      {
        "type": "link_list",
        "id": "menu_right",
        "default": "main-menu",
        "label": "Right navbar Menu"
      },
      {
        "type": "link_list",
        "id": "menu_left",
        "label": "Left Navbar Menu"
      },
      {
        "type": "product",
        "id": "section_product",
        "label": "Selected product"
      }
    ]
  }
{% endschema %}