{% assign thumb1 = 'news-1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign thumb2 = 'news-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.news{
    padding-bottom: 31px;
  }
  #shopify-section-{{section.id}}.news .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #shopify-section-{{section.id}}.news .news_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.news .news_grid{
      grid-template-columns: 1fr;
    }
  }
  #shopify-section-{{section.id}}.news .news_item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  #shopify-section-{{section.id}}.news .news_item img{
    width: 100%;
    border-radius: 24px;
    background: var(--orange-light);
    height: 359px;
    object-fit: cover;
  }
  #shopify-section-{{section.id}}.news .news_item:hover h3{
    text-decoration: underline;
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-54">
    Memory Air® <br>
    <span>
      in the News
    </span>
  </h2>
  <div class="news_grid m-btm m-54">
    <div class="news_item">
      <img src="{{ thumb1 }}" alt="" class="m-btm m-32">
      <h3 class="m-btm m-12 p-horizontal p-12">
        #1 Researcher for Olfactory Enrichment
      </h3>
      <p class="m-top m-4 p-horizontal p-12">
        And Ranked in the Top 2% of All Scientists in the World by a Stanford School of Medicine Study.
      </p>
    </div>
    <div class="news_item">
      <img src="{{ thumb2 }}" alt="" class="m-btm m-32">
      <h3 class="m-btm m-12 p-horizontal p-12">
        The Solution to Memory Loss is Right Under Our Nose
      </h3>
      <p class="m-top m-4 p-horizontal p-12">
        Dr. Michael Leon’s TED talk on the importance of smell in memory.
      </p>
    </div>
  </div>
  <a href="" class="btn is-black m-top m-2">
    More Press & Resources
  </a>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "news"
  }
{% endschema %}