{% assign thumb1 = 'news-1-1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign thumb2 = 'news-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.news{
    padding-bottom: 31px;
  }
  #shopify-section-{{section.id}}.news .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #shopify-section-{{section.id}}.news .news_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.news .news_grid{
      grid-template-columns: 1fr;
    }
  }
  #shopify-section-{{section.id}}.news .news_item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
  }
  #shopify-section-{{section.id}}.news .news_item .video{
    width: 100%;
    border-radius: 24px;
    background: var(--orange-light);
    height: 359px;
    object-fit: cover;
  }
  #shopify-section-{{section.id}}.news .news_item:hover h3{
    text-decoration: underline;
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-54">
    {% if section.settings.section_title != blank %}
      {{ section.settings.section_title }}
    {% else %}
      Memory Air® <br>
      <span>
        in the News
      </span>
    {% endif %}
  </h2>
  <div class="news_grid m-btm m-54">
    {% if section.blocks != blank %}
      {%- for block in section.blocks -%}
        {% for article in block.settings.news_blog.articles %}
          <a href="{{ article.url }}" class="news_item">
            <img src="{{ article.img.src | img_url: 'medium' }}" alt="" class="video m-btm m-32">
            
            {% comment %} <iframe width="560" height="315" class="video m-btm m-32" src="{{  block.metafields.settings.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> {% endcomment %}
            
            <h3 class="m-btm m-12 p-horizontal p-12">
              {{ article.title }}
            </h3>
            <div class="m-top m-4 p-horizontal p-12">
              {{ article.content }}
            </div>
          </a>
        {% endfor %}
      {%- endfor -%}
    {% else %}
      <div class="news_item">
        {% comment %} <img src="{{ thumb1 }}" alt="" class="video m-btm m-32"> {% endcomment %}
        <iframe width="560" height="315" class="video m-btm m-32" src="https://www.youtube.com/embed/z9rmilXhO6Q?si=MBsKR5s0EgxA0wkd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
        <h3 class="m-btm m-12 p-horizontal p-12">
          #1 Researcher for Olfactory Enrichment
        </h3>
        <p class="m-top m-4 p-horizontal p-12">
          And Ranked in the Top 2% of All Scientists in the World by a Stanford School of Medicine Study.
        </p>
      </div>
      <div class="news_item">
        {% comment %} <img src="{{ thumb2 }}" alt="" class="video m-btm m-32"> {% endcomment %}

        <iframe width="560" height="315" class="video m-btm m-32" src="https://www.youtube.com/embed/z111FbvY4f4?si=jYuCYh0wYtvpLD-i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <h3 class="m-btm m-12 p-horizontal p-12">
          The Solution to Memory Loss is Right Under Our Nose
        </h3>
        <p class="m-top m-4 p-horizontal p-12">
          Dr. Michael Leon’s TED talk on the importance of smell in memory.
        </p>
      </div>
    {% endif %}
  </div>
  <a href="{{ section.settings.cta_url }}" class="btn is-black m-top m-2">
    More Press & Resources
    {{ section.settings.cta_title }}
  </a>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "news",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "text",
        "id": "cta_title",
        "label": "CTA button title",
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA button url",
      },
    ],
    "blocks": [
      {
        "type": "blog",
        "name": "Blog Post",
        "settings": [
          {
            "type": "blog",
            "id": "news_blog",
            "label": "Select blog post"
          }
        ]
      }
    ],
    "max_blocks": 2,
    "presets": [
      {
        "name": "News section"
      }
    ]
  }
{% endschema %}