{% comment %} for healthcare page {% endcomment %}

{% assign video_section = 'Memory_Air_Video.mp4' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}

	#shopify-section-{{section.id}}.nose {
		background: rgb(251, 249, 248);
		background: linear-gradient(
			0deg,
			rgba(251, 249, 248, 1) 0%,
			rgba(248, 244, 243, 1) 64%,
			rgba(251, 248, 247, 1) 100%
		);
	}
	#shopify-section-{{section.id}} .content {
		margin-top: 42px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		color: var(--color-primary);
	}
	#shopify-section-{{section.id}} .content h3 {
		font-family: "Avenir Next Cyr";
		font-size: 64px;
		font-style: normal;
		font-weight: 450;
		line-height: 100%;
	}
	#shopify-section-{{section.id}} .content p {
		font-family: "General Sans";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
	}
	#shopify-section-{{section.id}} .content video {
		width: 100%;
	}

@media (max-width: 768px) {
	#shopify-section-{{section.id}}.nose {
		background: linear-gradient(
			0deg,
			rgba(251, 249, 248, 1) 0%,
			rgba(248, 244, 243, 1) 64%,
			rgba(251, 248, 247, 1) 100%
		);
		padding: 40px 20px;
		text-align: center;
	}

	#shopify-section-{{section.id}} .content {
		margin-top: 120px;
		max-width: 100%;
		gap: 12px;
		align-items: center;
	}

	#shopify-section-{{section.id}}.nose .container > h2,
	#shopify-section-{{section.id}}.nose .container > h2 > span{
		font-size: 38px;
	}

	#shopify-section-{{section.id}} .content h3 {
		font-size: 24px;
		line-height: 110%;
	}

	#shopify-section-{{section.id}} .content p {
		font-size: 16px;
		line-height: 130%;
		text-align: start;
	}
}


    {% endstyle %}
    
    <div class="container">
        <h2 class="text-center">
        The powerful answer has been right <br>
        <span>
            under our nose...
        </span>
        </h2>

        <div class="content">
					<video autoplay muted loop>
						<source src="{{ video_section }}" type="video/mp4">
					</video>
        </div>
    </div>
    
    
    {% schema %}
        {
            "tag": "section",
            "class": "nose"
        }
    {% endschema %}