<section class="customer-says">
  <div class="container">
    <div class="customer-box">
      {% if section.settings.oct_heading != blank %}
        <h1 class="heading">
          {{ section.settings.oct_heading }}
        </h1>
      {% endif %}
      <div class="custom-flx">
        <!-- Customer Info -->
        <div class="custmr-width">
          <div class="inner-flx">
            <div class="flx-win">
              {% if section.settings.oct_customer_image != blank %}
                <img
                  src="{{ section.settings.oct_customer_image | image_url }}"
                  alt="{{ section.settings.oct_customer_image.alt }}"
                  height=""
                  width=""
                >
              {% endif %}
            </div>
            {% if section.settings.oct_customer_name != blank %}
              <div class="flx-win">
                <img src="{{ 'quote.png' | asset_url }}" alt="*" height="" width="">

                <span>{{ section.settings.oct_customer_name }}</span>
                {% if section.settings.oct_customer_status %}
                  <p>Verified User</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>

        <!-- Message Box -->
        <div class="custmr-width1">
          <div class="message-box">
            <!-- Stars -->
            <ul>
              {% for i in (1..section.settings.oct_rating) %}
                <li>
                  {% if section.settings.oct_star_image %}
                    <img src="{{ section.settings.oct_star_image | image_url }}" alt="{{ section.settings.oct_star_image.alt }}" height="" width="">
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            {% if section.settings.oct_review_title != blank %}
              <span>{{ section.settings.oct_review_title }}</span>
            {% endif %}
            {% if section.settings.oct_review_text != blank %}
              <p>{{ section.settings.oct_review_text }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Our Customers Think",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "html",
      "id": "oct_heading",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "oct_customer_image",
      "label": "Customer Image"
    },
    {
      "type": "text",
      "id": "oct_customer_name",
      "label": "Customer Name",
      "default": "Nancy Steele"
    },
    {
      "type": "checkbox",
      "id": "oct_customer_status",
      "label": "Customer Status",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "oct_star_image",
      "label": "Star Image"
    },
    {
      "type": "range",
      "id": "oct_rating",
      "label": "Star Rating",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "type": "text",
      "id": "oct_review_title",
      "label": "Review Title",
      "default": "I Sleep Deeper and Better!!"
    },
    {
      "type": "textarea",
      "id": "oct_review_text",
      "label": "Review Content",
      "default": "I've been using Memory Air for a few months..."
    }
  ],
  "presets": [
    {
      "name": "Our Customers Think"
    }
  ]
}
{% endschema %}
