{% assign everyday_BW = 'everyday_BW.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign NPR_BW = 'NPR_BW.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign Frontier_BW = 'Frontier_BW.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign medscape_BW = 'medscape_BW.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign CBS_BW = 'CBS_BW.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign aljazeera = 'aljazeera.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign american_psychological_association = 'american_psychological_association.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign cbs_news = 'cbs_news.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign bbc = 'bbc.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign cnn = 'cnn.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign en = 'en.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign fox_news = 'fox_news.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign geriatric_psychiatry = 'geriatric_psychiatry.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign gg_international = 'gg_international.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign hbo = 'hbo.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign nbc_modified = 'nbc-modified.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign science_direct = 'science_direct.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign skynews = 'skynews.png' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.partner{
    padding-block: 64px;
    overflow: hidden;
  }
  #shopify-section-{{section.id}}.partner .container{
    max-width: 100%;
    padding: unset;
  }
  #shopify-section-{{section.id}}.partner .container div{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
  }
  #shopify-section-{{section.id}}.partner .container div img{
    object-fit: contain;
    filter: saturate(0);
    height: 100%;
    width: 160px;
  }
  #shopify-section-{{section.id}}.partner .container div img:hover{
    filter: saturate(1);
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.partner{
      padding-block: 32px;
    }
    #shopify-section-{{section.id}}.partner .container div{
      height: 50px !important;
    }
  }
{% endstyle %}

<div class="container">
  {% if section.settings.partner_object != blank%}
    {%- for partner in section.settings.partner_object -%}
      <div>
        <img src="{{ partner.logo | img_url }}" width="120" />
      </div>
    {%- endfor -%}
  {% else %}
    <div>
      <img src="{{everyday_BW}}" alt="">
    </div>
    <div>
      <img src="{{NPR_BW}}" alt="">
    </div>
    <div>
      <img src="{{Frontier_BW}}" alt="">
    </div>
    <div>
      <img src="{{medscape_BW}}" alt="">
    </div>
    <div>
      <img src="{{CBS_BW}}" alt="">
    </div>
    <div>
      <img src="{{aljazeera}}" alt="">
    </div>
    <div>
      <img src="{{american_psychological_association}}" alt="">
    </div>
    <div>
      <img src="{{cbs_news}}" alt="">
    </div>
    <div>
      <img src="{{bbc}}" alt="">
    </div>
    <div>
      <img src="{{cnn}}" alt="">
    </div>
    <div>
      <img src="{{en}}" alt="">
    </div>
    <div>
      <img src="{{fox_news}}" alt="">
    </div>
    <div>
      <img src="{{geriatric_psychiatry}}" alt="">
    </div>
    <div>
      <img src="{{gg_international}}" alt="">
    </div>
    <div>
      <img src="{{hbo}}" alt="">
    </div>
    <div>
      <img src="{{nbc_modified}}" alt="">
    </div>
    <div>
      <img src="{{science_direct}}" alt="">
    </div>
    <div>
      <img src="{{skynews}}" alt="">
    </div>
  {% endif %}
</div>

<script>
  var selector_slider = '#shopify-section-{{ section.id }}.partner .container'

  $(document).ready(function(){
    $(selector_slider).slick({
      arrows: false,
      dots: false,
      centerMode: true,
      variableWidth: true,
      speed: {{ section.settings.speed }},
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 10,
      pauseOnHover: false,
      pauseOnFocus: false,
    });
  });
</script>


{% schema %}
  {
    "tag": "section",
    "class": "partner",
    "settings": [
      {
        "type": "number",
        "id": "speed",
        "label": "Slider speed",
        "default": 2500,
        "info": "Value in Millisecond"
      },
      {
        "type": "metaobject_list",
        "id": "partner_object",
        "label": "Partner list",
        "metaobject_type": "partners"
      },
    ],
    "presets": [
      {
        "name": "Partner running slider",
        "settings": {
          "speed": 2500
        },
      }
    ]
  }
{% endschema %}