
{% style %}
  #shopify-section-{{section.id}}.partner{
    padding-block: 64px;
    overflow: hidden;
  }
  #shopify-section-{{section.id}}.partner .container{
    max-width: 100%;
    padding: unset;
  }
  #shopify-section-{{section.id}}.partner .container div{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
  }
  #shopify-section-{{section.id}}.partner .container div img{
    object-fit: contain;
    filter: saturate(0);
    height: 100%;
  }
  #shopify-section-{{section.id}}.partner .container div img:hover{
    filter: saturate(1);
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.partner{
      padding-block: 32px;
    }
    #shopify-section-{{section.id}}.partner .container div{
      height: 50px !important;
    }
  }
{% endstyle %}

<div class="container">
  {%- for block in section.blocks -%}
    <div>
      {{ block.settings.image | image_url: width: 120 | image_tag }}
    </div>
  {%- endfor -%}
</div>

<script>
  var selector_slider = '#shopify-section-{{ section.id }}.partner .container'

  $(document).ready(function(){
    $(selector_slider).slick({
      arrows: false,
      dots: false,
      centerMode: true,
      variableWidth: true,
      speed: {{ section.settings.speed }},
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 10,
      pauseOnHover: false,
      pauseOnFocus: false,
    });
  });
</script>


{% schema %}
  {
    "tag": "section",
    "class": "partner",
    "settings": [
      {
        "type": "number",
        "id": "speed",
        "label": "Slider speed",
        "default": 25000,
        "info": "Value in Millisecond"
      },
    ],
    "blocks": [
      {
        "name": "Partner",
        "type": "partner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Partner logo"
          }
        ]
      }
    ]
  }
{% endschema %}