{% assign btm-left = 'btm-card.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign btm-right = 'btm-card-flip.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}} .container{
    display: flex;
    flex-direction: column;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .container{
      padding-bottom: 42px;
    }
  }
  #shopify-section-{{section.id}} h2{
    margin-bottom: 94px;
  }
  #shopify-section-{{section.id}} .card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .card-wrapper{
      flex-direction: column;
      gap: 100px;
    }
  }
  #shopify-section-{{section.id}} .card{
    border-radius: 16px;
    background: var(--color-secondary);
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 24px 42px;
    position: relative;
    align-items: center;
  }
  #shopify-section-{{section.id}} .card .price{
    color: #FFF;
    text-align: center;
    font-family: "Avenir";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 32px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .card .price{
      font-size: 42px;
    }
  }
  #shopify-section-{{section.id}} .card h3{
    color: #FFF;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: -0.64px;
    text-transform: capitalize;
    margin-bottom: 32px;
  }
  #shopify-section-{{section.id}} .card h3 strong{
    font-family: inherit;
    font-size: 52px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}} .card h3{
      font-size: 24px;
    }
  }
  #shopify-section-{{section.id}} .list{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    gap: 16px;
    margin-bottom: 40px;
    color: white;
    height:120px;
  }
  #shopify-section-{{section.id}} .list ul, ol{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-left: 20px;
  }
  #shopify-section-{{section.id}} .list-item{
    color: #FFF;
    font-family: "General Sans Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    gap: 16px;
  }
  #shopify-section-{{section.id}} .list-item svg{
    margin-top:4px;
  }
  #shopify-section-{{section.id}} .card .btn{
    font-family: "General Sans Medium";
    font-weight: 500;
    width: 100%;
  }
  #shopify-section-{{section.id}} .card img{
    position: absolute;
    top: 100%;
    width: 90%;
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center"><span>No</span> Drugs<span>, No</span> Work<span>, No</span> Side Effects</h2>
  <div class="card-wrapper">
    <div class="card">
      <img src="{{ btm-left }}" alt="">
      <h3>
        {% if section.settings.left_card_title != blank %}
          {{ section.settings.left_card_title }}
        {% else %}
          Pay Monthly <br>
          As You Go
        {% endif %}
      </h3>
      <div class="price">
        {% if section.settings.left_card_pricing != blank %}
          {{ section.settings.left_card_pricing }}
        {% else %}
          $799 + $39/mo
        {% endif %}
      </div>
      <div class="list">
        {{ section.settings.card_left_content }}
        <!--
          <div class="list-item">
            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 13.86L8.66667 19.25L17.7433 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.9219 19.25L24.9985 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            $799 One - Time Charge for Device and One Belt
          </div>
          <div class="list-item">
            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 13.86L8.66667 19.25L17.7433 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.9219 19.25L24.9985 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            $39 Per month replacement belts starting in month 2
          </div>
        -->
      </div>
      {% if section.settings.product_left != blank %}
        <a href="{{ section.settings.product_left }}" class="btn is-white">
          {{ section.settings.product_left_title }}
        </a>
      {% else %}
        <a href="" class="btn is-white"> Buy Now </a>
      {% endif %}
    </div>

    <div class="card">
      <img src="{{ btm-right }}" alt="">
      <h3>
        {% if section.settings.right_card_title != blank %}
          {{ section.settings.right_card_title }}
        {% else %}
          Save 15% <br>
          Paying Yearly
        {% endif %}
      </h3>
      <div class="price">
        {% if section.settings.right_card_pricing != blank %}
          {{ section.settings.right_card_pricing }}
        {% else %}
          $799 + 15%
        {% endif %}
      </div>
      <div class="list">
        {{ section.settings.card_right_content }}
        <!--
          <div class="list-item">
            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 13.86L8.66667 19.25L17.7433 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.9219 19.25L24.9985 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            $799 One - Time Charge for Device and One Belt
          </div>
          <div class="list-item">
            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 13.86L8.66667 19.25L17.7433 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.9219 19.25L24.9985 8.75" stroke="white" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            $397 pay Yearly ($33 vs <strike>$39</strike>)
          </div>
        -->
      </div>
      {% if section.settings.product_right != blank %}
        <a href="{{ section.settings.product_right }}" class="btn is-white">
          {{ section.settings.product_right_title }}
        </a>
      {% else %}
        <a href="" class="btn is-white"> Buy Now </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "class": "pricing",
  "settings": [
    {
      "type": "header",
      "content": "Left card"
    },
    {
      "type": "inline_richtext",
      "id": "left_card_title",
      "label": "Left card title"
    },
    {
      "type": "inline_richtext",
      "id": "left_card_pricing",
      "label": "Left card pricing"
    },
    {
      "type": "text",
      "id": "product_left_title",
      "label": "Left CTA title"
    },
    {
      "type": "richtext",
      "id": "card_left_content",
      "label": "Left content"
    },
    {
      "type": "url",
      "id": "product_left",
      "label": "Left CTA url"
    },
    {
      "type": "header",
      "content": "Right card"
    },
    {
      "type": "inline_richtext",
      "id": "right_card_title",
      "label": "Right card title"
    },
    {
      "type": "inline_richtext",
      "id": "right_card_pricing",
      "label": "Right card pricing"
    },
    {
      "type": "text",
      "id": "product_right_title",
      "label": "Right CTA title"
    },
    {
      "type": "richtext",
      "id": "card_right_content",
      "label": "Right content"
    },
    {
      "type": "url",
      "id": "product_right",
      "label": "Right CTA url"
    }
  ]
}
{% endschema %}
