{% assign product_img = 'MemoryAir2.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign video_section = 'Memory_Air.mp4' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.product{
    background-color: #46342C;
    color: white;
  }
  #shopify-section-{{section.id}}.product .container{
    display: flex;
    gap: 99px;
    align-items: flex-start;
    position: sticky;
    top: 25vh;
  }
  @media only screen and (max-width: 780px) {
    #shopify-section-{{section.id}}.product .container{
      flex-direction: column;
      align-items: center;
    }
  }
  #shopify-section-{{section.id}}.product .left-content{
    display: flex;
    gap: 28px;
    /* position: sticky;
    top: 25vh; */
  }
  @media only screen and (max-width: 1200px) {
    #shopify-section-{{section.id}}.product .left-content{
      flex-direction: column;
      align-items: center;
    }
  }
  #shopify-section-{{section.id}}.product .left-content .head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.product .left-content .head{
      align-items: center;
      text-align: center;
    }
  }
  #shopify-section-{{section.id}}.product .left-content .head img{
    flex: 1;
    object-fit: contain;
  }
  #shopify-section-{{section.id}}.product .right-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    /* height: 3000px; */
  }
  #shopify-section-{{section.id}}.product .right-content .item{
    display: flex;
    align-items: center;
    gap: 18px;
    opacity: 0.2;
    height: 200px;
  }
  @media only screen and (max-width: 480px) {
    #shopify-section-{{section.id}}.product .right-content .item{
      opacity: 1;
    }
  }
  #shopify-section-{{section.id}}.product .right-content .item.active{
    opacity: 1;
    /* padding-bottom: 323px; */
  }
  @media only screen and (max-width: 480px) {
    #shopify-section-{{section.id}}.product .right-content .item.active{
      /* padding-bottom: unset; */
    }
  }
  #shopify-section-{{section.id}}.product .right-content .item svg{
    color: white;
    fill: var(--color-secondary);
    border-radius: 50%;
    flex-shrink: 0;
  }
  #shopify-section-{{section.id}}.product .right-content .item.active svg{
    color: var(--color-secondary);
    fill: white;
  }
  @media only screen and (max-width: 480px) {
    #shopify-section-{{section.id}}.product .right-content .item svg{
      color: var(--color-secondary) !important;
      fill: white !important;
    }
  }
  #shopify-section-{{section.id}}.product .left-content video{
    width: 350px;
    object-fit: cover;
    height: 500px;
  }
{% endstyle %}

<div class="container">
  <div class="left-content">
    <div class="head">
      <div>
        <span>
          {{section.settings.section_label}}
        </span>
        <h2 class="m-top m-12">
          {% if section.settings.section_title != blank %}
            {{ section.settings.section_title }}
          {% else %}
            Effortless to use <br>
            <span>
              Trackable results
            </span>
          {% endif %}
        </h2>
      </div>
      <p class="text-16 font-regular">
        {% if section.settings.section_desc != blank %}
          {{section.settings.section_desc}}
        {% else %}
          Sits on your nightstand next to your bed.
        {% endif %}
      </p>
      {% if section.settings.cta_btn_url != blank %}
        <a href="{{ section.settings.cta_btn_url }}" class="btn">
          {{ section.settings.cta_btn_title }}
        </a>
      {% endif %}
    </div>
    {% comment %} <img src="{{product_img}}" alt=""> {% endcomment %}
    <video autoplay muted loop id="asset-product">
      <source src="{{ video_section }}" type="video/mp4">
    </video>
  </div>
  <div class="right-content">
    <div class="item active">
      <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.808" cy="33.6" r="33.6" fill="" stroke="currentColor" />
        <path
          d="M47.7356 40.3818C47.7356 40.2301 47.7806 40.0818 47.8649 39.9557C47.9492 39.8296 48.069 39.7312 48.2091 39.6732C48.3493 39.6151 48.5035 39.5999 48.6523 39.6295C48.8011 39.6591 48.9378 39.7322 49.045 39.8395C49.1523 39.9467 49.2254 40.0834 49.255 40.2322C49.2846 40.381 49.2694 40.5352 49.2113 40.6754C49.1533 40.8155 49.055 40.9353 48.9288 41.0196C48.8027 41.1039 48.6544 41.1489 48.5027 41.1489C48.2992 41.1489 48.1041 41.0681 47.9603 40.9242C47.8164 40.7804 47.7356 40.5853 47.7356 40.3818ZM46.9686 38.8478C47.1203 38.8478 47.2686 38.8028 47.3947 38.7185C47.5209 38.6342 47.6192 38.5144 47.6772 38.3742C47.7353 38.2341 47.7505 38.0799 47.7209 37.9311C47.6913 37.7823 47.6182 37.6456 47.511 37.5383C47.4037 37.431 47.267 37.358 47.1182 37.3284C46.9694 37.2988 46.8152 37.314 46.675 37.372C46.5349 37.4301 46.4151 37.5284 46.3308 37.6546C46.2465 37.7807 46.2015 37.929 46.2015 38.0807C46.2015 38.2841 46.2823 38.4792 46.4262 38.6231C46.57 38.7669 46.7651 38.8478 46.9686 38.8478ZM48.8005 42.4273C48.6654 42.4162 48.5314 42.4591 48.428 42.5467C48.3245 42.6344 48.2601 42.7595 48.2489 42.8946C48.1574 43.9636 47.7624 44.9843 47.1105 45.8365C46.4586 46.6887 45.5769 47.3369 44.569 47.705C43.5612 48.0731 42.4692 48.1456 41.4215 47.9141C40.3738 47.6827 39.414 47.1567 38.6551 46.3983C37.8962 45.6398 37.3697 44.6804 37.1375 43.6329C36.9054 42.5853 36.9772 41.4933 37.3447 40.4852C37.7121 39.4771 38.3598 38.595 39.2116 37.9425C40.0634 37.2901 41.0838 36.8945 42.1528 36.8023C42.22 36.7968 42.2854 36.778 42.3453 36.7472C42.4052 36.7164 42.4585 36.6741 42.502 36.6227C42.5456 36.5713 42.5786 36.5118 42.5992 36.4476C42.6198 36.3835 42.6275 36.3159 42.622 36.2487C42.6164 36.1816 42.5977 36.1162 42.5669 36.0563C42.5361 35.9963 42.4938 35.9431 42.4424 35.8995C42.391 35.8559 42.3315 35.8229 42.2673 35.8024C42.2032 35.7818 42.1356 35.774 42.0684 35.7796C40.8054 35.8882 39.5996 36.3553 38.593 37.126C37.5864 37.8966 36.8209 38.9387 36.3864 40.1296C35.952 41.3206 35.8667 42.6108 36.1406 43.8486C36.4146 45.0864 37.0363 46.2201 37.9327 47.1166C38.8291 48.013 39.9629 48.6347 41.2007 48.9086C42.4384 49.1826 43.7287 49.0973 44.9196 48.6628C46.1106 48.2284 47.1527 47.4628 47.9233 46.4562C48.694 45.4496 49.1611 44.2439 49.2697 42.9808C49.2755 42.9136 49.2679 42.846 49.2474 42.7817C49.2269 42.7175 49.1939 42.6579 49.1503 42.6064C49.1067 42.555 49.0534 42.5127 48.9933 42.4819C48.9333 42.4512 48.8678 42.4326 48.8005 42.4273ZM42.622 37.825C43.5322 37.825 44.422 38.0949 45.1789 38.6006C45.9357 39.1064 46.5256 39.8251 46.8739 40.6661C47.2223 41.507 47.3134 42.4324 47.1358 43.3252C46.9582 44.2179 46.5199 45.038 45.8763 45.6816C45.2326 46.3252 44.4126 46.7636 43.5198 46.9411C42.6271 47.1187 41.7017 47.0276 40.8608 46.6792C40.0198 46.3309 39.301 45.741 38.7953 44.9842C38.2896 44.2273 38.0197 43.3375 38.0197 42.4273C38.0211 41.2071 38.5064 40.0373 39.3692 39.1745C40.232 38.3117 41.4018 37.8264 42.622 37.825ZM42.1106 42.4273C42.1106 42.5629 42.1645 42.693 42.2604 42.7889C42.3563 42.8848 42.4864 42.9387 42.622 42.9387H45.6902C45.8258 42.9387 45.9559 42.8848 46.0518 42.7889C46.1477 42.693 46.2015 42.5629 46.2015 42.4273C46.2015 42.2917 46.1477 42.1616 46.0518 42.0657C45.9559 41.9698 45.8258 41.9159 45.6902 41.9159H43.1333V39.3591C43.1333 39.2235 43.0795 39.0934 42.9836 38.9975C42.8877 38.9016 42.7576 38.8478 42.622 38.8478C42.4864 38.8478 42.3563 38.9016 42.2604 38.9975C42.1645 39.0934 42.1106 39.2235 42.1106 39.3591V42.4273ZM44.6674 37.3137C44.8191 37.3137 44.9674 37.2687 45.0936 37.1844C45.2197 37.1001 45.318 36.9803 45.3761 36.8402C45.4341 36.7 45.4493 36.5458 45.4197 36.397C45.3901 36.2482 45.3171 36.1115 45.2098 36.0042C45.1025 35.897 44.9659 35.8239 44.8171 35.7943C44.6683 35.7647 44.5141 35.7799 44.3739 35.838C44.2337 35.896 44.1139 35.9943 44.0297 36.1205C43.9454 36.2466 43.9004 36.3949 43.9004 36.5466C43.9004 36.75 43.9812 36.9451 44.1251 37.089C44.2689 37.2328 44.464 37.3137 44.6674 37.3137Z"
          fill="currentColor" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M45.9843 25.1111V25.6667C47.252 26.1949 48.3429 27.0736 49.1289 28.1998C49.9149 29.326 50.3635 30.653 50.4222 32.0252C50.4808 33.3973 50.1469 34.7577 49.4598 35.9468C49.36 36.1196 49.2533 36.2877 49.1401 36.4508C47.5004 34.726 45.1839 33.6507 42.6162 33.6507C42.0518 33.6507 41.4995 33.7027 40.9639 33.802C40.9166 33.5658 40.7952 33.3494 40.6155 33.1854C40.4008 32.9896 40.1192 32.8835 39.8287 32.8889C38.5737 32.8955 37.3464 33.2587 36.2898 33.9361C36.2062 33.9912 36.1092 34.0227 36.0091 34.0271C35.909 34.0316 35.8096 34.009 35.7214 33.9616C35.6332 33.9142 35.5594 33.8438 35.5078 33.7579C35.4563 33.672 35.429 33.5738 35.4287 33.4736V21.1514C35.4281 21.0793 35.4418 21.0079 35.469 20.9411C35.4962 20.8744 35.5363 20.8137 35.587 20.7625C36.4451 19.9182 37.5335 19.3461 38.7155 19.1181C39.8975 18.89 41.1206 19.0162 42.2312 19.4807C43.3418 19.9452 44.2904 20.7273 44.9581 21.729C45.6258 22.7307 45.9828 23.9073 45.9843 25.1111ZM43.762 30.6667H44.3176C44.6123 30.6667 44.8949 30.5496 45.1033 30.3412C45.3116 30.1329 45.4287 29.8502 45.4287 29.5556C45.4287 29.2609 45.3116 28.9783 45.1033 28.7699C44.8949 28.5615 44.6123 28.4444 44.3176 28.4444H43.762C43.0253 28.4444 42.3188 28.1518 41.7979 27.6309C41.5399 27.3729 41.3353 27.0667 41.1957 26.7297C41.0561 26.3927 40.9843 26.0315 40.9843 25.6667V25.1111C40.9843 24.8164 40.8672 24.5338 40.6588 24.3254C40.4505 24.1171 40.1678 24 39.8732 24C39.5785 24 39.2959 24.1171 39.0875 24.3254C38.8791 24.5338 38.762 24.8164 38.762 25.1111V25.6667C38.762 26.9928 39.2888 28.2645 40.2265 29.2022C41.1642 30.1399 42.436 30.6667 43.762 30.6667ZM24.4429 20.7919C25.5885 19.6463 27.1418 19.0018 28.762 19C30.367 18.9994 31.9073 19.6323 33.0482 20.7611C33.1501 20.8654 33.207 21.0056 33.2065 21.1514V33.4736C33.2062 33.5738 33.1789 33.672 33.1274 33.7579C33.0758 33.8438 33.002 33.9142 32.9138 33.9616C32.8256 34.009 32.7262 34.0316 32.6261 34.0271C32.526 34.0227 32.429 33.9912 32.3454 33.9361C31.2888 33.2587 30.0615 32.8955 28.8065 32.8889C28.5157 32.8831 28.2338 32.9891 28.0189 33.1849C27.8039 33.3808 27.6722 33.6516 27.6509 33.9417C27.643 34.0924 27.6659 34.2432 27.7182 34.3848C27.7704 34.5264 27.851 34.6559 27.955 34.7653C28.059 34.8748 28.1842 34.9619 28.3229 35.0213C28.4617 35.0808 28.6111 35.1113 28.762 35.1111C29.9408 35.1111 31.0712 35.5794 31.9047 36.4129C32.7382 37.2464 33.2065 38.3768 33.2065 39.5556V44.2611C33.2066 44.3442 33.1881 44.4263 33.1523 44.5013C33.1164 44.5763 33.0643 44.6423 32.9995 44.6944C32.2108 45.3469 31.2822 45.8086 30.2859 46.0438C29.2897 46.279 28.2526 46.2812 27.2554 46.0504C26.2581 45.8195 25.3275 45.3618 24.5359 44.7128C23.7443 44.0638 23.1131 43.241 22.6912 42.3083C22.649 42.2145 22.6336 42.1108 22.6469 42.0087C22.6601 41.9067 22.7015 41.8103 22.7663 41.7304C22.8311 41.6505 22.9168 41.5901 23.0139 41.5561C23.111 41.522 23.2157 41.5156 23.3162 41.5375C24.009 41.6975 24.7177 41.7781 25.4287 41.7778H26.5398C26.6921 41.7781 26.8429 41.7471 26.9827 41.6867C27.1226 41.6264 27.2485 41.5379 27.3527 41.4268C27.4569 41.3157 27.5372 41.1843 27.5885 41.0409C27.6398 40.8975 27.661 40.745 27.6509 40.5931C27.626 40.307 27.4937 40.0409 27.2806 39.8484C27.0675 39.656 26.7895 39.5513 26.5023 39.5556H25.4287C24.2679 39.5573 23.124 39.2771 22.0954 38.7389C20.8772 38.1047 19.8651 37.1364 19.1777 35.9474C18.4903 34.7585 18.1562 33.3982 18.2145 32.026C18.2728 30.6539 18.7212 29.3269 19.5069 28.2005C20.2927 27.0741 21.3833 26.1952 22.6509 25.6667V25.1111C22.6528 23.4909 23.2972 21.9376 24.4429 20.7919ZM28.4087 29.2022C29.3464 28.2645 29.8732 26.9928 29.8732 25.6667V25.1111C29.8732 24.8164 29.7561 24.5338 29.5477 24.3254C29.3393 24.1171 29.0567 24 28.762 24C28.4674 24 28.1847 24.1171 27.9764 24.3254C27.768 24.5338 27.6509 24.8164 27.6509 25.1111V25.6667C27.6509 26.0315 27.5791 26.3927 27.4395 26.7297C27.2999 27.0667 27.0953 27.3729 26.8373 27.6309C26.5794 27.8888 26.2732 28.0934 25.9362 28.233C25.5992 28.3726 25.2379 28.4444 24.8732 28.4444H24.3176C24.0229 28.4444 23.7403 28.5615 23.5319 28.7699C23.3236 28.9783 23.2065 29.2609 23.2065 29.5556C23.2065 29.8502 23.3236 30.1329 23.5319 30.3412C23.7403 30.5496 24.0229 30.6667 24.3176 30.6667H24.8732C26.1992 30.6667 27.471 30.1399 28.4087 29.2022Z"
          fill="currentColor" />
      </svg>
      <div>
        Track your progress through ongoing memory tests
      </div>
    </div>
    
    <div class="item">
      <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.808" cy="33.6" r="33.1" stroke="currentColor" />
        <g clip-path="url(#clip0_492_48966)">
          <path
            d="M37.1836 32.6436H33.8086C33.4673 32.6436 33.1597 32.438 33.0291 32.1227C32.8985 31.8074 32.9707 31.4445 33.212 31.2032L35.1466 29.2686H33.8086C33.3426 29.2686 32.9648 28.8908 32.9648 28.4248C32.9648 27.9588 33.3426 27.5811 33.8086 27.5811H37.1836C37.5249 27.5811 37.8325 27.7866 37.9631 28.1019C38.0937 28.4172 38.0215 28.7801 37.7802 29.0214L35.8456 30.9561H37.1836C37.6496 30.9561 38.0273 31.3338 38.0273 31.7998C38.0273 32.2658 37.6496 32.6436 37.1836 32.6436Z"
            fill="currentColor" />
          <path
            d="M43.9336 25.8936H40.5586C40.2173 25.8936 39.9097 25.688 39.7791 25.3727C39.6485 25.0574 39.7207 24.6945 39.962 24.4532L41.8966 22.5186H40.5586C40.0926 22.5186 39.7148 22.1408 39.7148 21.6748C39.7148 21.2088 40.0926 20.8311 40.5586 20.8311H43.9336C44.2749 20.8311 44.5825 21.0366 44.7131 21.3519C44.8437 21.6672 44.7715 22.0301 44.5302 22.2714L42.5956 24.2061H43.9336C44.3996 24.2061 44.7773 24.5838 44.7773 25.0498C44.7773 25.5158 44.3996 25.8936 43.9336 25.8936Z"
            fill="currentColor" />
          <path
            d="M33.8092 47.9997C25.869 47.9997 19.4092 41.527 19.4092 33.571C19.4092 29.8972 20.7911 26.4035 23.3006 23.7334C25.8932 20.9746 29.4803 19.3648 33.401 19.2004C33.7417 19.1863 34.0561 19.3774 34.2003 19.6854C34.3637 20.034 34.2959 20.4932 33.8458 20.7847C32.8607 21.423 29.6467 23.8664 29.6467 28.5085C29.6467 33.5952 33.785 37.7335 38.8717 37.7335C43.3685 37.7335 45.7821 34.8092 46.6111 33.552C47.017 32.936 47.5576 33.102 47.7236 33.1798C48.0315 33.3242 48.2227 33.6393 48.2084 33.9791C48.0443 37.896 46.4312 41.4863 43.6665 44.0885C40.9868 46.6107 37.4861 47.9997 33.8092 47.9997Z"
            fill="currentColor"" />
        </g>
        <defs>
          <clipPath id=" clip0_492_48966">
            <rect width="28.8" height="28.8" fill="currentColor" transform="translate(19.4082 19.2)" />
            </clipPath>
            </defs>
      </svg>
      <div>
        Works while you sleep.
      </div>
    </div>

    <div class="item">
      <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.808" cy="33.9999" r="33" stroke="currentColor" stroke-width="1.2" />
        <path
          d="M37.6051 31.9636C41.9887 32.4234 45.2966 29.1578 44.8399 24.8755C42.7839 26.1055 40.6079 25.0761 39.2782 26.4396C37.9002 27.8553 37.2972 29.8569 37.6051 31.9636Z"
          fill="currentColor" />
        <path
          d="M23.2265 45.6567C22.6525 45.6567 22.1855 46.1181 22.1855 46.6853C22.1855 47.2525 22.6525 47.7139 23.2265 47.7139C23.8005 47.7139 24.2675 47.2525 24.2675 46.6853C24.2675 46.1181 23.8005 45.6567 23.2265 45.6567Z"
          fill="currentColor" />
        <path
          d="M20.3499 28.8555C18.9672 38.383 26.3296 45.8239 36.0781 44.6303C36.136 44.2788 36.1806 43.9288 36.2148 43.5802C32.3509 43.4183 28.8433 41.9068 26.3043 39.3011C26.1714 39.1647 26.1756 38.9477 26.3136 38.8164C26.4516 38.6849 26.6713 38.6891 26.8043 38.8256C29.2237 41.3086 32.5742 42.7467 36.2685 42.8959C36.4858 38.9238 35.1703 35.2159 32.5292 32.5044C29.5074 29.405 24.666 31.8624 20.3499 28.8555Z"
          fill="currentColor" />
        <path
          d="M30.1652 26.7995C31.5045 26.7995 32.5942 25.7229 32.5942 24.3995C32.5942 23.0762 31.5045 21.9995 30.1652 21.9995C28.8259 21.9995 27.7363 23.0762 27.7363 24.3995C27.7363 25.7229 28.8259 26.7995 30.1652 26.7995Z"
          fill="currentColor" />
        <path
          d="M47.5153 27.8281C47.1326 27.8281 46.8213 28.1357 46.8213 28.5138C46.8213 28.8919 47.1326 29.1996 47.5153 29.1996C47.8979 29.1996 48.2092 28.8919 48.2092 28.5138C48.2092 28.1357 47.8979 27.8281 47.5153 27.8281Z"
          fill="currentColor" />
        <path
          d="M47.6864 33.73C46.189 34.7154 44.5905 34.8255 43.1639 34.924C41.6008 35.0319 40.2507 35.1251 39.1849 36.2191C38.0758 37.3551 37.3024 38.7225 36.8842 40.2836C37.045 41.6932 37.0128 43.1564 36.7773 44.6404C43.657 45.3872 48.5289 40.1891 47.6864 33.73Z"
          fill="currentColor" />
        <path
          d="M47.6894 21.9995C47.9769 21.9995 48.2099 21.7693 48.2099 21.4852C48.2099 21.2012 47.9769 20.9709 47.6894 20.9709C47.402 20.9709 47.1689 21.2012 47.1689 21.4852C47.1689 21.7693 47.402 21.9995 47.6894 21.9995Z"
          fill="currentColor" />
        <path
          d="M22.706 23.7136C22.9935 23.7136 23.2265 23.4834 23.2265 23.1993C23.2265 22.9153 22.9935 22.6851 22.706 22.6851C22.4186 22.6851 22.1855 22.9153 22.1855 23.1993C22.1855 23.4834 22.4186 23.7136 22.706 23.7136Z"
          fill="currentColor" />
        <path
          d="M47.3418 45.314C47.6292 45.314 47.8623 45.0837 47.8623 44.7997C47.8623 44.5157 47.6292 44.2854 47.3418 44.2854C47.0543 44.2854 46.8213 44.5157 46.8213 44.7997C46.8213 45.0837 47.0543 45.314 47.3418 45.314Z"
          fill="currentColor" />
        <path
          d="M40.0556 48.3997C40.3431 48.3997 40.5761 48.1694 40.5761 47.8854C40.5761 47.6013 40.3431 47.3711 40.0556 47.3711C39.7682 47.3711 39.5352 47.6013 39.5352 47.8854C39.5352 48.1694 39.7682 48.3997 40.0556 48.3997Z"
          fill="currentColor" />
        <path
          d="M29.2988 48.0569C29.5863 48.0569 29.8193 47.8266 29.8193 47.5426C29.8193 47.2586 29.5863 47.0283 29.2988 47.0283C29.0113 47.0283 28.7783 47.2586 28.7783 47.5426C28.7783 47.8266 29.0113 48.0569 29.2988 48.0569Z"
          fill="currentColor" />
        <path
          d="M19.9297 40.8567C20.2171 40.8567 20.4501 40.6264 20.4501 40.3424C20.4501 40.0584 20.2171 39.8281 19.9297 39.8281C19.6422 39.8281 19.4092 40.0584 19.4092 40.3424C19.4092 40.6264 19.6422 40.8567 19.9297 40.8567Z"
          fill="currentColor" />
        <path
          d="M37.626 20.6282C37.9134 20.6282 38.1464 20.3979 38.1464 20.1139C38.1464 19.8299 37.9134 19.5996 37.626 19.5996C37.3385 19.5996 37.1055 19.8299 37.1055 20.1139C37.1055 20.3979 37.3385 20.6282 37.626 20.6282Z"
          fill="currentColor" />
        <path
          d="M34.1562 29.1995C34.4437 29.1995 34.6767 28.9692 34.6767 28.6852C34.6767 28.4012 34.4437 28.1709 34.1562 28.1709C33.8688 28.1709 33.6357 28.4012 33.6357 28.6852C33.6357 28.9692 33.8688 29.1995 34.1562 29.1995Z"
          fill="currentColor" />
      </svg>
      <div>
        Natural, safe, and soothing scents for olfactory stimulation.
      </div>
    </div>

    <div class="item">
      <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="33.808" cy="34.2001" r="33" stroke="currentColor" stroke-width="1.2" />
        <g clip-path="url(#clip0_492_49014)">
          <path
            d="M34.0721 35.6899C34.0721 34.3539 35.1551 33.2709 36.4911 33.2709H38.184V19.7253C38.184 19.104 37.6803 18.6003 37.059 18.6003H24.7588C24.1375 18.6003 23.6338 19.104 23.6338 19.7253V43.6052H34.0721V35.6899ZM28.4409 31.5283C28.4409 31.9946 28.0635 32.372 27.5972 32.372C27.1314 32.372 26.7534 31.9946 26.7534 31.5283V29.694C26.7534 29.2282 27.1314 28.8502 27.5972 28.8502C28.0635 28.8502 28.4409 29.2282 28.4409 29.694V31.5283Z"
            fill="currentColor" />
          <path
            d="M47.7879 45.2927C47.6345 45.2927 20.261 45.2927 19.8305 45.2927C19.5982 45.2927 19.4092 45.4817 19.4092 45.714V46.9791C19.4092 47.2114 19.5982 47.4004 19.8305 47.4004H47.7879C48.0202 47.4004 48.2092 47.2114 48.2092 46.9791V45.714C48.2092 45.4817 48.0202 45.2927 47.7879 45.2927Z"
            fill="currentColor" />
          <path
            d="M40.7168 37.4245C41.1505 37.4245 41.3636 37.5959 41.8738 37.9077V34.9585C41.0015 34.9585 40.3383 34.9585 39.5586 34.9585V37.9077C40.0535 37.6052 40.2736 37.4245 40.7162 37.4245H40.7168Z"
            fill="currentColor" />
          <path
            d="M37.8712 34.9585H36.8857C36.2644 34.9585 35.7607 35.4622 35.7607 36.0835V43.6052H45.6726V36.0835C45.6726 35.4622 45.1689 34.9585 44.5476 34.9585H43.5615V38.5242C43.5615 39.5446 42.4393 40.1779 41.5646 39.6413C41.5579 39.6368 40.7231 39.1261 40.7164 39.1216C40.7085 39.1266 39.8754 39.6368 39.8676 39.6419C38.9951 40.1751 37.8712 39.5474 37.8712 38.5242V34.9585Z"
            fill="currentColor" />
        </g>
        <defs>
          <clipPath id="clip0_492_49014">
            <rect width="28.8" height="28.8" fill="currentColor" transform="translate(19.4082 18.6001)" />
          </clipPath>
        </defs>
      </svg>
      <div>
        Monthly refills delivered right to your door.
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', ()=>{
    gsap.registerPlugin(ScrollTrigger);
  
    const items = document.querySelectorAll(".right-content .item");
  
    items.forEach((item, index) => {
        gsap.fromTo(
            item,
            { opacity: 0.3, y: 0, height: 80 },
            {
                opacity: 1,
                y: 0,
                duration: 0.3,
                height: 250,
                scrollTrigger: {
                    trigger: item,
                    start: "center center",
                    end: "bottom center",
                    markers: true,
                    toggleActions: "play reverse play reverse",
                    scrub: false,
                }
            }
        );
    });
  
    ScrollTrigger.create({
        trigger: ".product .left-content",
        start:"top 30%",
        end: "bottom 40%",
        markers: false,
        pin: true,
    })
  
  
    // document.querySelectorAll(".right-content .item").forEach((section, index) => {
    //     gsap.to(section, {
    //         scrollTrigger: {
    //             trigger: section,
    //             start: "top center",
    //             end: "+=100%",
    //             scrub: true,
    //             markers: true,
    //             pin: section.querySelector(".right-content .item svg"),
    //             pinSpacing: false,
    //         },
    //     });
    // });
  }, false);
</script>

{% schema %}
  {
    "tag": "section",
    "class": "product",
    "settings": [
      {
        "type": "text",
        "id": "section_label",
        "label": "Section label",
        "default": "Memory Air<sup>®</sup> is a standalone device"
      },
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "textarea",
        "id": "section_desc",
        "label": "Section description",
      },
      {
        "type": "text",
        "id": "cta_btn_title",
        "label": "CTA button title",
        "default": "Explore Memory Air<sup>®</sup>"
      },
      {
        "type": "url",
        "id": "cta_btn_url",
        "label": "CTA button url"
      },
    ],
    "presets": [
      {
        "name": "Product highlight section",
        "settings": {
          "cta_btn_title": "Explore Memory Air<sup>®</sup>",
        },
      }
    ]
  }
{% endschema %}