<section class="banner-section" style="background-image: url({{ section.settings.pbm_bgimg | image_url }});">
  <div class="banner-flex">
    <div class="banner-width">
        {% if section.settings.pbm_pretitle != blank %}
      <span>{{ section.settings.pbm_pretitle }}</span>
        {% endif %}
        {% if section.settings.pbm_title != blank %}
      <h1>
       {{ section.settings.pbm_title }}
      </h1>
    {% endif %}
    {% if section.settings.pbm_desc != blank %}
      <p>{{ section.settings.pbm_desc }}</p>
    {% endif %}
      <div class="two-btns">
        {% if section.settings.pbm_btn_one != blank %}
        <a href="{{section.settings.pbm_btn_oneLink}}">{{ section.settings.pbm_btn_one }}</a>
        {% endif %}
        <a class="learn-btn" href="{{ section.settings.pbm_btn_twoLink }}">{{ section.settings.pbm_btn_two }}</a>
      </div>
      <div class="baner-list">
        <ul>
            {% for block in section.blocks %}
                {% if block.type == 'pb_features' %}
                    {% if block.settings.pbm_btext != blank or block.settings.pbm_bimg != blank %}
                        <li>
                            {% if block.settings.pbm_bimg != blank %}
                                <img src="{{ block.settings.pbm_bimg | image_url }}" alt="{{ block.settings.pbm_btext }}" width="" height="">
                            {% endif %}
                            {{ block.settings.pbm_btext }}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
    {% if section.settings.pbm_bannerimg != blank %}
    <div class="banner-width1">
      <img src="{{ section.settings.pbm_bannerimg | image_url }}" alt="{{ section.settings.pbm_bannerimg.alt }}" height="" width="">
    </div>
    {% endif %}
  </div>
</section>
{% schema %}
    {
        "name": "Product Banner",
        "disabled_on": {
        "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "image_picker",
                "id": "pbm_bgimg",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "pbm_bannerimg",
                "label": "Banner Image"
            },
            {
                "type": "text",
                "id": "pbm_pretitle",
                "label": "Pre title",
                "default": "Biggest Improvement in Human Memory Ever Discovered"
            },
            {
                "type": "html",
                "id": "pbm_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id":"pbm_desc",
                "label": "Description"
            },
            {
                "type": "text",
                "id": "pbm_btn_one",
                "label": "Button One Label",
                "default":"Buy Now"
            },
            {
                "type": "url",
                "id": "pbm_btn_oneLink",
                "label": "Button One Link"
            },
            {
                "type": "text",
                "id": "pbm_btn_two",
                "label": "Button Two Label",
                "default":"Learn More"
            },
            {
                "type": "url",
                "id": "pbm_btn_twoLink",
                "label": "Button Two Link"
            },
        ],
        "blocks": [
            {
                "type": "pb_features",
                "name": "Feature",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "pbm_bimg",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "pbm_btext",
                        "label": "Text"
                    }

                ]
            }
        ],
        "presets": [
            {
            "name": "Product Banner"
            }
        ]
    }
{% endschema %}




  {% comment %} <script src="js/jquery-3.4.1.js"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.js"
        integrity="sha512-hRhHH3+D9xVKPpodEiYzHWIG8CWbCjp7LCdZ00K3/6xsdC3iT0OlPJLIwxSMEl07gya1Ae8iAqXjMMLpzqqh0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom js -->
    <script src="{{'product-lanidng-custom.js | asset_url'}}"></script>