<section class="faqs-section">
  <div class="container">
    <div class="faqs-flex">
      <div class="faqs-width">
        {% if section.settings.fq_heading != blank %}
        <div class="heading">
          <h2>{{ section.settings.fq_heading }}</h2>
        </div>
        {% endif %}
        {% if section.settings.fq_subheading != blank %}
        <p>{{ section.settings.fq_subheading }}</p>
        {% endif %}
      </div>
      <div class="faqs-width1">
        {% for block in section.blocks %}
            {% if block.type == 'faq' %}
          <div class="faqs-content">
            {% if block.settings.fq_question != blank %}
            <div class="question-faqs">
              <h4>{{ block.settings.fq_question }}</h4>
              <div class="faqs-arrow">
                <img src="{{'arrow-down.png' | asset_url}} " alt="#" height="" width="">
              </div>
            </div>
            {% endif %}
            {% if block.settings.fq_answer != blank %}
            <div class="faqs-answer">
             {{ block.settings.fq_answer }}
            </div>
        {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "FAQ Section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "html",
      "id": "fq_heading",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "fq_subheading",
      "label": "Subheading",
      "default": "Answered in no-time."
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "fq_question",
          "label": "Question",
          "default": "How does Memory Air™ work?"
        },
        {
          "type": "richtext",
          "id": "fq_answer",
          "label": "Answer"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "FAQ Section",
      "category": "FAQ",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
