{% comment %} for healthcare page {% endcomment %}

{% assign science-display = 'science-illus.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review1 = 'expert1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review2 = 'expert2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review3 = 'expert3.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review4 = 'expert4.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review5 = 'expert5.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review6 = 'expert6.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign review7 = 'expert7.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}


#shopify-section-{{section.id}}.review {
	background: linear-gradient(
			180deg,
			rgba(170, 126, 113, 0.0) 0%,
			rgba(170, 126, 113, 0.1) 100%
		), #fff;
}
#shopify-section-{{section.id}}.review .container {
	max-width: 100%;
	padding: unset;
	max-width: 2048px;
}
#shopify-section-{{section.id}}.review h2 {
	margin-bottom: 64px;
}
@media only screen and (min-width: 2048px) {
	#shopify-section-{{section.id}}.review .slider {
		border-radius: 24px;
		overflow: hidden;
	}
}
#shopify-section-{{section.id}}.review .slider_item-wrap {
	padding-inline: 12px;
}
#shopify-section-{{section.id}}.review .slider_item {
	display: flex;
	flex-direction: column;
	max-width: 405px;
	color: var(--color-primary);
}
#shopify-section-{{section.id}}.review .slider_item h3 {
	padding-inline: 16px;
	margin-top: 32px;
}
#shopify-section-{{section.id}}.review .slider_item p {
	flex: 1;
	padding-inline: 16px;
	margin-top: 32px;
	padding-bottom: 42px;
    font-size: 24px;
}
@media only screen and (max-width: 640px) {
  #shopify-section-{{section.id}}.review .slider_item p {
    font-size: 18px;
  }
}
#shopify-section-{{section.id}}.review .slider_item img {
	height: 304px;
	width: 100%;
	object-fit: cover;
	border-radius: 24px;
}
#shopify-section-{{section.id}}.review .slider_item .user {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding-inline: 16px;
}
#shopify-section-{{section.id}}.review .slider_item .user span {
	font-family: "General Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}
#shopify-section-{{section.id}}.review .slider_item .user span:first-child {
	font-weight: 600;
	line-height: 150%;
	text-transform: capitalize;
}

    
    {% endstyle %}
    
    <div class="container">
        <h2 class="text-center">
        What the <br>
        <span>
            Experts Say
        </span>
        </h2>
        <div id="review-slider" class="slider">
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review1 }}" alt="">
            <h3 class="font-medium text-32">
                “Risk free and backed by good science”
            </h3>
            <p>
                “Research shows that the science behind this novel device called Memory Air can improve memory by up to 300%, much better than any drugs. Memory Air is well-suited for everyone since you just plug it in and it delivers while you sleep. This is risk-free and backed by good science. It looks like it’s the first effective method to improve and delay memory loss and it’s very exciting.”
            </p>
            <div class="user">
                <span>Dr. Amy Borenstein, PhD, MPH, FAAN</span>
                <span>
                    Former Professor, University of California, San Diego. Professor Emerita, USF. Author of Alzheimer’s Disease: Life Course Perspectives on Risk Reduction.
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{review2}}" alt="">
            <h3 class="font-medium text-32">
                "The potential to improve quality of life"
            </h3>
            <p>
                “This well designed clinical trial provides convincing evidence of benefit in memory performance and, impressively, structural changes in a part of the brain that plays a key role in memory performance. This relatively simple intervention has the potential to improve the quality of life for a broad spectrum of the population.”
            </p>
            <div class="user">
                <span>Dr. David Thom, MD, PhD, MPH</span>
                <span>
Clinical Professor Emeritus of Medicine, Stanford University School of Medicine. Vice Chair for Research, Family Medicine, University of California San Francisco.
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review3 }}" alt="">
            <h3 class="font-medium text-32">
                "Significantly improved cognitive function and memory"
            </h3>
            <p>
                “The new study published in Frontiers of Neuroscience is very exciting because it shows that a bedside device that alternates natural scents while a person sleeps significantly improved cognitive function and memory. It may seem hard to believe that an approach in healthy adults that requires no active participation can have such beneficial effects, but the scientific rationale is based on decades of research. This is a pivotal finding.”
            </p>
            <div class="user">
                <span>Dr. Lorene Nelson, PhD, MS</span>
                <span>
                  Associate Professor of Epidemiology, Faculty Research Director, Stanford University School of Medicine.
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review4 }}" alt="">
            <h3 class="font-medium text-32">
                "Memory and thinking can be substantially improved"
            </h3>
            <p>
                “Since 1990 I’ve been involved in clinical research for those living with Alzheimer’s disease. Since then, we discovered that the loss of one’s sense of smell occurs in diseases such as Alzheimer’s and Parkinson’s disease. However, up until now, there was no treatment. It’s very exciting that there is now evidence that through stimulating one’s sense of smell, one’s memory and thinking can be substantially improved.”
            </p>
            <div class="user">
                <span>Kim Butrum, RN, MS, GNP-BC</span>
                <span>
                  Gerontological Nurse Practitioner. Senior Vice President, Clinical Service, Silverado Memory Care Communities.
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review5 }}" alt="">
            <h3 class="font-medium text-32">
                "Affordable and does not have side effects like drugs"
            </h3>
            <p>
                “Olfactory stimulation has been shown to greatly improve memory in older people. Memory Air delivers stimulating odors as people sleep, is affordable and does not have side effects like drugs. Its use to prevent age-related memory loss and symptoms of Alzheimer’s disease is very promising.”
            </p>
            <div class="user">
                <span>James Mortimer, PHD</span>
                <span>
                    Professor Emeritus, Director of the Institute on Aging, University of South FLorida. World Leader in Neuroscience Award. Fellow, American Academy of Neurology. 10 Editorial Boards of Scientific Journals. World Expert on Alzheimer’s Disease.
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review6 }}" alt="">
            <h3 class="font-medium text-32">
                "The research showing that olfactory enrichment improves memory is truly impressive"
            </h3>
            <p>
                “The research showing that olfactory enrichment improves memory is truly impressive. It’s great to have Memory Air, an easy-to-use device that provides olfactory stimulation automatically. It will help so many people.”
            </p>
            <div class="user">
                <span>Dr. Edward Abramson, Ph.D.</span>
                <span>
                    Professor Emeritus of Psychology,
                    California State University Clinical Psychologist
                </span>
            </div>
            </div>
        </div>
        <div class="slider_item-wrap">
            <div class="slider_item">
            <img src="{{ review7 }}" alt="">
            <h3 class="font-medium text-32">
                "Memory Air will have a transformative impact on your memory loss."
            </h3>
            <p>
                “As a clinical nurse coordinator of pharmaceutical studies of Alzheimer’s drugs, I believe Memory Air will have a transformative impact on your memory loss. This simple and safe solution available without a prescription promises to surpass any results I witnessed as a sub-nvestigator of FDA studies.”
            </p>
            <div class="user">
                <span>Nancy Wassom Bernstein, RN, MS</span>
                <span>
                    Nurse Practitioner
                </span>
            </div>
            </div>
        </div>
        </div>
        <div class="navigation-slider m-top m-78">
        <button id="review-prev">
            <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
            <path d="M45.208 49.5L37.708 42L45.208 34.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
        </button>
        <div id="review-indicator" class="navigation-slider_indicator">
            <div class="bar"></div>
        </div>
        <button id="review-next">
            <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
            <path d="M39.208 34.5L46.708 42L39.208 49.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
        </button>
        </div>
    </div>
    <script>
        $(document).ready(() => {

            $("#review-slider").on("init", (event, slick) => {
                const totalSlides = slick.slideCount;
                const widthPercentage = (1 / totalSlides) * 100;
                $("#review-indicator .bar").css("width", widthPercentage + "%");
            });
        
            $("#review-slider").slick({
                arrows: false,
                dots: false,
                centerMode: true,
                variableWidth: true,
                autoplay: true,
                autoplaySpeed: parseInt({{ section.settings.slider_speed }})*1000,
            });
        
            $("#review-slider").on("afterChange", (event, slick, currentSlide) => {
                const totalSlides = slick.slideCount;
                const widthPercentage = ((currentSlide + 1) / totalSlides) * 100;
                $("#review-indicator .bar").css("width", widthPercentage + "%");
            });
        
            $("#review-prev").click(() => {
                $("#review-slider").slick("slickPrev");
            });
            
            $("#review-next").click(() => {
                $("#review-slider").slick("slickNext");
            });
        
        });

    </script>
    
    {% schema %}
        {
            "tag": "section",
            "class": "review",
            "settings": [
              {
                "type": "range",
                "id": "slider_speed",
                "min": 1,
                "max": 10,
                "step": 1,
                "unit": "Sec",
                "label": "Slider speed",
                "default": 2
              }
            ]
        }
    {% endschema %}