{% assign illus = 'science_illus.png' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.science{
    padding-block: 12px;
  }
  #shopify-section-{{section.id}}.science .science_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.science .science_content{
      flex-direction: column;
    }
  }
  #shopify-section-{{section.id}}.science .science_text-dsc{
    color: #3C2E25;
    font-family: "General Sans Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 54px;
  }
  #shopify-section-{{section.id}}.science .science_right{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #shopify-section-{{section.id}}.science .science_video,
  #shopify-section-{{section.id}}.science .science_video .video{
    width: 100%;
  }
  #shopify-section-{{section.id}}.science .science_video .video{
    height: 500px;
    border-radius: 24px;
    object-fit: cover;
    background: var(--color-primary);
  }
  @media only screen and (max-width: 1048px) {
    #shopify-section-{{section.id}}.science .science_video .video{
      height: 300px;
    }
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.science .science_video .video{
      height: 400px;
    }
  }
  @media only screen and (max-width: 668px) {
    #shopify-section-{{section.id}}.science .science_video .video{
      height: 250px;
    }
  }
  #shopify-section-{{section.id}}.science .science_label{
    font-family: "General Sans Regular";
    color: var(--secondary-50);
    margin-bottom: 36px;
  }
  #shopify-section-{{section.id}}.science .science_stat-wrap{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  #shopify-section-{{section.id}}.science .science_stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  #shopify-section-{{section.id}}.science .science_stat  span{
    max-width: 40%;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.science .science_stat > div{
      font-size: 64px;
    }
    #shopify-section-{{section.id}}.science .science_stat  span{
      font-size: 14px;
      max-width: 100%;
    }
    #shopify-section-{{section.id}}.science .science_right .btn{
      width: 100%;
    }
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-32 text-primary">
    {% if section.settings.section_title != blank %}
      {{ section.settings.section_title }}
    {% else %}
      Memory Air<sup>®</sup> is based on the <br>
      <span>
        Science of Olfactory Enrichment
      </span>
    {% endif %}
  </h2>
  <p class="science_text-dsc">
    Improving your brain by improving your sense of smell
    (We don’t tell people we’re working on their sense of smell until much later. They don’t know what olfaction is.)
  </p>
  <div class="science_content">
    <div class="science_video">
      <iframe width="560" height="315" class="video" src="https://www.youtube.com/embed/f9jJxUscY94?si=gTLKKim0BGkf9GJQ&start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="science_right">
      <div class="science_label text-16">
        The science behind Memory Air
      </div>
      <div class="science_stat-wrap m-btm m-32">
        <div class="science_stat">
          <div class="font-italic text-80 font-medium text-primary">
            {{ section.settings.percent1 }}
          </div>
          <span class="text-16">
            {{  section.settings.label_percent1 }} 
          </span>
        </div>
        <div class="divider opacity-60"></div>
        <div class="science_stat">
          <div class="font-italic text-80 font-medium text-primary">
            {{ section.settings.percent2 }}
          </div>
          <span class="text-16">
            {{ section.settings.label_percent2 }}
          </span>
        </div>
      </div>
      {% if section.settings.cta_url != blank %}
        <a href="{{section.settings.cta_url}}" class="btn is-black">
          {{section.settings.cta_title}}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "science",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "url",
        "id": "video_url",
        "label": "Video url"
      },
      {
        "type": "text",
        "id": "percent1",
        "label": "Top percent",
        "default": "226%"
      },
      {
        "type": "text",
        "id": "label_percent1",
        "label": "Top percent label",
        "default": "Memory Improvement in Seniors"
      },
      {
        "type": "text",
        "id": "percent2",
        "label": "Bottom percent",
        "default": "300%"
      },
      {
        "type": "text",
        "id": "label_percent2",
        "label": "Bottom percent label",
        "default": "Memory Improvement in People with Dementia/Alzheimer's"
      },
      {
        "type": "text",
        "id": "cta_title",
        "label": "CTA button title",
        "default": "Explore The Science"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA button url"
      },
    ],
    "presets": [
      {
        "name": "Science section",
        "settings": {
          "percent1": "226%",
          "label_percent1": "Memory Improvement in Seniors",
          "percent2": "300%",
          "label_percent2": "Memory Improvement in People with Dementia/Alzheimer's",
          "cta_title": "Explore The Science",
        },
      }
    ]
  }
{% endschema %}