{% assign stories1 = 'stories_ppl1.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign stories2 = 'stories-2.webp' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign stories3 = 'stories_ppl3.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}
  #shopify-section-{{section.id}}.stories{
    background: linear-gradient(180deg, rgba(170, 126, 113, 0.00) 0%, rgba(170, 126, 113, 0.10) 100%), #FFF;
    overflow: hidden;
  }
  #shopify-section-{{section.id}}.stories .container{
    padding: unset;
    max-width: 2048px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #shopify-section-{{section.id}}.stories .stories_card-wrap{
    padding-inline: 12px;
  }
  @media only screen and (min-width: 2048px) {
    #shopify-section-{{section.id}}.stories .stories_slider{
      border-radius: 32px;
      overflow: hidden;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_card{
    display: flex;
    width: 100vw;
    max-width: 1073px;
    height: 520px;
    align-items: stretch;
    gap: 32px;
    border-radius: 32px;
    background: var(--orange-light);
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .stories_card{
      width: 90vw;
      gap: 12px;
      height: auto;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_card img{
    height: 520px;
    border-radius: 24px;
    object-fit: cover;
    width: 439px;
    background-color: lightgray;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .stories_card img{
      width: 40%;
      height: 400px;
      object-position: top;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_card .content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 24px;
    padding-right: 12px;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .stories_card .content{
      padding-inline: 12px;
      padding-block: 20px;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_card .content p{
    color: #000;
    font-family: "General Sans Regular";
  }
  #shopify-section-{{section.id}}.stories .stories_card .user{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  #shopify-section-{{section.id}}.stories .stories_card .user span:last-child{
    color: var(--black-60);
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .stories_card .user span:last-child{
      font-size: 14px;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_navigation{
    position: relative;
    width: 100%;
    max-width: calc( 1440px - 5%);
  }
  @media only screen and (max-width: 680px) {
    #shopify-section-{{section.id}}.stories .stories_navigation{
      display: none;
    }
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .navigation-slider{
      width: 100%;
      gap: 12px;
      padding-inline: 24px;
    }
    #shopify-section-{{section.id}}.stories .navigation-slider_indicator{
      flex: 1;
    }
  }
  #shopify-section-{{section.id}}.stories .stories_navigation button{
    position: absolute;
    left: 0;
    top: -300px;
  }
  #shopify-section-{{section.id}}.stories .stories_navigation button:last-child{
    left: unset;
    right: 0;
  }
  @media only screen and (max-width: 990px) {
    #shopify-section-{{section.id}}.stories .stories_navigation svg,
    #shopify-section-{{section.id}}.stories .navigation-slider svg{
      width: 58px;
    }
  }
{% endstyle %}

<div class="container">
  <h2 class="text-center m-btm m-32">
    {% if section.settings.section_title != blank %}
      {{ section.settings.section_title }}
    {% else %}
      Success <br>
      <span>
        Stories
      </span>
    {% endif %}
  </h2>
  <div class="stories_slider">
    {% if section.settings.testi_list != blank %}
      {%-  for testi in section.settings.testi_list -%}
        <div class="stories_card-wrap">
          <div class="stories_card">
            <img src="{{ testi.photo | image_url }}" alt="">
            <div class="content">
              <div class="text-32 font-medium text-black">
               {{ testi.message | metafield_tag }}
              </div>
              <div class="user text-20">
                <span class="text-black">
                  {{ testi.name }}
                </span>
                <span>
                  {{ testi.title_position }}
                </span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="stories_card-wrap">
        <div class="stories_card">
          <img src="{{ stories1 }}" alt="">
          <div class="content">
            <p class="text-32 font-medium text-black">
              ““I can't believe how easy Memory Air® is to use. It works while I sleep, so I don't have to do any work, or take any pills, or pour anything. And I'm already noticing an improvement in my memory!””
            </p>
            <div class="user text-20">
              <span class="text-black">
                Arron Gladavich, PhD, MPH, FAAN
              </span>
              <span>
                Author, Alzheimer’s Disease: Life Course Perspectives on Risk Reduction
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="stories_card-wrap">
        <div class="stories_card">
          <img src="{{ stories2 }}" alt="">
          <div class="content">
            <p class="text-32 font-medium text-black">
              “I used to have so much anxiety around my memory. Now, I confidently recall names, faces, and important information when I need to. I feel 20 years younger! I can travel with ease!”
            </p>
            <div class="user text-20">
              <span class="text-black">
                Emily Everleigh
              </span>
              <span>
                Senior Innovation Strategist, Nexus Dynamics Ltd.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="stories_card-wrap">
        <div class="stories_card">
          <img src="{{ stories3 }}" alt="">
          <div class="content">
            <p class="text-32 font-medium text-black">
              ““I thought it was too good to be true. Just push a button? But Memory Air® works! I notice my brain being sharper at work and I'm remembering things much better than I used to!””
            </p>
            <div class="user text-20">
              <span class="text-black">
                Sophia Calloway
              </span>
              <span>
                Director of Creative Solutions, Vertex Innovations Inc.
              </span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="stories_navigation">
    <button class="stories-prev">
      <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
        <path d="M45.208 49.5L37.708 42L45.208 34.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <button class="stories-next">
      <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
        <path d="M39.208 34.5L46.708 42L39.208 49.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
  </div>
  <div class="navigation-slider m-top m-78">
    <button class="stories-prev">
      <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
        <path d="M45.208 49.5L37.708 42L45.208 34.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
    <div id="stories-indicator" class="navigation-slider_indicator">
      <div class="bar"></div>
    </div>
    <button class="stories-next">
      <svg width="85" height="84" viewBox="0 0 85 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.208008" width="84" height="84" rx="42" fill="white" />
        <path d="M39.208 34.5L46.708 42L39.208 49.5" stroke="#3C2E25" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>

<script>
  $(document).ready(() => {
    $('.stories_slider').on('init', (event, slick) => {
      const totalSlides = slick.slideCount;
      const widthPercentage = (1 / totalSlides) * 100;
      $('#stories-indicator .bar').css('width', widthPercentage + '%');
    });

    $('.stories_slider').slick({
      arrows: false,
      dots: false,
      centerMode: true,
      variableWidth: true,
      autoplay: true,
      autoplaySpeed: 2000,
    });

    $('.stories_slider').on('afterChange', (event, slick, currentSlide) => {
      const totalSlides = slick.slideCount;
      const widthPercentage = ((currentSlide + 1) / totalSlides) * 100;
      $('#stories-indicator .bar').css('width', widthPercentage + '%');
    });

    $('.stories-prev').click(() => {
      $('.stories_slider').slick('slickPrev');
    });
    $('.stories-next').click(() => {
      $('.stories_slider').slick('slickNext');
    });
  });
</script>

{% schema %}
  {
    "tag": "section",
    "class": "stories",
    "settings": [
      {
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
      {
        "type": "metaobject_list",
        "id": "testi_list",
        "label": "Testimonial list",
        "metaobject_type": "testimonial"
      },
    ],
    "presets": [
      {
        "name": "Stories section"
      }
    ]
  }
{% endschema %}