{% assign product = all_products[section.settings.sp_product] %}
<section class="products-sec">
  <div class="container">
    <div class="product-flex">
      <div class="produt-width">
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for image in product.images %}
              <div class="swiper-slide">
                <img src="{{ image | image_url }}" alt="{{ product.title }}" height="" width="">
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next">
            <img src="{{'slider-right.png' | asset_url}}" alt="#" height="" width="">
          </div>
          <div class="swiper-button-prev"><img src="{{'slider-left.png' | asset_url}}" alt="#" height="" width=""></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for image in product.images %}
              <div class="swiper-slide">
                <img src="{{ image | image_url }}" alt="{{ product.title }}" height="" width="">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="as-seen">
          {% if section.settings.asn_title != blank %}
            <p>{{ section.settings.asn_title }}</p>
          {% endif %}
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'asfi_features' %}
                {% if block.settings.asfi_bimg != blank %}
                  <li><img src="{{ block.settings.asfi_bimg | image_url }}" alt="#" width="" height=""></li>
                {% endif %}
                <li><img src="{{ 'star_icon2.svg' | asset_url}}" alt="#" width="" height=""></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="produt-width1">
        <div class="inner-product-width">
          <div class="inner-prodd">
            <h2>{{ product.title }}</h2>
            <span class="price-main">{{ product.price | money }}</span>
            {% if section.settings.sp_text != blank %}
              {{ section.settings.sp_text }}
            {% endif %}
          </div>
          {% if section.settings.sp_stocktext != blank %}
            <div class="rich-texxt">
              <p>{{ section.settings.sp_stocktext }}</p>
            </div>
          {% endif %}
          <div class="radio-content">
            <p>Subscription Options :</p>
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              {% if product.variants != blank %}
                <div class="flex justify-between">
                  {% for variant in product.variants %}
                    {% if variant.selling_plan_allocations[0] %}
                      <div class="option" form="AddToCartForm">
                        {% for selling_plan in variant.selling_plan_allocations %}
                          <input
                            type="hidden"
                            id="selling-id-{{ variant.id }}"
                            value="{{ selling_plan.selling_plan.id }}"
                          >
                        {% endfor %}

                        <input type="radio" name="id" id="{{ variant.id }}" value="{{ variant.id }}">
                        <label class="image-checkbox" for="{{ variant.id }}">
                          <input type="radio" name="car" value="yearly">
                          <div class="total-data">
                            <div class="uper-flex">
                              <span class="lala"><img src="{{'flame.png' | asset_url}}" alt="#"></span>
                              <div class="populer">
                                <span>Most Popular</span>
                              </div>
                            </div>
                            <span class="title1">Yearly</span>
                            <div class="price-flx">
                              <span class="price1"
                                >$397.00
                                <p>Per Year</p>
                              </span>
                              <div class="save-text">
                                <p>Save 15%</p>
                              </div>
                            </div>
                            {% if variant.metafields.custom.variant_description %}
                              <div class="content-listss">
                                {{ variant.metafields.custom.variant_description | metafield_tag }}
                              </div>
                            {% endif %}
                          </div>
                        </label>
                      </div>
                    {% else %}
                      <input type="hidden" id="product" name="product" value="{{ variant.id }}">
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              <div
                style="display: none !important;"
                class="sealsubs-target-element"
                data-product="{{ product | json | escape }}"
                data-handle="{{ product.handle }}"
              ></div>
              <div class="submit-btns">
                <button class="add-to-cart" type="submit" name="add" id="AddToCart">Add to Cart</button>
              </div>
            </form>
          </div>
          {% if section.settings.sp_pymntIcn %}
            <div class="payment-imgs">
              <img src="{{'payment_icons.svg' | asset_url}}" alt="#" width="" height="">
            </div>
          {% endif %}
          <div class="last-dtas">
            <div class="baner-list">
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'ps_features' %}
                    {% if block.settings.ps_btext != blank or block.settings.ps_bimg != blank %}
                      <li>
                        {% if block.settings.ps_bimg != blank %}
                          <img src="{{ block.settings.ps_bimg | image_url }}" alt="#" width="" height="">
                        {% endif %}
                        {% if block.settings.ps_btext != blank %}
                          {{ block.settings.ps_btext }}
                        {% endif %}
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Subscriptions Product",
  "settings": [
    {
      "type": "product",
      "id": "sp_product",
      "label": "Select Product"
    },
    {
      "type": "richtext",
      "id": "sp_text",
      "label": "Add Text"
    },
    {
      "type": "textarea",
      "id": "sp_stocktext",
      "label": "Stock Text",
      "default": "Limited Stock Available - Sells Out Often"
    },
    {
      "type": "checkbox",
      "id": "sp_pymntIcn",
      "label": "Show/Hide Payment Icons",
      "default": false
    },
    {
      "type": "text",
      "id": "asn_title",
      "label": "As seen Title",
      "default": "As seen in"
    }
  ],
  "blocks": [
    {
      "type": "ps_features",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "ps_bimg",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "ps_btext",
          "label": "Text"
        }
      ]
    },
    {
      "type": "asfi_features",
      "name": "As seen Feature Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "asfi_bimg",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscriptions Product"
    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function () {
    let countP = document.querySelectorAll('.cart-menu .item-wrap .item');

    if (countP.length > 0) {
      document.querySelector('#AddToCart').setAttribute('disabled', true);
      document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
    }

    const bodyElements = document.querySelectorAll('#AddToCartForm label div.option-content span.title');

    bodyElements.forEach((element) => {
      element.innerHTML = element.innerHTML.replace(/®/g, '<sup>®</sup>');
    });
  });

  document.getElementById('AddToCartForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (!cartData.items.length) {
      var variantId = document.querySelector('input[name="id"]:checked').value;
      var deviceId = document.querySelector('input[name="product"]').value;

      var sellingPlanSelect = document.getElementById('selling-id-' + variantId);
      var sellingPlanId = sellingPlanSelect ? sellingPlanSelect.value : null;

      addThis(
        [
          {
            id: deviceId,
            quantity: 1,
          },
          {
            id: variantId,
            quantity: 1,
            selling_plan: sellingPlanId,
          },
        ],
        (result) => {
          if (result) {
            load();
            document.querySelector('nav').classList.add('open');
            document.querySelector('#AddToCart').setAttribute('disabled', true);
            document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
          }
        }
      );
    }
  });
</script>
