{% assign product = all_products[section.settings.sp_product] %}

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

    {% if product.variants != blank %}
        <div class="radio-group">
            {% for variant in product.variants %}
                {% if variant.selling_plan_allocations[0] %}
                    <div class="option" form="AddToCartForm">
                        {% for selling_plan in variant.selling_plan_allocations %}
                            <input type="hidden" id="selling-id-{{ variant.id }}" value="{{ selling_plan.selling_plan.id }}" />
                        {% endfor %}

                        <input type="radio" name="id" id="{{ variant.id }}" value="{{ variant.id }}">

                        <label for="{{ variant.id }}">
                            <div class="custom-checkbox"></div>
                            <div class="option-content">
                                <span class="title">{{ variant.title }}</span>

                                {% if variant.metafields.custom.variant_description %}
                                    {{ variant.metafields.custom.variant_description | metafield_tag }}
                                {% endif %}

                                <span class="price">{{ variant.metafields.custom.price_text }}</span>
                            </div>
                        </label>
                    </div>
                {% else %}
                    <input type="hidden" id="product" name="product" value="{{ variant.id }}">
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
 <input type="hidden" name="return_to" value="/cart">
    <div style="display: none !important;" class="sealsubs-target-element" data-product="{{ product | json | escape }}" data-handle="{{ product.handle }}"></div>

    <button class="add-to-cart" type="submit" name="add" id="AddToCart">Add to cart</button>
</form>




{% schema %}
{
  "name": "Subscriptions Product",
  "settings": [
   {
    "type": "product",
    "id": "sp_product",
    "label": "Select Product"
}
  ],
  "presets": [
    {
      "name": "Subscriptions Product"
    }
  ]
}
{% endschema %}



                <script>
  
    $(document).ready(function(){
      let countP = document.querySelectorAll('.cart-menu .item-wrap .item')
        
      if(countP.length > 0){
          document.querySelector('#AddToCart').setAttribute('disabled', true);
          document.querySelector('#AddToCart').innerText = "You already have items in cart!";
      }
      
      const bodyElements = document.querySelectorAll('#AddToCartForm label div.option-content span.title');

      bodyElements.forEach((element) => {
        element.innerHTML = element.innerHTML.replace(/®/g, '<sup>®</sup>');
      });
    })


    document.getElementById('AddToCartForm').addEventListener('submit', function(event) {
        event.preventDefault();

        if(!cartData.items.length){
            var variantId = document.querySelector('input[name="id"]:checked').value;
            var deviceId = document.querySelector('input[name="product"]').value;

            var sellingPlanSelect = document.getElementById('selling-id-' + variantId);
            var sellingPlanId = sellingPlanSelect ? sellingPlanSelect.value : null;

            addThis([
                {
                    'id': deviceId,
                    'quantity': 1,
                },
                {
                    'id': variantId,
                    'quantity': 1,
                    'selling_plan': sellingPlanId
                }
            ], (result)=>{
                if(result){
                    load();
                    document.querySelector('nav').classList.add('open');
                    document.querySelector('#AddToCart').setAttribute('disabled', true);
                    document.querySelector('#AddToCart').innerText = "You already have items in cart!";
                }
            });
        }
    });

</script>
