{% comment %} {% assign product = all_products[section.settings.sp_product] %} {% endcomment %}
{% assign one_time_product = all_products['twelve-scent-belt'] %}
{% assign one_time_variant_id = 51812622532882 %}
<section class="products-sec">
  <div class="container">
    <div class="product-flex">
      <div class="produt-width">
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for image in one_time_product.images %}
              <div class="swiper-slide">
                <img src="{{ image | image_url }}" alt="{{ product.title }}" height="" width="">
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next">
            <img src="{{'slider-right.png' | asset_url}}" alt="#" height="" width="">
          </div>
          <div class="swiper-button-prev"><img src="{{'slider-left.png' | asset_url}}" alt="#" height="" width=""></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for image in one_time_product.images %}
              <div class="swiper-slide">
                <img src="{{ image | image_url }}" alt="{{ product.title }}" height="" width="">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="as-seen">
          {% if section.settings.asn_title != blank %}
            <p>{{ section.settings.asn_title }}</p>
          {% endif %}
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'asfi_features' %}
                {% if block.settings.asfi_bimg != blank %}
                  <li><img src="{{ block.settings.asfi_bimg | image_url }}" alt="#" width="" height=""></li>
                {% endif %}
                <li><img src="{{ 'star_icon2.svg' | asset_url}}" alt="#" width="" height=""></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="produt-width1">
        <div class="inner-product-width">
          <div class="inner-prodd">
            <h2>Memory Air™</h2>
            <span class="price-main">
              {%- if section.settings.sp_price != blank %}{{ section.settings.sp_price }}{% endif -%}
            </span>
            {% if section.settings.sp_text != blank %}
              {{ section.settings.sp_text }}
            {% endif %}
          </div>
          {% if section.settings.sp_stocktext != blank %}
            <div class="rich-texxt">
              <p>{{ section.settings.sp_stocktext }}</p>
            </div>
          {% endif %}
          <div class="radio-content" id="prod_box">
            <p>Option :</p>
            {% assign product = one_time_product %}

{% form 'product', product, id: 'AddToCartForm' %}
            
              {% comment %} {% if product.variants != blank %} {% endcomment %}
              <div class="flex justify-between">
                <!-- One-Time Purchase Option -->
                <div class="option" form="AddToCartForm">
                  <label class="image-checkbox" for="{{ one_time_variant_id }}">
                    <input type="radio" name="id" id="{{ one_time_variant_id }}" value="{{ one_time_variant_id }}">

                    <div class="total-data">
                      <div class="uper-flex">
                        <span class="lala">
                          <img src="{{ 'flame.png' | asset_url }}" alt="#" width="" height="">
                        </span>
                      </div>

                      <span class="title1">
                        <span class="metafield-single_line_text_field"
                          >Buy Now,<br>
                          Pay Later</span
                        >
                      </span>

                      <div class="price-flx">
                        <span class="price1">
                          <span class="metafield-single_line_text_field">{{ one_time_product.price | money }}</span>
                          <p><span class="metafield-single_line_text_field">One Time</span></p>
                        </span>
                      </div>
                      {% if section.settings.sp_opttext != blank %}
                      <div class="content-listss">
                        {{ section.settings.sp_opttext }}
                      </div>
                      {% endif %}
                    </div>
                  </label>
                </div>

                {% comment %}
                  {% for variant in product.variants %}
                    {% if variant.selling_plan_allocations[0] %}
                      <div class="option" form="AddToCartForm">
                        {% for selling_plan in variant.selling_plan_allocations %}
                          <input
                            type="hidden"
                            id="selling-id-{{ variant.id }}"
                            value="{{ selling_plan.selling_plan.id }}"
                          >
                        {% endfor %}

                        <label class="image-checkbox" for="{{ variant.id }}">
                          <input type="radio" name="id" id="{{ variant.id }}" value="{{ variant.id }}">

                          <div class="total-data">
                            <div class="uper-flex">
                              <span class="lala"
                                ><img src="{{'flame.png' | asset_url}}" alt="#" width="" height=""
                              ></span>
                              {% if variant.metafields.custom.popularity %}
                                <div class="populer">
                                  <span>{{ variant.metafields.custom.popularity | metafield_tag }}</span>
                                </div>
                              {% endif %}
                            </div>
                            {% if variant.metafields.custom.plan_name %}
                              <span class="title1">{{ variant.metafields.custom.plan_name | metafield_tag }}</span>
                            {% endif %}
                            <div class="price-flx">
                              {% if variant.metafields.custom.plan_price %}
                                <span class="price1">
                                  {{- variant.metafields.custom.plan_price | metafield_tag }}
                                  {% if variant.metafields.custom.plan_name %}
                                    <p>Per {{ variant.metafields.custom.plan_name | metafield_tag }}</p>
                                  {% endif -%}
                                </span>
                              {% endif %}
                              {% if variant.metafields.custom.save %}
                                <div class="save-text">
                                  <p>Save {{ variant.metafields.custom.save | metafield_tag }}</p>
                                </div>
                              {% endif %}
                            </div>
                            {% if variant.metafields.custom.variant_description %}
                              <div class="content-listss">
                                {{ variant.metafields.custom.variant_description | metafield_tag }}
                              </div>
                            {% endif %}
                          </div>
                        </label>
                      </div>
                    {% else %}
                      <input type="hidden" id="product" name="product" value="{{ variant.id }}">
                    {% endif %}
                  {% endfor %}
                {% endcomment %}
              </div>
              {% comment %} {% endif %} {% endcomment %}
              <div
                style="display: none !important;"
                class="sealsubs-target-element"
                data-product="{{ product | json | escape }}"
                data-handle="{{ product.handle }}"
              ></div>
              <div class="submit-btns">
                <button class="add-to-cart" type="submit" name="add" id="AddToCart">Add to Cart</button>
              </div>
           
            {% endform %}
          </div>
          {% if section.settings.sp_pymntIcn %}
            <div class="payment-imgs">
              <img src="{{'payment_icons.svg' | asset_url}}" alt="#" width="" height="">
            </div>
          {% endif %}
          <div class="last-dtas">
            <div class="baner-list">
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'ps_features' %}
                    {% if block.settings.ps_btext != blank or block.settings.ps_bimg != blank %}
                      <li>
                        {% if block.settings.ps_bimg != blank %}
                          <img src="{{ block.settings.ps_bimg | image_url }}" alt="#" width="" height="">
                        {% endif %}
                        {% if block.settings.ps_btext != blank %}
                          {{ block.settings.ps_btext }}
                        {% endif %}
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Subscriptions Product",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "sp_price",
      "label": "Custom Price"
    },
    {
      "type": "richtext",
      "id": "sp_text",
      "label": "Add Text"
    },
    {
      "type": "richtext",
      "id": "sp_opttext",
      "label": "Option List Text"
    },
    {
      "type": "textarea",
      "id": "sp_stocktext",
      "label": "Stock Text",
      "default": "Limited Stock Available - Sells Out Often"
    },
    {
      "type": "checkbox",
      "id": "sp_pymntIcn",
      "label": "Show/Hide Payment Icons",
      "default": false
    },
    {
      "type": "text",
      "id": "asn_title",
      "label": "As seen Title",
      "default": "As seen in"
    }
  ],
  "blocks": [
    {
      "type": "ps_features",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "ps_bimg",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "ps_btext",
          "label": "Text"
        }
      ]
    },
    {
      "type": "asfi_features",
      "name": "As seen Feature Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "asfi_bimg",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscriptions Product"
    }
  ]
}
{% endschema %}

{% comment %}
  <script>
    $(document).ready(function () {
      let countP = document.querySelectorAll('.cart-menu .item-wrap .item');

      if (countP.length > 0) {
        document.querySelector('#AddToCart').setAttribute('disabled', true);
        document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
      }

      const bodyElements = document.querySelectorAll('#AddToCartForm label div.option-content span.title');

      bodyElements.forEach((element) => {
        element.innerHTML = element.innerHTML.replace(/®/g, '<sup>®</sup>');
      });
    });

    document.getElementById('AddToCartForm').addEventListener('submit', function (event) {
      event.preventDefault();

      if (!cartData.items.length) {
        var variantId = document.querySelector('input[name="id"]:checked').value;
        var deviceId = document.querySelector('input[name="product"]').value;

        var sellingPlanSelect = document.getElementById('selling-id-' + variantId);
        var sellingPlanId = sellingPlanSelect ? sellingPlanSelect.value : null;

        addThis(
          [
            {
              id: deviceId,
              quantity: 1,
            },
            {
              id: variantId,
              quantity: 1,
              selling_plan: sellingPlanId,
            },
          ],
          (result) => {
            if (result) {
              load();
              document.querySelector('nav').classList.add('open');
              document.querySelector('#AddToCart').setAttribute('disabled', true);
              document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
              window.location.href = '/cart';
            }
          }
        );
      }
    });
  </script>
{% endcomment %}
<script>
   $(document).ready(function () {
    // Disable Add to Cart if items already in cart
    let countP = document.querySelectorAll('.cart-menu .item-wrap .item');
    if (countP.length > 0) {
      document.querySelector('#AddToCart').setAttribute('disabled', true);
      document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
    }

    // Replace ® with <sup>®</sup>
    const bodyElements = document.querySelectorAll('#AddToCartForm label div.option-content span.title');
    bodyElements.forEach((element) => {
      element.innerHTML = element.innerHTML.replace(/®/g, '<sup>®</sup>');
    });
  });

  document.getElementById('AddToCartForm').addEventListener('submit', function (event) {
    event.preventDefault();

    if (!cartData.items.length) {
      const selectedInput = document.querySelector('input[name="id"]:checked');
      if (!selectedInput) return alert('Please select an option');

      const variantId = selectedInput.value;

      // Check if this variant has a selling plan (for subscription variants)
      const sellingPlanSelect = document.getElementById('selling-id-' + variantId);
      const sellingPlanId = sellingPlanSelect ? sellingPlanSelect.value : null;

      // Check if the form has a "device" input (for subscriptions requiring device)
      const deviceInput = document.querySelector('input[name="product"]');
      const deviceId = deviceInput ? deviceInput.value : null;

      // Build cart items array
      let cartItems = [];

      // Include deviceId only if exists and variant is not the one-time product
      if (deviceId && variantId !== '51812622532882') {
        cartItems.push({ id: deviceId, quantity: 1 });
      }

      // Add the selected variant (one-time or subscription)
      let variantItem = { id: variantId, quantity: 1 };
      if (sellingPlanId) variantItem.selling_plan = sellingPlanId;
      cartItems.push(variantItem);

      // Add items to cart
      addThis(cartItems, function (result) {
        if (result) {
          load();
          document.querySelector('nav').classList.add('open');
          document.querySelector('#AddToCart').setAttribute('disabled', true);
          document.querySelector('#AddToCart').innerText = 'You already have items in cart!';
          {% comment %} window.location.href = '/cart'; {% endcomment %}
        }
      });
    }
  });

  // Optional: clean up price text
  document.querySelectorAll('span.price1 span.metafield-single_line_text_field').forEach((el) => {
    el.textContent = el.textContent.replace(/ly/g, '');
  });
</script>
<script>
  document.querySelectorAll('span.price1 span.metafield-single_line_text_field').forEach((el) => {
    el.textContent = el.textContent.replace(/ly/g, '');
  });
</script>
