{% comment %} for abouteus page {% endcomment %}

{% assign advisor-img1 = 'advisor-img1.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign advisor-img2 = 'advisor-img2.png' | asset_url | append: '?v=' | append: 'timestamp' %}
{% assign advisor-img3 = 'advisor-img3.png' | asset_url | append: '?v=' | append: 'timestamp' %}


{% style %}

	#shopify-section-{{section.id}}.technical{
		padding: 80px 0 140px 0;

	}

	#shopify-section-{{section.id}}.technical .technical_wraper{
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	#shopify-section-{{section.id}}.technical .technical_title > h2{
		color: #232323;
		font-family: "Cormorant Garamond";
		font-size: 72px;
		font-style: italic;
		font-weight: 700;
		line-height: 100%;
	}
	#shopify-section-{{section.id}}.technical .technical_title > p{
		color: #232323;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		margin-top: 24px;
		max-width: 1080px;
	}
	#shopify-section-{{section.id}}.technical .technical_advisor{
		max-width: 1045px;
		margin-left: auto;
		margin-right: auto;
	}

	#shopify-section-{{section.id}}.technical .advisor_card{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		margin-block: 40px;
	}
	#shopify-section-{{section.id}}.technical .advisor_card:nth-child(even){
			flex-direction: row-reverse;
		}
	#shopify-section-{{section.id}}.technical .advisor_card-img > img{
		max-width: 450px;
		width: 100%;
		object-fit: cover;
	}

	#shopify-section-{{section.id}}.technical .advisor_card-text{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		max-width: 545px;
		padding: 64px;
	}
	#shopify-section-{{section.id}}.technical .technical_text-btm{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	#shopify-section-{{section.id}}.technical .technical_btm-quotes{
		color: #3C2E25;
		text-align: center;
		font-family: "Cormorant Garamond";
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 155.556%;
		letter-spacing: -0.72px;
	}
	#shopify-section-{{section.id}}.technical .technical_btm-name{
		color: #232323;
		font-family: "Cormorant Garamond";
		font-size: 32px;
		font-style: italic;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -0.1px;
	}

@media (max-width: 1024px) {
    #shopify-section-{{section.id}}.technical {
        padding: 60px 0 100px 0;
    }

    #shopify-section-{{section.id}}.technical .technical_title > h2 {
        font-size: 56px;
    }

    #shopify-section-{{section.id}}.technical .technical_title > p {
        font-size: 20px;
        max-width: 90%;
    }

    #shopify-section-{{section.id}}.technical .advisor_card {
        flex-direction: column;
				gap: 0px;
    }
		#shopify-section-{{section.id}}.technical .advisor_card:nth-child(even){
			flex-direction: column;
		}

    #shopify-section-{{section.id}}.technical .advisor_card-text {
        padding: 40px;
    }

    #shopify-section-{{section.id}}.technical .technical_btm-quotes {
        font-size: 28px;
    }

    #shopify-section-{{section.id}}.technical .technical_btm-name {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    #shopify-section-{{section.id}}.technical {
        padding: 50px 0 80px 0;
    }

    #shopify-section-{{section.id}}.technical .technical_title > h2 {
        font-size: 42px;
    }

    #shopify-section-{{section.id}}.technical .technical_title > p {
        font-size: 18px;
        max-width: 100%;
    }

    #shopify-section-{{section.id}}.technical .advisor_card-img > img {
        width: 100%;
    }

    #shopify-section-{{section.id}}.technical .advisor_card-text {
        padding: 30px;
    }

    #shopify-section-{{section.id}}.technical .technical_btm-quotes {
        font-size: 24px;
    }

    #shopify-section-{{section.id}}.technical .technical_btm-name {
        font-size: 24px;
    }
	#shopify-section-{{section.id}} .mobile-layout{
		flex-direction: column-reverse !important;
    }
	
}

@media (max-width: 480px) {
    #shopify-section-{{section.id}}.technical {
        padding: 40px 0 60px 0;
    }

    #shopify-section-{{section.id}}.technical .technical_title > h2{
        font-size: 32px;
    }

    #shopify-section-{{section.id}}.technical .technical_title > p {
        font-size: 16px;
    }

    #shopify-section-{{section.id}}.technical .advisor_card-img > img {
        width: 100%;
    }

    #shopify-section-{{section.id}}.technical .advisor_card-text {
        padding: 20px;
    }
	
    #shopify-section-{{section.id}} .technical_btm-title {
        font-size: 38px;
    }
	#shopify-section-{{section.id}} .technical_btm-title > span {
        font-size: 38px;
    }
    #shopify-section-{{section.id}}.technical .technical_btm-quotes {
        font-size: 20px;
    }

    #shopify-section-{{section.id}}.technical .technical_btm-name {
        font-size: 20px;
    }
}




{% endstyle %}


<div class="container">

		<div class="technical_wraper">
			<div class="technical_title m-btm m-32">
				<h2>
					{% if section.settings.section_title != blank %}
						{{ section.settings.section_title }}
					{% else %}
							Technical Advisors
					{% endif %}
				</h2>
				<p>
					{% if section.settings.section_dec != blank %}
						{{ section.settings.section_dec }}
					{% else %}
						Our team of technical advisors value real science & deep research bringing their expertise to Memory Air
					{% endif %}
				</p>
			</div>
			<div class="technical_advisor">
				{% if section.blocks != blank %}
					{%- for block in section.blocks -%}
						<div class="advisor_card mobile-layout">
							<div class="advisor_card-text">
								<h3>
									{{ block.settings.advisor_name }}
									<br>
									{{ block.settings.advisor_title }}
								</h3>
								<div class="divider m-vertical m-32"></div>
								<p>
									{{ block.settings.advisor_bio }}
								</p>
							</div>
							<div class="advisor_card-img">
								{{ block.settings.advisor_photo | image_url: width: 450 | image_tag }}
							</div>
						</div>
					{%- endfor -%}
				{% else %}
					<div class="advisor_card">
						<div class="advisor_card-text">
							<h3>
								Stanton Rowe <br>
								Former Chief Scientific Officer & VP Advanced Tech, Edwards Lifesciences	
							</h3>
							<div class="divider m-vertical m-32"></div>
							<p>Stanton Rowe is a leading figure in advanced technology and worldwide clinical research. He is on advisory boards at UC Irvine, Georgia Tech, and Brown University.</p>
						</div>
						<div class="advisor_card-img">
							<img src={{advisor-img1}} alt="">
						</div>
					</div>

					<div class="advisor_card">
						<div class="advisor_card-text">
							<h3>
								Stanton Rowe <br>
								Former Chief Scientific Officer & VP Advanced Tech, Edwards Lifesciences	
							</h3>
							<div class="divider m-vertical m-32"></div>
							<p>Stanton Rowe is a leading figure in advanced technology and worldwide clinical research. He is on advisory boards at UC Irvine, Georgia Tech, and Brown University.</p>
						</div>
						<div class="advisor_card-img">
							<img src={{advisor-img2}} alt="">
						</div>
					</div>

					<div class="advisor_card">
						<div class="advisor_card-text">
							<h3>
								Stanton Rowe <br>
								Former Chief Scientific Officer & VP Advanced Tech, Edwards Lifesciences	
							</h3>
							<div class="divider m-vertical m-32"></div>
							<p>Stanton Rowe is a leading figure in advanced technology and worldwide clinical research. He is on advisory boards at UC Irvine, Georgia Tech, and Brown University.</p>
						</div>
						<div class="advisor_card-img">
							<img src={{advisor-img3}} alt="">
						</div>
					</div>
				{% endif %}
			</div>
			<div class="technical_text-btm m-top m-98">
				<h2 class="technical_btm-title text-center m-btm m-32">
					At Memory Air®<br>
					<span>We’re Building for the future </span>
				</h2>
				<p class="technical_btm-quotes text-center m-vertical m-32">
					“This is just the beginning of our commitment to providing exceptional service and solutions. We're helping those in need and those who want to prevent being in need.”
				</p>
				<span class="technical_btm-name text-center m-top m-32">
					- Alan Bernstein, CEO - Science Lab 3, Makers of MemoryAir
				</span>
			</div>
		</div>
</div>



{% schema %}
	{
		"tag": "section",
		"class": "technical",
		"settings": [
			{
        "type": "textarea",
        "id": "section_title",
        "label": "Section title",
        "info": "Wrap italic font with <span>"
      },
			{
        "type": "textarea",
        "id": "section_dec",
        "label": "Section description",
      },
		],
		"blocks": [
      {
        "name": "Advisor Item",
        "type": "Advisor_item",
        "settings": [
          {
            "type": "image_picker",
            "id": "advisor_photo",
            "label": "Advisor photo"
          },
          {
            "type": "text",
            "id": "advisor_name",
            "label": "Advisor name"
          },
          {
            "type": "text",
            "id": "advisor_title",
            "label": "Advisor title"
          },
          {
            "type": "textarea",
            "id": "advisor_bio",
            "label": "Advisor bio"
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Technical section"
      }
    ]
	}
{% endschema %}