{% comment %} for healthcare page {% endcomment %}

{% assign science-display = 'science-illus.webp' | asset_url | append: '?v=' | append: 'timestamp' %}

{% style %}

    #shopify-section-{{section.id}}.timeline {
        background: var(--color-secondary);
        color: white;
    }
    #shopify-section-{{section.id}}.timeline::before {
        content: "";
        width: 100%;
        height: 105px;
        position: absolute;
        top: 0px;
        background: linear-gradient(
            180deg,
            rgba(251, 248, 247, 1) 0%,
            rgba(56, 51, 47, 0.0) 100%
        );
    }
    #shopify-section-{{section.id}} .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #shopify-section-{{section.id}}.timeline .container  h2 {
        margin-top: 59px;
        margin-bottom: 107px;
    }
    #shopify-section-{{section.id}} .item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 38px;
        padding-bottom: 32px;
        overflow: hidden;
        max-height: 500px;
        position: relative;
        transition: all 200ms ease;
    }
    #shopify-section-{{section.id}} .item-wrap.active::after {
        height: 0;
    }
    #shopify-section-{{section.id}} .item-wrap::after {
        content: "";
        overflow: hidden;
        width: 100%;
        height: 40%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 200ms ease;
        background: rgb(56, 51, 47);
        background: linear-gradient(
            0deg,
            #3c2e25 0%,
            rgba(56, 51, 47, 0.1) 100%
        );
    }
    #shopify-section-{{section.id}} .item {
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr 5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: relative;
        padding-bottom: 82px;
    }
    #shopify-section-{{section.id}} .item::before {
        content: "";
        height: calc( 100% + 82px );
        width: 4px;
        background-color: rgba(232, 232, 232, 0.3);
        grid-area: 1 / 2 / 2 / 3;
        margin: auto;
    }
    #shopify-section-{{section.id}} .item:last-child::before{
        display: none;
    }
    #shopify-section-{{section.id}} .item::after {
        content: "";
        grid-area: 1 / 2 / 2 / 3;
        margin-inline: auto;
        width: 32px;
        height: 32px;
        background-color: white;
        border-radius: 50%;
        /* margin-top: -42px; */
    }
    #shopify-section-{{section.id}} .item:first-child:after {
        margin-top: unset;
    }
    #shopify-section-{{section.id}} .content {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        justify-self: flex-end;
        max-width: 391px;
        font-family: "General Sans";
        font-weight: 500;
        font-size: 24px;
        line-height: 31.2px;
        letter-spacing: 0%;
        /* margin-top: -42px; */
    }
    #shopify-section-{{section.id}} .content .head{
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
    }
    #shopify-section-{{section.id}} .content.right .head,
    #shopify-section-{{section.id}} .item:nth-child(even) .content .head{
        flex-direction: row;
    }
    #shopify-section-{{section.id}} .item-wrap .item .content:first-child {
        margin-top: unset;
    }
    #shopify-section-{{section.id}} .item-wrap .item .content.right,
    #shopify-section-{{section.id}} .item-wrap .item:nth-child(even) .content {
        grid-area: 1 / 3 / 2 / 4;
        justify-self: flex-start;
        
    }
    #shopify-section-{{section.id}} .item-wrap .item .content .date {
        /* align-self: flex-end; */
    }
    #shopify-section-{{section.id}} .item-wrap .item .content.right .date {
        /* align-self: flex-start; */
    }
    #shopify-section-{{section.id}} .item-wrap .item .content.right a,
    #shopify-section-{{section.id}} .item-wrap .item:nth-child(even) .content a{
        margin-left: 80px;
    }

@media (max-width: 768px) {
    #shopify-section-{{section.id}}.timeline .container > h2,
    #shopify-section-{{section.id}}.timeline .container > h2 > span {
        font-size: 38px;
    }
    #shopify-section-{{section.id}} .container {
        padding: unset;
    }
    #shopify-section-{{section.id}} .item-wrap {
        padding-inline: 20px;
    }

    #shopify-section-{{section.id}} .timeline > h2 {
        font-size: 32px;
    }

    #shopify-section-{{section.id}} .content > p {
        font-size: 16px;
        line-height: 150%;
    }

    #shopify-section-{{section.id}} .content .head,
    #shopify-section-{{section.id}} .content.right .head,
    #shopify-section-{{section.id}} .item:nth-child(even) .content .head{
        flex-direction: column;
    }

    #shopify-section-{{section.id}} .item-wrap .item .content.right a,
    #shopify-section-{{section.id}} .item-wrap .item:nth-child(even) .content a{
        margin-left: 0px;
    }

    #shopify-section-{{section.id}} .item-wrap .item .content .date {
        font-size: 16px;
    }
    #shopify-section-{{section.id}} .content > .btn {
        font-size: 12px;
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-left: 12px;
    }
    #shopify-section-{{section.id}} .item::after {
        width: 24px;
        height: 24px;
    }
    #shopify-section-{{section.id}} .content {
        margin-inline: 5px;
    }
}

    {% endstyle %}
    
    <div class="container">
        <h2 class="text-center">
            Memory Air<sup>®</sup> is backed <br>
            by over 16 years <br>
            <span>
                of leading neuroscience research
            </span>
        </h2>
        <div class="item-wrap">
            {% if section.settings.timeline_object != blank%}
                {%- assign sorted_timeline = section.settings.timeline_object | sort: 'year' -%}
                {%- for timeline in sorted_timeline -%}
                  <div class="item">
                    <div class="content">
                        <div class="head">
                            <div class="date">
                                {{ timeline.year }}
                            </div>
                            <p>
                                {{ timeline.content }}
                            </p>
                        </div>
                        <!-- <a target="_blank" href="{{ timeline.pdf_file | file_url }}" class="btn" download="{{ timeline.pdf_file | file_url | split: '?' | first | split: '/' | last }}">
                            View the Research <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.6094 13.2959L14.8594 20.0459C14.6481 20.2572 14.3614 20.3759 14.0625 20.3759C13.7637 20.3759 13.477 20.2572 13.2657 20.0459C13.0543 19.8345 12.9356 19.5479 12.9356 19.249C12.9356 18.9501 13.0543 18.6635 13.2657 18.4521L18.0947 13.6249H4.31348C4.01511 13.6249 3.72896 13.5064 3.51798 13.2954C3.307 13.0844 3.18848 12.7983 3.18848 12.4999C3.18848 12.2016 3.307 11.9154 3.51798 11.7044C3.72896 11.4934 4.01511 11.3749 4.31348 11.3749H18.0947L13.2675 6.54492C13.0562 6.33358 12.9375 6.04693 12.9375 5.74804C12.9375 5.44916 13.0562 5.16251 13.2675 4.95117C13.4789 4.73983 13.7655 4.62109 14.0644 4.62109C14.3633 4.62109 14.6499 4.73983 14.8613 4.95117L21.6113 11.7012C21.7162 11.8058 21.7994 11.9302 21.8561 12.0671C21.9128 12.204 21.9419 12.3507 21.9417 12.4989C21.9415 12.6471 21.9121 12.7938 21.8551 12.9305C21.798 13.0673 21.7146 13.1914 21.6094 13.2959Z"
                                fill="currentColor" />
                            </svg>
                        </a> -->
                       <a target="_blank" href="{{ timeline.url }}" class="btn">
                            View the Research <svg width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21.6094 13.2959L14.8594 20.0459C14.6481 20.2572 14.3614 20.3759 14.0625 20.3759C13.7637 20.3759 13.477 20.2572 13.2657 20.0459C13.0543 19.8345 12.9356 19.5479 12.9356 19.249C12.9356 18.9501 13.0543 18.6635 13.2657 18.4521L18.0947 13.6249H4.31348C4.01511 13.6249 3.72896 13.5064 3.51798 13.2954C3.307 13.0844 3.18848 12.7983 3.18848 12.4999C3.18848 12.2016 3.307 11.9154 3.51798 11.7044C3.72896 11.4934 4.01511 11.3749 4.31348 11.3749H18.0947L13.2675 6.54492C13.0562 6.33358 12.9375 6.04693 12.9375 5.74804C12.9375 5.44916 13.0562 5.16251 13.2675 4.95117C13.4789 4.73983 13.7655 4.62109 14.0644 4.62109C14.3633 4.62109 14.6499 4.73983 14.8613 4.95117L21.6113 11.7012C21.7162 11.8058 21.7994 11.9302 21.8561 12.0671C21.9128 12.204 21.9419 12.3507 21.9417 12.4989C21.9415 12.6471 21.9121 12.7938 21.8551 12.9305C21.798 13.0673 21.7146 13.1914 21.6094 13.2959Z"
                                fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>
                {%- endfor -%}
            {% endif %}
        </div>
        
        <button id="timeline-toggle" class="btn is-outline-black">Show more</button>
    </div>

    <script>
        $(document).ready(() => {
            $("#timeline-toggle").click(() => {
                const wrapper = document.querySelector(".timeline .item-wrap");
                if(wrapper.className.includes('active')){
                    wrapper.classList.remove("active");
                    $(event.currentTarget).text('Show More');
                    wrapper.style.maxHeight = "500px";
                }else{
                    wrapper.classList.add("active");
                    $(event.currentTarget).text('Show Less');
                    wrapper.style.maxHeight = wrapper.scrollHeight + "px";
                }
            });
        });
    </script>
    
    
    {% schema %}
        {
            "tag": "section",
            "class": "timeline",
            "settings": [
                {
                    "type": "url",
                    "id": "url",
                    "label": "PDF url for all button",
                },
                {
                    "type": "metaobject_list",
                    "id": "timeline_object",
                    "label": "TImeline list",
                    "metaobject_type": "timeline"
                },
            ]
        }
    {% endschema %}