<section class="why-memory">
            <div class="container">
                <div class="why-inner">
                    {% if section.settings.wmw_titlet != blank %}
                    <div class="heading">
                        <h2>{{ section.settings.wmw_titlet}}</h2>
                    </div>
                {% endif %}
                    <div class="why-flex">
                        {% if section.settings.wmw_leftText != blank %}
                        <div class="why-width">
                           {{ section.settings.wmw_leftText }}
                        </div>
                    {% endif %}
                    {% if section.settings.wmw_image_1 != blank %}
                        <div class="why-width1">
                            <img src="{{ section.settings.wmw_image_1 | image_url }}" alt="{{ section.settings.wmw_image_1.alt }}" height="" width="">
                        </div>
                    {% endif %}
                    </div>
                    <div class="why-flex">
                        {% if section.settings.wmw_image_2 != blank %}
                        <div class="why-width1">
                            <img src="{{ section.settings.wmw_image_2 }}" alt="{{  section.settings.wmw_image_2.alt }}" height="" width="">
                        </div>
                    {% endif %}
                        {% if section.settings.wmw_rightText != blank %}
                        <div class="why-width">
                            {{ section.settings.wmw_rightText }}
                        </div>
                    {% endif %}
                    </div>
                    <div class="why-content">
                        <p class="arrows">This product is intended as a general wellness device for mental acuity and is not a medical device cleared by the fda.</p>
                        <ul>
                            <li>improve memory in seniors</li>
                            <li>reduce the risk of memory loss</li>
                            <li>designed based upon olfactory enrichment concepts</li>
                        </ul>
                        <p> This device is not intended to diagnose, treat, cure, or prevent disease.</p>
                    </div>
                </div>
            </div>
        </section>
{% schema %}
{
  "name": "Why Memory Air Works",
  "settings": [
    {
      "type": "html",
      "id": "wmw_titlet",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "wmw_leftText",
      "label": "Left Text"
    },
    {
      "type": "image_picker",
      "id": "wmw_image_1",
      "label": "Right Image"
    },
    {
      "type": "richtext",
      "id": "wmw_rightText",
      "label": "Rigth Text"
    },
    {
      "type": "image_picker",
      "id": "wmw_image_2",
      "label": "Left Image"
    },
    {
      "type": "textarea",
      "id": "wmw_disclaimer_top",
      "label": "Top Disclaimer Text"
    },
    {
      "type": "textarea",
      "id": "wmw_disclaimer_bottom",
      "label": "Bottom Disclaimer Text"
    }
  ],
  "blocks": [
    {
      "type": "wmw_feature_list_1",
      "name": "Feature List (Top)",
      "settings": [
        {
          "type": "text",
          "id": "wmw_title",
          "label": "Bold Title"
        },
        {
          "type": "textarea",
          "id": "wmw_description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "wmw_feature_list_2",
      "name": "Feature List (Bottom)",
      "settings": [
        {
          "type": "text",
          "id": "wmw_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "wmw_disclaimer_list",
      "name": "Disclaimer Bullet",
      "settings": [
        {
          "type": "text",
          "id": "wmw_text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Memory Air Works"
    }
  ]
}
{% endschema %}
