<section class="video-testimonials">
  <div class="container">

    {% if section.settings.wpt_section_title != blank %}
      <h2 class="section-title">
        {{ section.settings.wpt_section_title }}
      </h2>
    {% endif %}

    <div class="video-grid">

      {% for block in section.blocks %}
        {% if block.type == 'wpt_video_card' %}
        <div class="video-card" {{ block.shopify_attributes }}>

          {% if block.settings.wpt_video != blank %}
  {{
    block.settings.wpt_video
    | video_tag:
      playsinline: true,
      preload: 'metadata',
      controls: false
  }}
{% endif %}

          <!-- Play / Pause -->
          <div class="video-overlay control-btn play-btn">
            <img src="{{ 'play.png' | asset_url }}" alt="Play" height="" width="">
          </div>

          <div class="video-overlay control-btn pause-btn">
            <img src="{{ 'pause.png' | asset_url }}" alt="Pause" height="" width="">
          </div>

          <!-- Volume -->
          <div class="volume-btn">
            <img src="{{ 'volume-off.png' | asset_url }}" alt="Volume" height="" width="">
          </div>

        </div>
    {% endif %}
      {% endfor %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "People Are Talking",
  "settings": [
    {
      "type": "text",
      "id": "wpt_section_title",
      "label": "Section Title",
      "default": "Why People Are <em>Talking</em> About Memory Air"
    }
  ],
  "blocks": [
    {
      "type": "wpt_video_card",
      "name": "Video Card",
      "settings": [
        {
          "type": "video",
          "id": "wpt_video",
          "label": "Video"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Why People Are Talking About Memory Air",
      "blocks": [
        { "type": "wpt_video_card" },
        { "type": "wpt_video_card" },
        { "type": "wpt_video_card" }
      ]
    }
  ]
}
{% endschema %}
