{% style %}
  h1{
    text-align: center;
    margin-bottom: 42px;
  }
  .checkout-form{
    max-width: 100%;
  }
  .checkout-form .thumbnail{
    width: 100px;
    border-radius: 12px;
    height: 100px;
    object-fit: cover;
  }
  .checkout-form table{
    text-align: left;
  }
  .checkout-form table thead th{
    border-bottom: 1px solid grey;
    padding: 12px;
  }
  .checkout-form table td{
    padding: 12px;
  }
  .checkout-form table .product{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .btm-total{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
  }
  .btm-total .btn-wrapper{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
{% endstyle %}

<section style="min-height: 70vh;padding-top: 20vh;">
  <div class="container">
    <h1>Shopping Cart</h1>
    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" class="checkout-form" novalidate>
        <table>
          <thead>
            <th colspan="2">Prod</th>
            <th>Price</th>
            <th>Qty</th>
            <th>total</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td>
                  <a href="{{ item.url | within: collections.all }}">
                    <img class="thumbnail" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  </a>
                </td>

                <td>
                  <div class="product">
                    <a href="{{ item.url }}">{{ item.product.title }}</a>
                    {{ item.variant.title }}
                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                  </div>
                </td>
                <td>{{ item.price | money }}</td>
                <td>
                  <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                </td>
                <td>
                  {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="btm-total">
          <p>sub total : {{ cart.total_price | money }}</p>
          <div class="btn-wrapper">
            <button type="submit" class="btn is-black" name="update">Update</button>
            <button type="submit" class="btn is-black" name="checkout">Checkout</button>
          </div>
        </div>
      </form>
    {% else %}
      Cart is empty
    {% endif %}
    
  </div>
</section>

